<!-- <div class="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">        
        <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" >
                <div class="logo"><img src="assets/logo.png"></div>
                <h3 class="box-title m-b-20">Login</h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" autocomplete="off" required="" placeholder="Username" formControlName="username"> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password" formControlName="password"> </div>
                </div>
                <div class="text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
    
</div> -->
<div class="wrapper vertical-layout page-header-light vertical-menu-collapsible vertical-gradient-menu preload-transitions 1-column login-bg   blank-page blank-page">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <div class="logo"><img style="width:219px" src="assets/logo.png"></div>
                    <!-- <h3>Sign In</h3> -->
                    <br><br>
                </div>

                <div class="card-body">
                    <form class="form-horizontal form-material" (submit)="login()" [formGroup]="loginForm">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Your Email" formControlName="email">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter Your Ppassword" formControlName="password">
                        </div>
                        <div class="form-group" *ngIf="isError">                                           
                            <span style="color: red;">Username/Password is incorrect.</span>
                        </div>
                        <div class="form-group">
                            <button class="btn float-right login_btn" type="submit">Log In</button>
                            <!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <!-- <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="#">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="#">Forgot your password?</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
