 
.container{align-content: center;}
.card{ margin-top: 100px;margin-bottom: auto;width: 400px;color:#1fa39a;}
.card-header h3{color: black;}
.card-footer{background-color: #1fa39a;}
.input-group-prepend span{background-color: #1fa39a;color: white;border:0 !important;}
input:focus{outline: 0 0 0 0  !important;box-shadow: 0 0 0 0 !important;}
.remember{color: black;}
.remember input{width: 20px;height: 20px;margin-left: 15px;margin-right: 5px;}
.login_btn{color: white;background-color: #1fa39a;width: 40%;}
.login_btn:hover{color: white;background-color: #1fa39a;}
.links{color: white;}
.links a{margin-left: 4px;color: white;}
.links a:hover{color: black;}
.logo {display: inline-block;margin: 0 auto;position: relative;width: 100%;text-align: center;} */


/*----------------------------------------
    Login Page
------------------------------------------*/
.login-bg {
    background-image: url("https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/gallery/flat-bg.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #login-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
  }
  
  #login-page .card-panel.border-radius-6.login-card {
    margin-left: 0 !important;
  }
 