<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
  
      <!-- Sidebar -->
      <div class="sidebar">  
        <!-- Sidebar Menu -->
        <nav class="mt-1">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-remarks" class="nav-link " *ngIf="user.type && user.type == 3">
              <i class="nav-icon fa fa-book"></i>
              <p>Remarks</p>
            </a>
          </li>
          <li class="nav-item">
             <a routerLink="/admin-reports" class="nav-link active">
              <i class="fas fa-clipboard-list nav-icon"></i>
              <p>Reports</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/users" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-users nav-icon"></i>
              <p>Users</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link " >
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-settings" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-cog nav-icon"></i>
              <p>Settings</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-spinner nav-icon"></i>
              <p>Signzy Log</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/appLink" class="nav-link " *ngIf="user.type && user.type != 3">
            <i class="fa fa-mobile nav-icon"></i>
            <p>App Link</p>
          </a> 
        </li> 
          <li class="nav-item">
          <a routerLink="/deleteForms" class="nav-link ">
            <i class="fa fa-ban nav-icon"></i>
            <p>Delete Forms</p>
          </a>
          </li>

            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a  routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li> 
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
      <div class="content-header"> 
        <div class="container-fluid" >
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Admin Reports</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Admin Reports</li>
              </ol>
            </div>
          </div>
        </div>
      </div>     

      <section class="content"  >
        <div class="container-fluid">
            <div class="card card-body">
              <form (submit)="findReports()" [formGroup]="ReportsFormGroup" class="kyc-form">

                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="kyc-full-width">
                      <mat-label>Mobile Number/ Pan Number /Name/ R.Code/ S.code</mat-label>
                      <input matInput placeholder="Enter mobile Number/ Pan Number" formControlName="uservalue">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <input matInput (click)="pickerfromdate.open()" [min]="minFromDate" [max]="maxFromDate"
                        [matDatepicker]="pickerfromdate" placeholder="From Date" formControlName="fromdate"
                        [(ngModel)]="fromdate" (dateChange)="addEvent('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerfromdate></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <input matInput (click)="pickertodate.open()" [min]="minToDate" [max]="maxToDate"
                        [matDatepicker]="pickertodate" placeholder="To Date" formControlName="todate" [(ngModel)]="todate">
                      <mat-datepicker-toggle matSuffix [for]="pickertodate"></mat-datepicker-toggle>
                      <mat-datepicker #pickertodate></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <input matInput [min]="minToDate" (click)="pickermodifrom.open()" [max]="maxToDate"
                        [matDatepicker]="pickermodifrom" placeholder="Modified From Date" formControlName="frommodifieddate">
                      <mat-datepicker-toggle matSuffix [for]="pickermodifrom"></mat-datepicker-toggle>
                      <mat-datepicker #pickermodifrom></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <input matInput [min]="minToDate" (click)="pickermodito.open()" [max]="maxToDate"
                        [matDatepicker]="pickermodito" placeholder="Modified To Date" formControlName="modifiedtodate">
                      <mat-datepicker-toggle matSuffix [for]="pickermodito"></mat-datepicker-toggle>
                      <mat-datepicker #pickermodito></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <input matInput [min]="minToDate" (click)="pickerrcodeto.open()" [max]="maxToDate"
                        [matDatepicker]="pickerrcodeto" placeholder="R Code From Date" formControlName="rcodefromdate">
                      <mat-datepicker-toggle matSuffix [for]="pickerrcodeto"></mat-datepicker-toggle>
                      <mat-datepicker #pickerrcodeto></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <input matInput [min]="minToDate" (click)="pickerrcodefrom.open()" [max]="maxToDate"
                        [matDatepicker]="pickerrcodefrom" placeholder="R Code To Date" formControlName="rcodetodate">
                      <mat-datepicker-toggle matSuffix [for]="pickerrcodefrom"></mat-datepicker-toggle>
                      <mat-datepicker #pickerrcodefrom></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <mat-select placeholder="Kyc Mode" formControlName="kycMode">
                        <mat-option *ngFor="let mode of kycModeList" value="{{mode.value}}">{{mode.value}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="search-full-width">
                      <mat-select placeholder="Status" formControlName="kycStatus" [(ngModel)]="kycStatus">
                        <mat-option *ngFor="let statusval of statusList" value="{{statusval.key}}">{{statusval.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <input type="hidden" formControlName="page" name="page" [(ngModel)]="page">
                    <!-- <button class="btn btn-navbar" mat-button type="submit">
                      <i class="fas fa-search"></i>
                    </button> -->
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="reports-full-width">
                      <mat-select placeholder="sortby" formControlName="sortby">
                        <mat-option   value="">Select One</mat-option>
                        <mat-option   value="updated_at">MODIFIED ON</mat-option>
                        <mat-option   value="created_at">CREATED ON</mat-option> 
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="search-full-width">
                      <mat-select placeholder="Sorting" formControlName="sortdata">
                        <mat-option  value="">Select One</mat-option>
                        <mat-option  value="ASC">Ascending Order</mat-option>
                        <mat-option  value="DESC">Descending Order</mat-option>
                      </mat-select>
                    </mat-form-field>
                   
                    <button class="btn btn-navbar" mat-button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div> 
                
              </form> 
            </div>
            
  
            <div class="card card-body" *ngIf="loader">
              <img class="center-block" src="../../assets/ajax-loading.gif">
            </div>

            <div class="card card-body" *ngIf="showlist || !loader">
                <div *ngIf="showlist"> 
                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <div *ngIf='reportsList.length !== 0'>
                                <strong>Total Records</strong> : <span>{{length}}</span> 
                            </div>
                        </div>
                        <div class="col-md-6 pull-right text-right"> 
                            <!-- <a *ngIf='reportsList.length !== 0' class="btnwidth exptoexclbtn" href="{{apiBaseUrl}}/downloadReportHistroy?fromdate={{fromdate}}&todate={{todate}}&kycStatus={{kycStatus}}&token={{tokenvar}}"><i class="fa fa-file-excel-o"></i> Export to Excel</a> -->
                            <button *ngIf='reportsList.length !== 0' class="btnwidth exptoexclbtn" (click)="downloadReportHistroy()">Export to Excel</button>
                          </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div  class="table-responsive"> 
                        <table *ngIf='reportsList.length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead class="tblhead">
                                <tr align="center">
                                    <th>MOBILE</th>
                                    <th>Name</th>
                                    <th>PAN</th>
                                    <th>KYC MODE</th>
                                    <th>CREATED BY</th>
                                    <th>SUPER DISTRIBUTOR</th>
                                    <th>PARTNER</th>
                                    <th>ASM</th>
                                    <th>DISTRIBUTOR</th>
                                    <th *ngIf="kycStatus=='2' || kycStatus=='1'">VSTS CODE</th>
                                    <th *ngIf="kycStatus=='2' || kycStatus=='1'">AGENT ID</th>
                                    <th *ngIf="kycStatus=='2' || kycStatus=='1'">NAME ON PAN</th>
                                    <th *ngIf="kycStatus=='2' || kycStatus=='1'">NAME ON ADDRESS PROOF</th>
                                    <th *ngIf="kycStatus=='2' || kycStatus=='1'">NAME ON BANK ACCOUNT</th>
                                    <th *ngIf="kycStatus=='emp-processed'">PROCESSED BY</th>
                                    <th *ngIf="kycStatus=='emp-processed'">AGENT</th>
                                    <th *ngIf="showIncomplete">STAGE</th>
                                    <th>STATUS</th>
                                    <th>CREATED ON</th>
                                    <th>MODIFIED ON</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let report of reportsList; let i = index" align="center">
                                    <td>{{report.mobileNumber}}</td>
                                    <td>{{report.pan_verification_name}}</td>
                                    <td>{{report.panNumber}}</td>
                                    <td>{{report.kyc_mode}}</td>
                                    <td>{{report.creater_username}}</td>
                                    <td>{{report.sd_username}}</td>
                                    <td>{{report.part_username}}</td>
                                    <td>{{report.asm_username}}</td>
                                    <td>{{report.dist_username}}</td>
                                    <td *ngIf="kycStatus=='2' || kycStatus=='1'">{{report.vstscode}}</td>
                                    <td *ngIf="kycStatus=='2' || kycStatus=='1'">{{report.agentId}}</td>
                                    <td *ngIf="kycStatus=='2' || kycStatus=='1'">{{report.pan_verification_name}}</td>
                                    <td *ngIf="kycStatus=='2' || kycStatus=='1'">{{report.address_verification_name}}</td>
                                    <td *ngIf="kycStatus=='2' || kycStatus=='1'">{{report.bank_verification_name}}</td>
                                    <td *ngIf="kycStatus=='emp-processed'">{{report.first_name}} {{report.last_name}}</td>
                                    <td *ngIf="kycStatus=='emp-processed'">{{report.agentId}}</td>
                                    <td *ngIf="showIncomplete" [ngSwitch]="report.stage">
                                      <p *ngSwitchCase="1">KYC Mode Selection - Distributor</p>
                                      <p *ngSwitchCase="2">Pan Verification Pending - Retailer</p>
                                      <p *ngSwitchCase="3">Pan Upload Pending - Retailer</p>
                                      <p *ngSwitchCase="4">
                                          <span *ngIf="report.kyc_mode == 'Aadhar OTP'">
                                            Aadhaar Verification Pending
                                          </span>
                                          <span *ngIf="report.kyc_mode == 'Non Aadhar'">
                                            Address Proof Verification Pending
                                          </span>
                                      </p>
                                      <p *ngSwitchCase="5">Basic Details Pending</p>
                                      <p *ngSwitchCase="6">Basic Details Pending</p>
                                      <p *ngSwitchCase="7">Basic Details Pending</p>
                                      <p *ngSwitchCase="8">Bank Details Pending</p>
                                      <p *ngSwitchCase="9">Video Verification Pending</p>
                                      <p *ngSwitchCase="10">Video Verification Pending</p>
                                      <p *ngSwitchCase="11">Video Verification Pending</p>
                                    </td>
                                    <td *ngIf="report.verified==0">InComplete</td>
                                    <td *ngIf="report.verified==1">Pre approved</td> 
                                    <td *ngIf="report.verified==2">Approved</td>
                                    <td *ngIf="report.verified==3">Rejected</td>
                                    <td *ngIf="report.verified==5">Pending</td>
                                    <td>{{report.created_at}}</td>
                                    <td>{{report.updated_at}}</td>
                                    <td>
                                      <!-- [style.display]="report.verified==2 ? 'none' : 'block'" -->
                                      <button   *ngIf="!permission"   class="btn" mat-button (click)="openDialog(report.id)"> <i class="nav-icon fas fa-edit"></i>Edit</button>
                                      <!-- *ngIf="isView == 1 " -->
                                      <a routerLink="/view-data" [queryParams]="{data: report.id}"  class="btn"><i class="nav-icon fas fa-edit"></i>View</a>
                                      <!-- [style.display]="report.verified==2 ? 'block' : 'none'"  -->
                                      <!--*ngIf="permission"   -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf='reportsList.length === 0' align="center"><p>No Record Found!!!</p></div> 
                        <mat-paginator *ngIf='reportsList.length !== 0' 
                        [length]="length"
                        [pageSize]="pageSize" 
                        (page)="pageevent($event)">
                        </mat-paginator>
                      </div>
                  </div>
            </div>
        </div>
      </section>
      
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2014-2021</strong
      >
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>

  <ngx-ui-loader></ngx-ui-loader>
  