<h2 mat-dialog-title>Update KYC Form
  <!-- <button mat-button style="float: right;" class="btn btn-primary" (click)="moveImage(kycFormId)" *ngIf="verified == 2" >Move To Rcode Folder</button> -->
</h2>
<mat-dialog-content class="mat-typography ">
  <div class="top-action-buttons border text-right form-group">
    <button mat-button class="btn btn-outline-success " [mat-dialog-close]="true">Unlock</button>
    &nbsp;<button mat-button class="btn btn-danger" (click)="rejectForm()">Reject</button>&nbsp;&nbsp;
  </div>
  <mat-card class="example-card border">
    <mat-card-header>
      <mat-card-title>
        Update Mobile Number
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="MobileFormGroup" (ngSubmit)="updateMobile()">
      <mat-card-content>
        <div class="row pt-1">
          <div class="col-md-12">
            <mat-card class="dashboard-card">
              <!-- <mat-card-header>
                     <mat-card-title>
                        Update Basic Details
                     </mat-card-title>
                  </mat-card-header> -->
<<<<<<< HEAD
                  <mat-card-content>
                        <mat-form-field class="dashboard-full-width">
                           <mat-label>Mobile no.</mat-label>
                           <input matInput [(ngModel)]="mobileNumber" formControlName="mobile" placeholder="Mobile no."
                           required>
                        </mat-form-field>
                  </mat-card-content>
                  <mat-card-actions>
                     <div class="example-action-buttons border-top text-left">
                        <!-- <button type="submit" class="btnwidth" mat-raised-button><i class="fa fa-check"></i>Update</button> -->
                        <button type="submit" mat-button class="btn btn-primary" [disabled]="!MobileFormGroup.valid">Update</button>
                     </div>
                  </mat-card-actions>
               </mat-card>
            </div>
         </div>
      </mat-card-content>
      </form>
   </mat-card>
   <mat-card class="example-card border">
      <mat-card-header>
         <mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="BasicDetailsFormGroup" (ngSubmit)="updateBasicDetails()">
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Father's Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Qualification</th>
                    <th scope="col">Category</th>
                    <th scope="col">Physically Handicapped</th>
                    <th scope="col">Alternate Occupation Type</th>
                    <th scope="col">Provider</th>
                    <th scope="col">Entity Type</th>
                    <th scope="col">Alternate Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{mobileNumber}}</td>
                    <td>{{parentName}}</td>
                    <td>{{gender}}</td>
                    <td>{{dob}}</td>
                    <td>{{qualification}}</td>
                    <td>{{category}}</td>
                    <td>{{physicallyHandicapped}}</td>
                    <td>{{alternateOccupationType}}</td>
                    <td>{{provider}}</td>
                    <td>{{entityType}}</td>
                    <td>{{alternateNumber}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row pt-1">
          <div class="col-md-12">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  Update Basic Details
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="name" formControlName="name" placeholder="Name" required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput [(ngModel)]="email" formControlName="email" placeholder="Email" required>
                </mat-form-field>
                <!-- <mat-form-field class="dashboard-full-width">
>>>>>>> remotes/origin/gourav
                        <mat-label>Mobile no.</mat-label>
                        <input matInput [(ngModel)]="mobileNumber" formControlName="mobile" placeholder="Mobile no."
                        required>
                     </mat-form-field> -->
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Parent name</mat-label>
                  <input matInput [(ngModel)]="parentName" formControlName="parentName" placeholder="Parent name"
                    required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select [(ngModel)]="gender" formControlName="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                      {{gender.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>DOB</mat-label>
                  <input matInput [(ngModel)]="dob" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                    formControlName="dob" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Qualification</mat-label>
                  <mat-select [(ngModel)]="qualification" formControlName="qualification" required>
                    <mat-option *ngFor="let qual of qualificationList" [value]="qual.qualification">
                      {{qual.qualification}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Category</mat-label>
                  <mat-select [(ngModel)]="category" formControlName="category" required>
                    <mat-option *ngFor="let cat of categoryList" [value]="cat.value">
                      {{cat.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Physically Handicapped</mat-label>
                  <mat-select [(ngModel)]="physicallyHandicapped" formControlName="physicallyhandicapped" required>
                    <mat-option *ngFor="let ph of physicallyhandicappedList" [value]="ph.value">
                      {{ph.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Alternate Occupation Type</mat-label>
                  <mat-select [(ngModel)]="alternateOccupationType" formControlName="alternateOccupationType" required>
                    <mat-option *ngFor="let aot of alternateoccupationtypeList" [value]="aot.value">
                      {{aot.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Provider</mat-label>
                  <mat-select [(ngModel)]="provider" formControlName="provider" required>
                    <mat-option *ngFor="let p of providerList" [value]="p.value">
                      {{p.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Entity Type</mat-label>
                  <mat-select [(ngModel)]="entityType" formControlName="entityType" required>
                    <mat-option *ngFor="let p of entitytypeList" [value]="p.value">
                      {{p.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Alternate Number</mat-label>
                  <input matInput [(ngModel)]="alternateNumber" minlength="10" maxlength="10"
                    formControlName="alternateNumber" placeholder="Enter Alternate Number" required>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <div class="example-action-buttons border-top text-left">
                  <!-- <button type="submit" class="btnwidth" [disabled]="!BasicDetailsFormGroup.valid" mat-raised-button><i class="fa fa-check"></i>Update</button> -->

                  <button type="submit" mat-button class="btn btn-primary"
                    [disabled]="!BasicDetailsFormGroup.valid">Update</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="overflow-auto">
              <h3 mat-subheader>Remarks</h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let remarkval of BasicDetailsRemarkArray">
                  <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-card-content>
    </form>
    <mat-card-actions>
      <div class="example-action-buttons border-top text-right">
        <button *ngIf="kycStatus.basic_details_verified !='Approved'" type="submit" class="btnwidth" mat-raised-button
          (click)="approveBasicDetails();$event.preventDefault()"><i class="fa fa-check"></i>Approve</button> &nbsp;
        <!-- *ngIf="kycStatus.basic_details_verified !='Approved'" -->
        <!-- <button *ngIf="kycStatus.basic_details_verified !='Rejected'" type="submit" class="btnwidth btnred" mat-raised-button (click)="rejectBasicDetails();$event.preventDefault()"><i class="fa fa-check"></i>Reject</button> -->
      </div>
    </mat-card-actions>
  </mat-card>
  <p>&nbsp;</p>
  <mat-card class="example-card border">
    <mat-card-header>
      <mat-card-title>
        Residential Information -- {{kycStatus.residential_details_verified}}
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="ResidentialAddressFormGroup" (ngSubmit)="updateResidentialDetails()">
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Full Address</th>
                    <th scope="col">Landmark</th>
                    <th scope="col">Pin Code</th>
                    <th scope="col">District</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{address}}</td>
                    <td>{{landmark}}</td>
                    <td>{{pincode}}</td>
                    <td>{{district}}</td>
                    <td>{{city}}</td>
                    <td>{{state}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  Update Residential Details
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Full Address</mat-label>
                  <input matInput [(ngModel)]="address" formControlName="address" placeholder="Full Address" required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Landmark</mat-label>
                  <input matInput [(ngModel)]="landmark" formControlName="landmark" placeholder="Enter Landmark"
                    required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Pin Code</mat-label>
                  <input matInput [(ngModel)]="pincode" formControlName="pincode" placeholder="Enter Pincode" required
                    minlength="6" maxlength="6">
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>District</mat-label>
                  <input matInput [(ngModel)]="district" formControlName="district" placeholder="Enter District"
                    required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>City</mat-label>
                  <input matInput [(ngModel)]="city" formControlName="city" placeholder="Enter City" required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>State</mat-label>
                  <input matInput [(ngModel)]="state" formControlName="state" placeholder="Enter State" required>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <div class="example-action-buttons border-top text-left">
                  <button type="submit" class="btnwidth" mat-raised-button><i class="fa fa-check"></i>Update</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="overflow-auto">
              <h3 mat-subheader>Remarks</h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let remarkval of ResidentialDetailsRemarkArray">
                  <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-card-content>
    </form>
    <mat-card-actions>
      <div class="example-action-buttons border-top text-right">
        <button *ngIf="kycStatus.residential_details_verified !='Approved'" type="submit" class="btnwidth"
          mat-raised-button (click)="approveResidentialDetails();$event.preventDefault()"><i
            class="fa fa-check"></i>Approve</button> &nbsp;
        <!-- *ngIf="kycStatus.residential_details_verified !='Approved'" -->

        <!-- <button *ngIf="kycStatus.residential_details_verified != 'Rejected'" type="submit" class="btnwidth btnred" mat-raised-button (click)="rejectResidentialDetails();$event.preventDefault()"><i class="fa fa-check"></i>Reject</button> -->

      </div>
    </mat-card-actions>
  </mat-card>
  <p>&nbsp;</p>
  <mat-card class="example-card border">
    <mat-card-header>
      <mat-card-title>
        Business information -- {{kycStatus.business_details_verified}}
      </mat-card-title>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <div class="form-check">
        <input type="checkbox" (click)="isSameAddressControl($event)" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Same As Above</label>
      </div>
    </mat-card-header>
    <form [formGroup]="BusinessinformationFormGroup" (ngSubmit)="updateBusinessDetails()">
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Firm Name</th>
                    <th scope="col">Work Experiance</th>
                    <th scope="col">Full Address</th>
                    <th scope="col">Landmark</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">District</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{firmName}}</td>
                    <td>{{workExp}}</td>
                    <td>{{firm_address}}</td>
                    <td>{{firm_landmark}}</td>
                    <td>{{firm_pincode}}</td>
                    <td>{{firm_district}}</td>
                    <td>{{firm_city}}</td>
                    <td>{{firm_state}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>Update Business information</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Firm Name</mat-label>
                  <input matInput [(ngModel)]="firmName" formControlName="firmName" placeholder="Enter Firm Name"
                    required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Work Experiance</mat-label>
                  <mat-select [(ngModel)]="workExp" formControlName="workExp" required>
                    <mat-option *ngFor="let work of works" [value]="work.experience">
                      {{work.experience}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="dashboard-full-width">
                  <mat-label>Full Address</mat-label>
                  <input matInput [(ngModel)]="firm_address" formControlName="firm_address" placeholder="Full Address"
                    required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Landmark</mat-label>
                  <input matInput [(ngModel)]="firm_landmark" formControlName="firm_landmark"
                    placeholder="Enter Landmark" required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>Pin Code</mat-label>
                  <input matInput [(ngModel)]="firm_pincode" formControlName="firm_pincode" placeholder="Enter Pincode"
                    required minlength="6" maxlength="6">
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>District</mat-label>
                  <input matInput [(ngModel)]="firm_district" formControlName="firm_district"
                    placeholder="Enter District" required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>City</mat-label>
                  <input matInput [(ngModel)]="firm_city" formControlName="firm_city" placeholder="Enter City" required>
                </mat-form-field>
                <mat-form-field class="dashboard-full-width">
                  <mat-label>State</mat-label>
                  <input matInput [(ngModel)]="firm_state" formControlName="firm_state" placeholder="Enter State"
                    required>
                </mat-form-field>

              </mat-card-content>
              <mat-card-actions>
                <button type="submit" class="btnwidth" mat-raised-button><i class="fa fa-check"></i>Update</button>
              </mat-card-actions>
            </mat-card>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="overflow-auto">
              <h3 mat-subheader>Remarks</h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let remarkval of BusinesssRemarkArray">
                  <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                  <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </mat-card-content>
    </form>
    <mat-card-actions>
      <div class="example-action-buttons border-top text-right">
        <button *ngIf="kycStatus.business_details_verified !='Approved'" type="submit" class="btnwidth"
          mat-raised-button (click)="approveBusinessDetails();$event.preventDefault()"><i
            class="fa fa-check"></i>Approve</button> &nbsp;
        <!-- *ngIf="kycStatus.business_details_verified !='Approved'" -->
        <button *ngIf="kycStatus.business_details_verified !='Rejected'" type="submit" class="btnwidth btnred"
          mat-raised-button (click)="rejectBusinessDetails();$event.preventDefault()"><i
            class="fa fa-check"></i>Reject</button>
        <!-- *ngIf="kycStatus.business_details_verified !='Rejected'" -->
      </div>
    </mat-card-actions>
  </mat-card>
  <p>&nbsp;</p>
  <mat-card class="example-card border">
    <mat-card-header>
      <mat-card-title>
        Pan Details -- {{kycStatus.pan_verified}}
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="PanFormGroup" (ngSubmit)="updatePanDetails()">
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <p><label>Pan Number</label>:{{pan}}</p>
            <div *ngIf="panFile != ''">
              <label for="exampleInputEmail1">Pan Photo</label>
              <div *ngFor="let image of panalbum; let i=index">
                <img [src]="image.thumb" (click)="panopen(i)" />
              </div>
              <a href="{{apiUrlVar}}/getPhoto?filename={{panFile}}&rcode={{agentId}}&token={{token}}"
                target="_blank">Open in new tab</a>
            </div>
          </div>
          <div class="col-md-6 border-left">
            <h3 mat-subheader>Pan Fetch Response</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">PAN</th>
                  <th scope="col">NAME</th>
                  <th scope="col">FATHER NAME</th>
                  <th scope="col">DOB</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{panFetchResponseData['number']}}</td>
                  <td>{{panFetchResponseData['name']}}</td>
                  <td>{{panFetchResponseData['fatherName']}}</td>
                  <td>{{panFetchResponseData['dob']}}</td>
                </tr>
              </tbody>
            </table>
            <h3 mat-subheader>Pan OCR Response</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">PAN</th>
                  <th scope="col">NAME</th>
                  <th scope="col">FATHER NAME</th>
                  <th scope="col">DOB</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{panExtractionResponseData['number']}}</td>
                  <td>{{panExtractionResponseData['name']}}</td>
                  <td>{{panExtractionResponseData['fatherName']}}</td>
                  <td>{{panExtractionResponseData['dob']}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="overflow-auto">
              <h3 mat-subheader>Remarks</h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let remarkval of panRemarksArray">
                  <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}} </p>
                  <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-card-content>
    </form>
    <mat-card-actions>
      <div class="example-action-buttons border-top text-right">
        <button *ngIf="kycStatus.pan_verified !='Approved'" type="submit" class="btnwidth pull-right" mat-raised-button
          (click)="approvePanDetails();$event.preventDefault()"><i class="fa fa-check"></i>Approve</button> &nbsp;
        <!-- *ngIf="kycStatus.pan_verified !='Approved'" -->
        &nbsp;<button *ngIf="kycStatus.pan_verified !='Rejected'" type="submit" class="btnwidth btnred pull-right"
          mat-raised-button (click)="rejectPanDetails();$event.preventDefault()"><i
            class="fa fa-check"></i>Reject</button>
        <!-- *ngIf="kycStatus.pan_verified !='Rejected'" -->
      </div>
    </mat-card-actions>

  </mat-card>
  <p>&nbsp;<p>
      <mat-card class="example-card border">
        <mat-card-header>
          <!-- *ngIf="kycStatus.kyc_type == 1" -->
          <mat-card-title  *ngIf="kycStatus.kyc_type == 1" >
            Address Proof -- {{proof_type}} -- {{kycStatus.address_verified}}
          </mat-card-title>
          <mat-card-title *ngIf="kycStatus.kyc_type == 2">
            Address Proof -- Aadhar NON-OTP -- {{kycStatus.address_verified}}
          </mat-card-title>
        </mat-card-header>
        <form [formGroup]="ResidentialProofFormGroup" (ngSubmit)="updateResidentialProof()">
          <mat-card-content> 
            <div class="row"> 
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <p *ngIf="proofThumbPhotoFile!=''">
                      <img class="img-thumbnail"
                        src="{{apiUrlVar}}/getPhoto?filename={{proofPhotoFile}}&type=addressproofdocThumb&token={{token}}" />
                    </p>
                    <p *ngIf="proofPhotoFile!=''">
                      <a href="{{apiUrlVar}}/getPhoto?filename={{proofPhotoFile}}&type=addressproofdoc&token={{token}}"
                        target="_blank">Open in new tab</a>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="proofThumbPhotoBackFile!=''">
                      <img class="img-thumbnail"
                        src="{{apiUrlVar}}/getPhoto?filename={{proofPhotoBackFile}}&type=addressproofdocThumb&token={{token}}" />
                    </p>
                    <p *ngIf="proofPhotoBackFile!=''">
                      <a href="{{apiUrlVar}}/getPhoto?filename={{proofPhotoBackFile}}&type=addressproofdoc&token={{token}}"
                        target="_blank">Open in new tab</a>
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6" *ngIf="kycStatus.kyc_type == 2">
                <form [formGroup]="aadharForm">
                  <div class="borderBOx">
                    <div class="inputsection">
                      <input class="input12" id="one" #input1 formControlName="firstnum1"
                        (keypress)="numberOnly($event)" minlength="4" maxlength="4" appMask
                        [appAutoTab]="input2">&nbsp;&nbsp;&nbsp;
                      <input class="input12" #input2 formControlName="secondnum1" (keypress)="numberOnly($event)"
                        minlength="4" maxlength="4" appMask id="two" [appAutoTab]="input3">&nbsp;&nbsp;&nbsp;
                      <input class="input12" #input3 formControlName="thirdnum1" (keypress)="numberOnly($event)"
                        minlength="4" maxlength="4">
                      <div class="error-class">{{msg}}</div>
                    </div>
                    <br>
                    <br>
                    <div class="row btnsectiorn">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                        <button type="submit" class="btnwidth" mat-raised-button (click)="onSubmit()"><i
                            class="fa fa-check"></i>Validate Aadhar</button>
                      </div>
                      <div class="col-sm-4"></div>

                    </div>
                  </div>
                </form>
                <div class="borderresponseBOx" *ngIf="showResponseFornonotp">
                  <table>
                    <tr>
                      <th>Response</th>
                    </tr>
                    <tr *ngFor="let item of responseAddhar | keyvalue">
                      <td>{{item.key}}</td>
                      <td>{{item.value}}</td>
                    </tr>
                  </table>  
               </div>
              </div> -->
              <div class="col-md-6 border-left"
                *ngIf="proof_type=='Driving Licence' || proof_type=='Driving Licence Voter ID'  ||  proof_type=='Driving Licence Passport'">
                <h3 mat-subheader>Driving Licence Response</h3>
                <div class="table-responsive" *ngIf="addressProofResponseData != null">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">DL</th>
                        <th scope="col">NAME</th>
                        <th scope="col">FATHER NAME</th>
                        <th scope="col">DOB</th>
                        <th scope="col">ADDRESS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{addressProofResponseData['dlNumber']}}</td>
                        <td>{{addressProofResponseData['name']}}</td>
                        <td>{{addressProofResponseData['fatherOrHusbandName']}}</td>
                        <td>{{addressProofResponseData['dob']}}</td>
                        <td>{{addressProofResponseData['address']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-md-6 border-left"
                *ngIf="proof_type=='Voter ID' || proof_type=='Voter ID Driving Licence'  ||  proof_type=='Voter ID Passport'">
                <h3 mat-subheader>Voter ID Response</h3>
                <div class="table-responsive" *ngIf="addressProofResponseData != null">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">EPIC</th>
                        <th scope="col">NAME</th>
                        <th scope="col">FATHER NAME</th>
                        <th scope="col">DOB</th>
                        <th scope="col">DISTRICT</th>
                        <th scope="col">STATE</th>
                        <th scope="col">GENDER</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          {{addressProofResponseData['epicNumber']}}
                        </td>
                        <td>{{addressProofResponseData['name']}}</td>
                        <td>{{addressProofResponseData['fatherName']}}</td>
                        <td>{{addressProofResponseData['dob']}}</td>
                        <td>{{addressProofResponseData['district']}}</td>
                        <td>{{addressProofResponseData['state']}}</td>
                        <td>{{addressProofResponseData['gender']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-md-6 border-left"
                *ngIf="proof_type=='Passport' || proof_type=='Passport Driving Licence '  ||  proof_type=='Passport Voter ID'">
                <h3 mat-subheader>Passport Response</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">FILE NUMBER</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DOB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{addressProofResponseData['fileNumber']}}</td>
                        <td>{{addressProofResponseData['name']}}</td>
                        <td>{{addressProofResponseData['dob']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row"
              *ngIf="(proof_type=='Aadhar OTP' || proof_type=='Aadhar' || proof_type=='Aadhar OTP Passport' || proof_type=='Aadhar OTP Driving Licence'  ||  proof_type=='Aadhar OTP Voter ID') && addressProofResponseData !== undefined && addressProofResponseData !=null && addressProofResponseData['photo'] && addressProofResponseData['photo'] != ''">
              <div class="col-md-3">
                <h3 mat-subheader>Aadhar OTP Response</h3>
                <div class="float-left">
                  <img class="img-thumbnail" src="data:image/jpeg;base64,{{addressProofResponseData['photo']}}" />
                </div>
              </div>
              <div class="col-md-9 border-left">
                <div class="table-responsive" *ngIf="addressProofResponseData != null">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">MOBILE</th>
                        <th scope="col">GENDER</th>
                        <th scope="col">DISTRICT</th>
                        <th scope="col">STATE</th>
                        <th scope="col">COUNTRY</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">VTC</th>
                        <th scope="col">DOC</th>
                        <th scope="col">REFRENCE ID</th>
                        <th scope="col">DOB</th>
                        <th scope="col">PINCODE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{addressProofResponseData['name']}}</td>
                        <td>{{addressProofResponseData['mobile']}}</td>
                        <td>{{addressProofResponseData['gender']}}</td>
                        <td>{{addressProofResponseData['dist']}}</td>
                        <td>{{addressProofResponseData['state']}}</td>
                        <td>{{addressProofResponseData['country']}}</td>
                        <td>{{addressProofResponseData['address']}}</td>
                        <td>{{addressProofResponseData['vtc']}}</td>
                        <td>{{addressProofResponseData['document_id']}}</td>
                        <td>{{addressProofResponseData['verified_by']}}</td>
                        <td>{{addressProofResponseData['dob']}}</td>
                        <td>{{addressProofResponseData['pc']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="float-left">
                  {{aadhar_otp_response | json}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="overflow-auto">
                  <h3 mat-subheader>Remarks</h3>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let remarkval of AddressProofRemarkArray">
                      <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                      <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-card-content>
        </form>
        <mat-card-actions>
          <div class="example-action-buttons border-top text-right">
            <button *ngIf="secondaryProff == undefined || secondaryProff == '' || secondaryProff == null" type="button"
              class="btnwidth" mat-raised-button (click)="addSecAddressProof();$event.preventDefault()"><i
                class="fa fa-check"></i>Add Secondary Proff</button> &nbsp;
            <button *ngIf="kycStatus.address_verified !='Approved'" type="submit" class="btnwidth" mat-raised-button
              (click)="approveAddressProof();$event.preventDefault()"><i class="fa fa-check"></i>Approve</button> &nbsp;
            <!-- *ngIf="kycStatus.address_verified !='Approved'" -->
            <button *ngIf="kycStatus.address_verified !='Rejected'" type="submit" class="btnwidth btnred"
              mat-raised-button (click)="rejectAddressProof();$event.preventDefault()"><i
                class="fa fa-check"></i>Reject</button>
            <!-- *ngIf="kycStatus.address_verified !='Rejected'" -->
          </div>
        </mat-card-actions>
      </mat-card>
      <p>&nbsp;</p>

      <div *ngIf="secondaryProff !== undefined && secondaryProff != '' && secondaryProff != null">
        <mat-card class="example-card border">
          <mat-card-header>
            <mat-card-title>
              Secondary Proof -- {{secondaryProff.kyc_type}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-md-3">
                <p *ngIf="secondaryProff.proofThumbPhoto !=''">
                  <img class="img-thumbnail"
                    src="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofThumbPhoto}}&type=addressproofdocThumb&token={{token}}" />
                </p>
                <p *ngIf="secondaryProff.proofPhoto !=''">
                  <a href="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofPhoto}}&type=addressproofdoc&token={{token}}"
                    target="_blank">Open in new tab</a>
                </p>
              </div>
              <div class="col-md-3">
                <p *ngIf="secondaryProff.proofThumbPhotoBack !=''">
                  <img class="img-thumbnail"
                    src="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofThumbPhotoBack}}&type=addressproofdocThumb&token={{token}}" />
                </p>
                <p *ngIf="secondaryProff.proofPhotoBack!=''">
                  <a href="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofPhotoBack}}&type=addressproofdoc&token={{token}}"
                    target="_blank">Open in new tab</a>
                </p>
              </div>
            </div>
          </mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <div class="overflow-auto">
                <h3 mat-subheader>Remarks</h3>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let remarkval of secAddressProofRemarkArray">
                    <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                    <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <mat-card-actions>
            <div class="example-action-buttons border-top text-right">
              <button type="submit" class="btnwidth" mat-raised-button
                (click)="approveSecondaryAddressProof();$event.preventDefault()"><i
                  class="fa fa-check"></i>Approve</button> &nbsp;
              <!-- *ngIf="secondaryProff.verified !='1'" -->
              <button type="submit" class="btnwidth btnred" mat-raised-button
                (click)="rejectSecondaryAddressProof();$event.preventDefault()"><i
                  class="fa fa-check"></i>Reject</button>

              <!-- <button *ngIf="secondaryProff.verified !='3'" type="submit" class="btnwidth btnred" mat-raised-button (click)="rejectSecondaryAddressProof();$event.preventDefault()"><i class="fa fa-check"></i>Reject</button> -->
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <p>&nbsp;</p>

      <mat-card class="example-card border">
        <mat-card-header>
          <mat-card-title>
            Bank Verification -- {{kycStatus.bank_details_verified}}
          </mat-card-title>
        </mat-card-header>
        <form [formGroup]="BankVerificationFormGroup" (ngSubmit)="updateBankDetails()">
          <mat-card-content>
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Account Type</th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">IFSC</th>
                        <th scope="col">Account Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{accountType}}</td>
                        <td>{{bankName}}</td>
                        <td>{{ifsc}}</td>
                        <td>{{account}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <div class="col-md-6 border-left">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">UTR</th>
                        <th scope="col">Bene Name</th>
                        <th scope="col">Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{BankVerificationResponseData['utr']}}</td>
                        <td>{{BankVerificationResponseData['benename']}}</td>
                        <td>{{BankVerificationResponseData['message']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="bankFile != ''">
                  <label for="exampleInputEmail1">Passbook Photo</label>
                  <p><img class="img-thumbnail"
                      src="{{apiUrlVar}}/getPhoto?filename={{bankFile}}&type=bankdoc&token={{token}}" /></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-card-header>
                  <mat-card-title>Update Bank Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field class="dashboard-full-width">
                    <mat-label>Select Account Type</mat-label>
                    <mat-select [(ngModel)]="accountType" formControlName="accountType" required>
                      <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.accType">
                        {{accountType.accType}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field class="dashboard-full-width">
                     <mat-label>Select Bank Name</mat-label>
                     <mat-select [(ngModel)]="bankName" formControlName="bankName" (selectionChange)="onBankSelect($event)" required>
                     <mat-option *ngFor="let bank of bankList" [value]="bank.name">
                     {{bank.name}}
                     </mat-option>
                     </mat-select>
                  </mat-form-field> -->
                  <mat-form-field class="dashboard-full-width">
                    <input type="text" placeholder="Select Bank Name" aria-label="name" matInput
                      formControlName="bankName" [(ngModel)]="bankName" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field class="dashboard-full-width">
                    <mat-label>IFSC</mat-label>
                    <input matInput [(ngModel)]="ifsc" formControlName="ifsc" placeholder="Enter IFSC Number" required
                      minlength="11" maxlength="11" pattern="[A-Z|a-z]{4}[0][a-zA-Z0-9]{6}$">
                  </mat-form-field>
                  <mat-form-field class="dashboard-full-width" *ngIf="!isBankVerification">
                    <ngx-mat-file-input formControlName="bank_doc" placeholder="Required input"
                      valuePlaceholder="Upload Bank doc" (change)="onFileBankSelected($event)" required>
                    </ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="dashboard-full-width">
                    <mat-label>Account Number</mat-label>
                    <input matInput [(ngModel)]="account" type="password" formControlName="account"
                      placeholder="Enter Account Number" minlength="8" maxlength="20" advs-compare="caccount"
                      parent='true' appNumber required>
                  </mat-form-field>
                  <mat-form-field class="dashboard-full-width">
                    <mat-label>Confirm Account Number</mat-label>
                    <input matInput formControlName="caccount" placeholder="Enter Confirm Account Number" minlength="8"
                      maxlength="20" advs-compare="account" parent='false' appNumber required>
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                  <div class="example-action-buttons border-top text-left">
                    <button type="submit" class="btnwidth" mat-raised-button><i
                        class="fa fa-check"></i>{{ isBankVerification ? 'Verify' : 'Upload'}}</button>
                  </div>
                </mat-card-actions>
              </div>
            </div>
            <div class="row" *ngIf="AllBankVerificationResponseData.length !== 0">
              <div class="col-md-12">
                <div class="overflow-auto">
                  <h3 mat-subheader>Bank Response</h3>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">UTR</th>
                          <th scope="col">Bene Name</th>
                          <th scope="col">Message</th>
                          <th scope="col">Processed By</th>
                          <th scope="col">Processed On</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of AllBankVerificationResponseData">
                          <td>{{data.utr}}</td>
                          <td>{{data.benename}}</td>
                          <td>{{data.message}}</td>
                          <td></td>
                          <td>{{data.created_at}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="overflow-auto">
                  <h3 mat-subheader>Remarks</h3>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let remarkval of BankRemarkArray">
                      <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                      <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-card-content>
        </form>
        <mat-card-actions>
          <div class="example-action-buttons border-top text-right">
            <button *ngIf="kycStatus.bank_details_verified !='Approved'" type="submit" class="btnwidth"
              mat-raised-button (click)="approveBankDetails();$event.preventDefault()"><i
                class="fa fa-check"></i>Approve</button> &nbsp;
            <!-- *ngIf="kycStatus.bank_details_verified !='Approved'" -->
            <button *ngIf="kycStatus.bank_details_verified !='Rejected'" type="submit" class="btnwidth btnred"
              mat-raised-button (click)="rejectBankDetails();$event.preventDefault()"><i
                class="fa fa-check"></i>Reject</button>
            <!-- *ngIf="kycStatus.bank_details_verified !='Rejected'"  -->
          </div>
        </mat-card-actions>
      </mat-card>
      <p>&nbsp;</p>
      <mat-card class="example-card border">
        <mat-card-header>
          <mat-card-title>
            KYC Mode
          </mat-card-title>
        </mat-card-header>
        <form [formGroup]="KycModeFormGroup" (ngSubmit)="updateKycMode()">
          <mat-card-content>
            <p>{{kyc_mode}}</p>
            <mat-list role="list" *ngFor="let remark of kyCRemarksArray">
              <mat-list-item role="listitem" *ngIf="remark.type==7">{{remark.remarks}}</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>
              Update KYC Mode
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="">
              <mat-select placeholder="Kyc Mode" formControlName="kycMode" [(ngModel)]="kyc_mode">
                <mat-option *ngFor="let mode of kycModeList" value="{{mode.value}}">{{mode.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-card-actions>
              <div class="example-action-buttons border-top text-left">
                <button type="submit" class="btnwidth" mat-raised-button><i class="fa fa-check"></i>Update</button>
              </div>
            </mat-card-actions>
          </mat-card-content>

        </form>
        <mat-card-actions>
          <div class="example-action-buttons border-top text-right">
            <button type="submit" class="btnwidth" mat-raised-button><i class="fa fa-check"></i>Approve</button> &nbsp;
            <!-- <button type="submit" class="btnwidth btnred" mat-raised-button><i class="fa fa-check"></i>Reject</button> -->
          </div>
        </mat-card-actions>

      </mat-card>
      <p>&nbsp;<p>
          <mat-card class="example-card border">
            <mat-card-header>
              <mat-card-title>
                Video Verification -- {{kycStatus.video_verified}}
              </mat-card-title>
            </mat-card-header>
            <form [formGroup]="VideoVerificationFormGroup">
              <mat-card-content>
                <div class="row pt-4">
                  <div class="col-md-6">
                    <h4><b>Images For Matching</b></h4>
                  </div>
                  <div class="col-md-6">
                    <h4><b>Video Images</b></h4>
                  </div>
                </div>
                <div class="row"
                  *ngIf="VideoVerificationResponseData !== undefined  && VideoVerificationResponseData !== null  && VideoVerificationResponseData['finalMatchImage2'] !=''">

                  <div class="col-md-3">
                    <img class="img-thumbnail" src="{{VideoVerificationResponseData['finalMatchImage1']}}" /><br />
                    <p><b>Match Percentage 1:&nbsp;</b>{{VideoVerificationResponseData['matchPercentage1']}}</p>
                  </div>
                  <div class="col-md-3">
                    <img class="img-thumbnail" src="{{VideoVerificationResponseData['finalMatchImage2']}}" /><br />
                    <p><b>Match Percentage 2:&nbsp;</b>{{VideoVerificationResponseData['matchPercentage2']}}</p>
                  </div>

                  <div class="col-md-3">
                    <div
                      *ngIf="VideoVerificationResponseData['videoImage1'] !='' && VideoVerificationResponseData['videoImage2'] !='' && VideoVerificationResponseData['videoImage3'] !=''">
                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage1']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage1']}}" target="_blank">Open in new tab</a>

                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage2']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage2']}}" target="_blank">Open in new tab</a>

                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage3']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage3']}}" target="_blank">Open in new tab</a>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div
                      *ngIf="VideoVerificationResponseData['videoImage5'] !='' && VideoVerificationResponseData['videoImage4'] !='' && VideoVerificationResponseData['videoImage6'] !=''">
                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage4']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage4']}}" target="_blank">Open in new tab</a>

                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage5']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage5']}}" target="_blank">Open in new tab</a>

                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage6']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage6']}}" target="_blank">Open in new tab</a>
                    </div>
                  </div>

                </div>
                <div class="row"
                  *ngIf="VideoVerificationResponseData !== undefined &&  VideoVerificationResponseData !== null && VideoVerificationResponseData['matchPercentage1'] !='' && VideoVerificationResponseData['finalMatchImage2'] ==''">
                  <div class="col-md-6">
                    <img class="img-thumbnail" src="{{VideoVerificationResponseData['finalMatchImage1']}}" /><br />
                    <p><b>Match Percentage:&nbsp;</b>{{VideoVerificationResponseData['matchPercentage1']}}</p>
                  </div>

                  <div class="col-md-3">
                    <div
                      *ngIf="VideoVerificationResponseData['videoImage1'] !='' && VideoVerificationResponseData['videoImage2'] !=''">
                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage1']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage1']}}" target="_blank">Open in new tab</a>

                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage2']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage2']}}" target="_blank">Open in new tab</a>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div *ngIf="VideoVerificationResponseData['videoImage3'] !=''">
                      <img class="img-thumbnail" src="{{VideoVerificationResponseData['videoImage3']}}" /><br />
                      <a href="{{VideoVerificationResponseData['videoImage3']}}" target="_blank">Open in new tab</a>
                    </div>
                  </div>

                </div>
                <div class="row" *ngIf="VideoRemarkArray.length > 0">
                  <div class="col-md-12">
                    <div class="overflow-auto">
                      <h3 mat-subheader>Remarks</h3>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let remarkval of VideoRemarkArray">
                          <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                          <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <div class="example-action-buttons border-top text-right">
                  <button *ngIf="kycStatus.video_verified !='Approved'" type="submit" class="btnwidth" mat-raised-button
                    (click)="approveVideoVerification();$event.preventDefault()"><i
                      class="fa fa-check"></i>Approve</button> &nbsp;
                  <!-- *ngIf="kycStatus.video_verified !='Approved'" -->
                  <button type="submit" *ngIf="kycStatus.video_verified !='Rejected'" class="btnwidth btnred"
                    mat-raised-button (click)="rejectVideoVerification();$event.preventDefault()"><i
                      class="fa fa-check"></i>Reject</button>
                  <!-- *ngIf="kycStatus.video_verified !='Rejected'"  -->
                </div>
              </mat-card-actions>
            </form>
          </mat-card>
          <p>&nbsp;</p>
          <mat-card class="example-card border">
            <mat-card-header>
              <mat-card-title>
                Forgery Response
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row"
                *ngIf="ForgeryResponseData !== undefined && ForgeryResponseData !=null && ForgeryResponseData!=''">
                <div class="col-md-6"
                  *ngIf="ForgeryResponseData.panForgeryStatus !== undefined && ForgeryResponseData.panForgeryStatus !=''">
                  <div>
                    <div>
                      <img class="img-thumbnail img-show" src={{ForgeryResponseData.panImg}} />
                    </div>
                    <p>
                      <b>Type</b>:Pan
                      <b>Forged:</b>{{ForgeryResponseData.panForgeryStatus}}
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    *ngIf="ForgeryResponseData.aadhaarForgeryStatus !== undefined && ForgeryResponseData.aadhaarForgeryStatus !=''">
                    <div>
                      <img class="img-thumbnail img-show" src={{ForgeryResponseData.aadhaarImg}} />
                      <img class="img-thumbnail img-show" src={{ForgeryResponseData.aadhaarImgBack}} />
                    </div>
                    <p>
                      <b>Type</b>:Aadhaar
                      <b>Forged:</b>{{ForgeryResponseData.aadhaarForgeryStatus}}
                    </p>
                  </div>
                  <div
                    *ngIf="ForgeryResponseData.dlForgeryStatus !== undefined && ForgeryResponseData.dlForgeryStatus !=''">
                    <div>
                      <img class="img-thumbnail img-show" src={{ForgeryResponseData.dlImg}} />
                    </div>
                    <p>
                      <b>Type</b>:Driving Licence
                      <b>Forged:</b>{{ForgeryResponseData.dlForgeryStatus}}
                    </p>
                  </div>
                  <div
                    *ngIf="ForgeryResponseData.passportForgeryStatus !== undefined && ForgeryResponseData.passportForgeryStatus !=''">
                    <div>
                      <img class="img-thumbnail" src={{ForgeryResponseData.passportImg}} />
                      <img class="img-thumbnail" src={{ForgeryResponseData.passportImgBack}} />
                    </div>
                    <p>
                      <b>Type</b>:Passport
                      <b>Forged:</b>{{ForgeryResponseData.passportForgeryStatus}}
                    </p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <p>&nbsp;</p>
          <mat-card class="example-card border">
            <mat-card-header>
              <mat-card-title>
                Image Quality
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row"
                *ngIf="ImageQualityResponseData !== undefined && ImageQualityResponseData !=null && ImageQualityResponseData!=''">
                <div class="col-md-6">
                  <div>
                    <div>
                      <img class="img-thumbnail img-show" src={{ImageQualityResponseData.panImg}} />
                    </div>
                    <p>
                      <b>Type</b>:Pan
                      <b>Score:</b>{{ImageQualityResponseData.panScore}}
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    *ngIf="ImageQualityResponseData.aadharFrontImg !== undefined && ImageQualityResponseData.aadharFrontImg !=''">
                    <div>
                      <img class="img-thumbnail img-show" src={{ImageQualityResponseData.aadharFrontImg}} />
                      <img class="img-thumbnail img-show" src={{ImageQualityResponseData.aadharBackImg}} />
                    </div>
                    <p>
                      <b>Type</b>:Aadhaar
                      <b>Front Score:</b>{{ImageQualityResponseData.aadharFrontScore}}
                      <b>Back Score:</b>{{ImageQualityResponseData.aadharBackScore}}
                    </p>
                  </div>
                  <div *ngIf="ImageQualityResponseData.dlImg !== undefined && ImageQualityResponseData.dlImg !=''">
                    <div>
                      <img class="img-thumbnail img-show" src={{ImageQualityResponseData.dlImg}} />
                    </div>
                    <p>
                      <b>Type</b>:Driving Licence
                      <b>Score:</b>{{ImageQualityResponseData.dlScore}}
                    </p>
                  </div>
                  <div
                    *ngIf="ImageQualityResponseData.passPortFrontImg !== undefined && ImageQualityResponseData.passPortFrontImg !=''">
                    <div>
                      <img class="img-thumbnail" src={{ImageQualityResponseData.passPortFrontImg}} />
                      <img class="img-thumbnail" src={{ImageQualityResponseData.passPortBackImg}} />
                    </div>
                    <p>
                      <b>Type</b>:Passport
                      <b>Front Score:</b>{{ImageQualityResponseData.passPortFrontScore}}
                      <b>Back Score:</b>{{ImageQualityResponseData.passPortBackScore}}
                    </p>
                  </div>
                </div>

              </div>
            </mat-card-content>
          </mat-card>
          <p>&nbsp;</p>
          <mat-card class="example-card border">
            <mat-card-header>
              <mat-card-title>
                Name Match Result
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row"
                *ngIf="NameMatchResponseData !== undefined && NameMatchResponseData !=null && NameMatchResponseData!=''">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name1</th>
                          <th scope="col">Name2</th>
                          <th scope="col">Match Between</th>
                          <th scope="col">Match Reason</th>
                          <th scope="col">Match Result</th>
                          <th scope="col">Match Score</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let nameMatch of NameMatchResponseData">
                          <td>{{nameMatch.name1}}</td>
                          <td>{{nameMatch.name2}}</td>
                          <td>{{nameMatch.match_between}}</td>
                          <td>{{nameMatch.name1_vs_name2_matchReason}}</td>
                          <td>{{nameMatch.name1_vs_name2_matchResult}}</td>
                          <td>{{nameMatch.name1_vs_name2_matchScore}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <p>&nbsp;</p>
          <!-- <mat-card class="example-card border" *ngIf= "kyc_mode =='Biometric'">
      <mat-card-header>
         <mat-card-title>
          Biometric Response
         </mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <div class="row" *ngIf="BiometricResponseData !=null && BiometricResponseData!=''">     
            <div class="col-md-12">
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                       <tr>
                         <th scope="col">Name</th>
                         <th scope="col">Dob</th>
                         <th scope="col">Mobile No</th>
                         <th scope="col">City</th>
                         <th scope="col">State</th>
                         <th scope="col">Pincode</th>
                         <th scope="col">Address</th>
                       </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>{{BiometricResponseData.name}}</td>
                           <td>{{BiometricResponseData.dob}}</td>
                           <td>{{BiometricResponseData.mobile}}</td>
                           <td>{{BiometricResponseData.city}}</td>
                           <td>{{BiometricResponseData.state}}</td>
                           <td>{{BiometricResponseData.pincode}}</td>
                           <td>{{BiometricResponseData.address}}</td>
                        </tr>
                     </tbody>
                   </table>
               </div>
            </div> 
         </div>
      </mat-card-content>
   </mat-card> -->
          <p>&nbsp;</p>
          <mat-card class="example-card border" *ngIf="kyc_mode =='Biometric'">
            <mat-card-header>
              <mat-card-title>
                Biometric Response
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- <p> -->
              <div
                *ngIf="BiometricResponseData !=null && BiometricResponseData!='' && BiometricResponseData.requery_name ==''">
                <button class="btnwidth" (click)="getRequeryData()">Get Requery Data</button>
                <div class="card card-body" *ngIf="loader">
                  <img class="center-block" src="assets/ajax-loading.gif">
                </div>
              </div>
              <!-- </p> -->
              <div class="row" *ngIf="BiometricResponseData !=null && BiometricResponseData!=''">
                <div class="col-md-9">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Dob</th>
                          <th scope="col">Area</th>
                          <th scope="col">City</th>
                          <th scope="col">State</th>
                          <th scope="col">District</th>
                          <th scope="col">Pincode</th>
                          <th scope="col">Country</th>
                          <th scope="col">OTT Response</th>
                          <th scope="col">rurn Response</th>
                          <th scope="col">Bio Response</th>
                          <th scope="col">Requery Response</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{BiometricResponseData.requery_name}}</td>
                          <td>{{BiometricResponseData.requery_dob}}</td>
                          <td>{{BiometricResponseData.requery_area}}</td>
                          <td>{{BiometricResponseData.requery_city}}</td>
                          <td>{{BiometricResponseData.requery_state}}</td>
                          <td>{{BiometricResponseData.requery_district}}</td>
                          <td>{{BiometricResponseData.requery_pin}}</td>
                          <td>{{BiometricResponseData.requery_country}}</td>
                          <td>{{BiometricResponseData.ott_response}}</td>
                          <td>{{BiometricResponseData.rurn_response}}</td>
                          <td>{{BiometricResponseData.bio_response}}</td>
                          <td>{{BiometricResponseData.requery_response}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-3">
                  <p *ngIf="BiometricResponseData.requery_photo!=''">
                    <img class="img-thumbnail"
                      src="{{apiUrlVar}}/getPhoto?filename={{BiometricResponseData.requery_photo}}&type=addressproofdocThumb&token={{token}}" />
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button [mat-dialog-close]="true" class="btn btn-outline-secondary" cdkFocusInitial>Unlock</button> -->
</mat-dialog-actions>