  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {flex-basis: 0;}
  
.example-headers-align .mat-expansion-panel-header-description {justify-content: space-between;align-items: center;}
  
.example-headers-align .mat-form-field + .mat-form-field {margin-left: 8px;}

.mat-action-row {padding: 9px 8px 0px 24px !important;}

.mat-dialog-actions {padding: 10px 0px 30px !important;}

.example-radio-group {display: flex;flex-direction: column;margin: 15px 0;}
.example-radio-button {margin: 5px;}

.mat-card>.mat-card-actions:last-child {
     margin-bottom: 0px !important; 
     padding-bottom: 0px !important;
}
.example-action-buttons{padding: 5px 5px 0px 0px;}
.top-action-buttons{padding: 5px 5px 5px 0px;}
.videoContent {display: inline-block;}
.overflow-auto{overflow-x: auto !important;}
/* .full-screen-modal {  
     margin-left:'5%' !important;
} */
/* .img-show{
     width: 80%;
} */

.img-thumbnail {
     width: 260px;
     height:200px;
}

.mat-modal{
     margin-left: 137px!important;
}

.dashboard-full-width{
     margin-right: 14px!important;
}

.input12{
     width: 107px;
     height: 44px;
     font-size: 1.5rem;
     text-align: center;
}
.borderBOx{
     border: 2px solid gray;
}
.inputsection{
     margin-left: 128px;
    margin-top: 45px;
}
.btnsectiorn{
     margin-bottom: 32px;   
}
.borderresponseBOx{
     margin: 19px 0px;
     border: 2px solid gray;
}

table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
   }
   
   td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
   }
   
   tr:nth-child(even) {
     background-color: #dddddd;
   }
