<div class="biometric-kyc">
    <div class="container-fluid" *ngIf="loader">
      <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="divLoading">
                <h1>Biometric Kyc</h1>
                <p>
                  <img src="assets/ajax-loading.gif">
                    You are being redirected, please wait...
                </p>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" *ngIf="status != ''">
        <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="divLoading">
                  <h1>Biometric Kyc</h1>
                  <p *ngIf="status == 'success'">
                      Rbl Verification Completed
                  </p>
                  <p *ngIf="status == 'failed'">
                      Rbl Verification Failed
                  </p>
                  <p *ngIf="status == 'rbl_failed'">
                   Bank side issue.
                </p>
              </div>
          </div>
        </div>
      </div>
  </div>
  
  
  
  