<div class="wrapper">
    <div class="container-fluid">
        <!-- <div id="block_error" *ngIf="invalidSession">
            <div class="row">
                <div class="col-md-12">
                    <h2>Error ! Your Session has been expired!</h2>
                    <p>It apperrs that either something went wrong or the session has expired<br>This website is unable to service your request. Please re-login to portal or check back shortly.
                    </p>
                    <p>If you have any questions, please contact our Technical Support department.</p>
                </div>
            </div>
        </div> -->
    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="divLoading">
                    <p>
                        <img class="center-block" src="assets/ajax-loading.gif">
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
