<div class="aadhar-otp" *ngIf="viewAadharOtp">
   
        <div class="row">
            <div class="col-sm-12">
                <h1>Choose Aadhar Process </h1>
            </div>
        </div>
        
        <div *ngIf="!loader" >
            <section class="example-section">
                <label class="example-margin">Choose Aadhar Process :</label>
                <mat-radio-group [(ngModel)]="labelPosition">
                  <mat-radio-button class="example-margin" *ngIf="hiddentab1  == 1" value="1">Aadhar with OTP</mat-radio-button>
                  <mat-radio-button *ngIf="hiddentab  == 1"  class="example-margin" value="2">Aadhar with NON-OTP</mat-radio-button>
                </mat-radio-group>
              </section>

            <div class="row" style="margin-top: 35px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><button mat-raised-button color="primary" [disabled]='clickable' (click)="onSubmit()">Submit</button>
                </div>
                <div class="col-sm-4"></div>

            </div>
        </div>

        <div class="container-fluid" *ngIf="loader">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="divLoading">
                      <p>
                        <img src="assets/ajax-loading.gif">
                           please wait...
                      </p>
                  </div>
              </div>
            </div>
        </div>

    <!-- <div class="container-fluid" *ngIf="aadharotploader">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="divLoading">
                    <p>
                        <img src="assets/ajax-loading.gif">
                        You are being redirected, please wait...
                    </p>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div *ngIf="msg !=''">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap" rel="stylesheet">
    <h1>Verification Result</h1>
    <p>{{(msg != '')? msg : ''}}</p><br>
</div>


<app-aadhar-otp *ngIf="!viewAadharOtp" [labelPosOneResult]="AadharchooseCredentials" ></app-aadhar-otp>