<div class="wrapper">
   <!-- Navbar -->
   <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" routerLink="/"><i class="fas fa-bars"></i></a>
         </li>
         <li class="nav-item d-none d-sm-inline-block">
            <a routerLink="/" class="nav-link">Home</a>
         </li>
      </ul>
      <!-- Right navbar links -->
   </nav>
   <!-- /.navbar -->
   <!-- Main Sidebar Container -->
   <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
      <!-- Sidebar -->
      <div class="sidebar">
         <!-- Sidebar user panel (optional) -->

         <!-- Sidebar Menu -->
         <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
               <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                 <li class="nav-item">
                  <a routerLink="/dashboard" class="nav-link active">
                     <i class="fa fa-user-circle nav-icon"></i>
                     <p>Onboard New Retailer</p>
                  </a>
                  <a routerLink="/kyc-forms" class="nav-link ">
                     <i class="fa fa-hourglass-start nav-icon"></i>
                     <p>View Form Status</p>
                  </a>
                  <ul class="nav">
                     <li class="nav-item">
                        <a (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                           &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                           <p>Logout</p>
                        </a>
                     </li>
                  </ul>
               </li>
               
            </ul>
         </nav>
         <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
   </aside>
   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
         <div class="container-fluid">
            <div class="row mb-2">
               <div class="col-sm-6">
                  <h1 class="m-0 text-dark">Onboard New Retailer</h1>
               </div>
               <!-- /.col -->
               <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                     <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                     <li class="breadcrumb-item active">Onboard New Retailer</li>
                  </ol>
               </div>
               <!-- /.col -->
            </div>
            <!-- /.row -->
         </div>
         <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
      <!-- Main content -->

      <section class="content" *ngIf="!steperBlock">
         <div class="container-fluid">
             <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"> 
                  <div class="card">
                     <div class="card-header">
                       <h5 class="m-0">Mobile Verification</h5>
                     </div>
                     <div class="card-body">
                        
                       <form [formGroup]="MobileFormGroup" class="dashboard-form" (ngSubmit)="addMobileDetail()">
                        <mat-card-content>
                           <div class="form-group" *ngIf="mobileError!=''">
                              <p class="alert alert-danger">{{mobileError}}</p>
                           </div>
                           <mat-form-field class="dashboard-full-width">
                              <mat-label>Enter Mobile Number</mat-label>
                              <input matInput formControlName="mobile" [(ngModel)]="mobile"
                                 placeholder="Enter Mobile Number" minlength="10" maxlength="10" required>
                           </mat-form-field>
                        </mat-card-content>
                        <mat-card-actions>
                           <div class="dashboard-action-buttons text-left">
                              <button type="submit" [disabled]="!MobileFormGroup.valid" class="btnwidth pull-left"
                                 mat-raised-button> <i class="fa fa-check"></i> Submit</button>
                              &nbsp;
                           </div>
                        </mat-card-actions>
                     </form>
                     <img *ngIf="loader" src="assets/ajax-loading.gif">  
                        
                     </div>
                   </div>
                </div>
             </div>
               <!-- <mat-card class="dashboard-card">
                  <mat-card-header>
                     <mat-card-title>Mobile Verification</mat-card-title>
                  </mat-card-header>
                  <form [formGroup]="MobileFormGroup" class="dashboard-form" (ngSubmit)="addMobileDetail()">
                     <mat-card-content>
                        <div class="form-group" *ngIf="mobileError!=''">
                           <p class="alert alert-danger">{{mobileError}}</p>
                        </div>
                        <mat-form-field class="dashboard-full-width">
                           <mat-label>Enter Mobile Number</mat-label>
                           <input matInput formControlName="mobile" [(ngModel)]="mobile"
                              placeholder="Enter Mobile Number" minlength="10" maxlength="10" required>
                        </mat-form-field>
                     </mat-card-content>
                     <mat-card-actions>
                        <div class="dashboard-action-buttons text-left">
                           <button type="submit" [disabled]="!MobileFormGroup.valid" class="btnwidth pull-left"
                              mat-raised-button> <i class="fa fa-check"></i> Submit</button>
                           &nbsp;<img *ngIf="loader" src="assets/ajax-loading.gif">
                        </div>
                     </mat-card-actions>
                  </form>
               </mat-card> -->
            </div>
         
      </section>
      <section class="content" *ngIf="steperBlock">
         <div class="container-fluid">
            <div class="tab" id="tab1" *ngIf="tab1">
               <div class="card card-body">
                  <div class="p-3" *ngIf="kyCRemarksArray.stage_1 != ''">
                     <label>Remarks</label>
                     <li *ngFor="let panRemarks of kyCRemarksArray.stage_1">
                        {{panRemarks.remarks}} by {{panRemarks.first_name}}
                     </li>
                  </div>
                  <mat-card class="dashboard-card">
                     <mat-card-header>
                        <mat-card-title>Pan Verification</mat-card-title>
                     </mat-card-header>
                     <form [formGroup]="PanFormGroup" (ngSubmit)="addPanDetails()" class="dashboard-form">
                        <mat-card-content>
                           <mat-form-field class="dashboard-full-width">
                              <mat-label>Enter Pan Number</mat-label>
                              <input matInput [(ngModel)]="pan" formControlName="pan" placeholder="Enter Pan Number"
                                 minlength="10" maxlength="10" required>
                           </mat-form-field>
                        </mat-card-content>
                        <mat-card-actions>
                           <div class="dashboard-action-buttons text-left">
                              &nbsp;<button [disabled]="!PanFormGroup.valid" mat-button
                                 class="btn btn-secondary">Next</button>
                              <div class="float-right" *ngIf="loader">
                                 <img src="assets/ajax-loading.gif">&nbsp;Pan Verification is being processed, please
                                 wait...
                              </div>
                           </div>
                        </mat-card-actions>
                     </form>
                  </mat-card>
               </div>
            </div>
            <div class="tab" id="tab2" *ngIf="tab2">
               <div class="card card-body">
                  <mat-card class="dashboard-card">
                     <mat-card-header>
                        <mat-card-title>Distributor Mapping</mat-card-title>
                     </mat-card-header>
                     <form class="dashboard-form" [formGroup]="DistributorFormGroup"
                        (ngSubmit)="addDistributorDetails()">
                        <div class="card">
                           
                           <ng-select2 id="myselect" from width=100% formControlName="distributor"
                           [(ngModel)]="distributor" placeholder='Please select distributor...'
                           [data]="exampleData"> </ng-select2>
                        </div>
                           <!-- <mat-form-field class="dashboard-full-width">
                              <input matInput placeholder="Please select distributor" aria-label="State"
                                 [matAutocomplete]="auto" [formControl]="stateCtrl" formControlName="distributor"
                                 [(ngModel)]="distributor">
                              <mat-autocomplete #auto="matAutocomplete">
                                 <mat-option *ngFor="let dist of filteredDistributors | async"
                                    [value]="dist.dt_username">
                                    <span>{{dist.dt_name}}</span> | <small>{{dist.dt_username}}</small>
                                 </mat-option>
                              </mat-autocomplete>
                           </mat-form-field> -->
                       
                        <mat-card-actions>
                           <div class="dashboard-action-buttons text-left">
                              <a href="javascript:void(0)" (click)="prevStep(1)" class="btn btn-secondary">Back</a>
                              <button mat-button class="btn btn-secondary">Next</button>
                              <div class="float-right" *ngIf="loader"><img
                                    src="assets/ajax-loading.gif">&nbsp;Distributor Mapping is being processed, please
                                 wait...</div>
                           </div>
                        </mat-card-actions>
                     </form>
                  </mat-card>
               </div>
            </div>
            <div class="tab" id="tab3" *ngIf="tab3">
               <div class="card card-body">
                  <div class="p-3" *ngIf="kyCRemarksArray.stage_3 != ''">
                     <label>Remarks</label>
                     <li *ngFor="let remarks of kyCRemarksArray.stage_3">
                        {{remarks.remarks}} by {{remarks.first_name}}
                     </li>
                  </div>
                  <mat-card class="dashboard-card">
                     <mat-card-header>
                        <mat-card-title>Verification Method</mat-card-title>
                     </mat-card-header>
                     <form class="dashboard-form" [formGroup]="KycModeFormGroup" (ngSubmit)="addKycMode()">
                        <mat-card-content>
                           <label id="example-radio-group-label">Pick your KYC Mode</label>
                           <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                              [(ngModel)]="kyc_mode" formControlName="kyc_mode">
                              <mat-radio-button class="example-radio-button" *ngFor="let kycmode of kycModeList"
                                 [value]="kycmode.value">
                                 {{kycmode.viewValue}}
                              </mat-radio-button>
                           </mat-radio-group>
                           <!-- <p>Note: Debited from your relipay's wallet.</p> -->
                        </mat-card-content>
                        <mat-card-actions>
                           <div class="dashboard-action-buttons text-left">
                              <a href="javascript:void(0)" (click)="prevStep(2)" class="btn btn-secondary">Back</a>
                              <button mat-button class="btn btn-secondary"
                                 [disabled]="!KycModeFormGroup.valid">Save</button>
                              <div class="float-right" *ngIf="loader">
                                 <img src="assets/ajax-loading.gif">&nbsp;KYC mode is being processed, please wait...
                              </div>
                           </div>
                        </mat-card-actions>
                     </form>
                  </mat-card>
               </div>
            </div>
            <div style="text-align:center;margin-top:40px;">
               <span class="step"></span>
               <span class="step"></span>
               <span class="step"></span>
            </div>
         </div>
      </section>
      <!-- /.content -->
   </div>
   <!-- /.content-wrapper -->
   <!-- Control Sidebar -->
   <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
   </aside>
   <!-- /.control-sidebar -->
   <!-- Main Footer -->

</div>