/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~video.js/dist/video-js.css';
@import '~videojs-record/dist/css/videojs.record.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: red;}
.center-block {display: block;margin-right: auto;margin-left: auto;}

/* .kyc-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  } */
  
  .kyc-full-width {
    width: 100%;
  }
  .tblhead{color: #ffffff; background: #4f5a60;}

  .stepperBottom{margin:30px 0px 0px 0px;padding:5px 0px 5px 0px;}
  .btnwidth{ padding: 10px; background: #1fa39a; border-color:#4f5a60;color:#fff; margin-bottom: 5px;}
  .btnwidth100{width:100%;padding: 10px; background: #4f5a60; border-color:#4f5a60;color:#fff; margin-top: 5px;}

  .mat-snack-bar-container {border-radius: 4px;box-sizing: border-box;display: block;margin: 192px !important;
    max-width: 33vw;min-width: 344px;padding: 14px 16px;min-height: 48px;transform-origin: center;
  }
.fa-sign-out-alt:before {font-size:1.33333333em !important;line-height:.75em !important;vertical-align:-15% !important;}
.mat-card-header-text{margin:0px !important;color:#46924D;font-size: 25px !important;}
.customnext{color:#ffffff !important;width:160px;}
.btnwidthauto{width: auto; padding: 10px; background: #4f5a60; border-color:#4f5a60;color:#fff; margin-bottom: 5px;}
.btnwidthauto a:hover{color: #000 !important}
.btnred{background: #d40a0a}
a.btnwidth.exptoexclbtn:hover{color: #fff !important; background: #1A78C9;}
.btnwidth{
  display: inline-block;
  font-weight: 400;
  color: #fff !important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body .cdk-overlay-container{
	width: calc(100% - 250px)!important;
    right: 0!important;
    left: unset!important;
}

body.sidebar-collapse .cdk-overlay-container{

		width: calc(100% - 73px)!important;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #1fa39a   !important;
  color: #ffffff;
}