<div class="aadhar-otp">
    <form [formGroup]="aadharForm">
        <h1>Aadhar NON-OTP</h1>
        <div *ngIf="!aadharotploader">
            <input class="input12" id="one" #input1 formControlName="firstnum1" (keypress)="numberOnly($event)"
                minlength="4" maxlength="4" appMask >&nbsp;&nbsp;&nbsp;
            <input class="input12" #input2 formControlName="secondnum1" (keypress)="numberOnly($event)" minlength="4"
                maxlength="4" appMask id="two">&nbsp;&nbsp;&nbsp;
            <input class="input12" #input3 formControlName="thirdnum1" (keypress)="numberOnly($event)" minlength="4"
                maxlength="4">
            <div class="error-class">{{msg}}</div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                </div>
                <div class="col-sm-4"></div>

            </div>
        </div>
    </form>
    <div class="container-fluid" *ngIf="aadharotploader">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="divLoading">
                    <p>
                        <img src="assets/ajax-loading.gif">
                        You are being redirected, please wait...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>