<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Video Kyc</title>
	<meta content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" name="viewport">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <div *ngIf="msg==''">
        <div class="video">
            <div class="card1">
                <video id="video_{{idx}}" class="video-js vjs-default-skin" playsinline></video>
            </div>
        </div>
        <!-- <div *ngIf="saveVideo" class="pt-2">       
            <button type="button" class="btn btn-primary" (click)="uploadVideo()" id="submit">Do Video Verification</button>
        </div> -->
        <div class="pt-2" *ngIf="showReady">       
            <button type="button" class="btn btn-primary" (click)="startRecording()" id="submit">I am Ready</button>
        </div>
        <div *ngIf="random !=''">
            <h2><b>({{random}}) Please,speak this OTP....</b></h2>
        </div>
        <div *ngIf="showTimer">
            <h2><b>{{timeLeft}} Seconds Left....</b></h2>
        </div>
        <div class="container-fluid" *ngIf="loader">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="divLoading">
                      <p>
                        <img src="assets/ajax-loading.gif">
                          You Verification is in progress, please wait...
                      </p>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="video-res" *ngIf="msg!=''">
        {{msg}}
    </div>

</body>

