<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <!-- Right navbar links -->

  </nav>
  <!-- /.navbar -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="logo" style="text-align: center;"><img style="width:206px" src="assets/logo.png"></div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-1" *ngIf="user.type==2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/staff" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/staff-dashboard" class="nav-link ">
              <i class="fa fa-file nav-icon"></i>
              <p>Retailer KYC</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/partner-kyc" class="nav-link ">
              <i class="fa fa-file nav-icon"></i>
              <p>Partner KYC</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link active">
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <ul class="nav">
              <li class="nav-item">
                <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                  &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                  <p>Logout</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <nav class="mt-1" *ngIf="user.type==1">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-remarks" class="nav-link " *ngIf="user.type && user.type == 3">
              <i class="nav-icon fa fa-book"></i>
              <p>Remarks</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-reports" class="nav-link ">
              <i class="fas fa-clipboard-list nav-icon"></i>
              <p>Reports</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-users nav-icon"></i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link active">
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-settings" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-cog nav-icon"></i>
              <p>Settings</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-spinner nav-icon"></i>
              <p>Signzy Log</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/appLink" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-mobile nav-icon"></i>
              <p>App Link</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/deleteForms" class="nav-link ">
              <i class="fa fa-ban nav-icon"></i>
              <p>Delete Forms</p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <ul class="nav">
              <li class="nav-item">
                <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                  &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                  <p>Logout</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <nav class="mt-1" *ngIf="user.type==3">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-remarks" class="nav-link ">
              <i class="nav-icon fa fa-book"></i>
              <p>Remarks</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-reports" class="nav-link ">
              <i class="fas fa-clipboard-list nav-icon"></i>
              <p>Reports</p>
            </a>
          </li> 
          <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link active">
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
          </li> 
          <li class="nav-item">
            <a routerLink="/deleteForms" class="nav-link ">
              <i class="fa fa-ban nav-icon"></i>
              <p>Delete Forms</p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <ul class="nav">
              <li class="nav-item">
                <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                  &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                  <p>Logout</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Agent Created Error Report</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active">Agent Error</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-body">
          <form (submit)="getAgentError()" [formGroup]="SearchFormData" class="kyc-form">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="kyc-full-width">
                  <mat-label>Mobile Number</mat-label>
                  <input matInput placeholder="Enter mobile Number" formControlName="uservalue">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <input type="hidden" formControlName="page" name="page" [(ngModel)]="page">
                <button class="btn btn-navbar" mat-button type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="card card-body" *ngIf="loader">
          <img class="center-block" src="assets/ajax-loading.gif">
        </div>

        <div class="card card-body">
          <div>
            <div class="row">
              <div class="col-md-6 pull-left">
                <div *ngIf='result.length !== 0'>
                  <strong>Total Records</strong> : <span>{{length}}</span>
                </div>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="table-responsive">
              <table *ngIf='result.length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0"
                width="100%">
                <thead class="tblhead">
                  <tr align="center">
                    <th>Mobile</th>
                    <th>Response</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let kycDetail of result; let i = index" align="center">
                    <td>{{kycDetail.mobileNumber}}</td>
                    <td>{{kycDetail.agent_created_error}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf='length === 0' align="center">
                <p>No Record Found!!!</p>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator *ngIf='result.length !== 0' [length]="length" [pageSize]="pageSize" (page)="pageevent($event)">
        </mat-paginator>
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021</strong>
    All rights reserved.
    <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
  </footer>
</div>

<ngx-ui-loader></ngx-ui-loader>
