<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->

    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="javascript:" class="brand-link">
        <img
          src="assets/logo.png"
          alt="ekyc"
          class="brand-image"
          style="opacity: 0.8;"
        />
        <span class="brand-text font-weight-light">VSTS</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img
              src="assets/user2-160x160.jpg"
              class="img-circle elevation-2"
              alt="User Image"
            />
          </div>
          <div class="info">
            <a href="javascript:" class="d-block">{{user.name}}</a>
          </div>
        </div>
        
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="user.type && (user.type == 2)">
                  <a routerLink="/staff" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard</p>
                  </a>
                    <a routerLink="/staff-dashboard" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Retailer KYC</p>
                    </a>
                    <a routerLink="/partner-kyc" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Partner KYC</p>
                    </a>
                    <a routerLink="/agent-error" class="nav-link active" >
                      <i class="far fa-circle nav-icon"></i>
                      <p>Agent Error</p>
                    </a>
                    <a routerLink="/lockedForms" class="nav-link active" >
                        <i class="far fa-circle nav-icon"></i>
                        <p>Rejected Locked Forms</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="user.type && (user.type == 3 || user.type == 1)">
                    <a routerLink="/admin-dashboard" class="nav-link active" >
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard</p>
                    </a>
                    <a routerLink="/admin-remarks" class="nav-link active" *ngIf="user.type && user.type == 3">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Remarks</p>
                    </a>
                    <a routerLink="/admin-reports" class="nav-link active" >
                        <i class="far fa-circle nav-icon"></i>
                        <p>Reports</p>
                    </a>
                    <a routerLink="/users" class="nav-link active" *ngIf="user.type && user.type != 3">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Users</p>
                    </a>
                    <a routerLink="/agent-error" class="nav-link active" >
                        <i class="far fa-circle nav-icon"></i>
                        <p>Agent Error</p>
                    </a>
                    <a routerLink="/admin-settings" class="nav-link active" *ngIf="user.type && user.type != 3">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Settings</p>
                    </a>
                    <a routerLink="/signzyLog" class="nav-link active" *ngIf="user.type && user.type != 3">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Signzy Log</p>
                  </a>
                    <a routerLink="/lockedForms" class="nav-link active" >
                        <i class="far fa-circle nav-icon"></i>
                        <p>Rejected Locked Forms</p>
                    </a>
                  </li>
              </ul>
            </li>
            <li class="nav-item">
              <a routerLink="/login" class="nav-link active" (click)= "logMeOut()">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                   Logout
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Rejected Locked Forms</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Rejected Locked Forms</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="card card-body">
            <form (submit)="getLockedData()" [formGroup]="SearchFormData" class="kyc-form">
              <div class="row"> 
                <div class="col-md-4">
                    <mat-form-field class="kyc-full-width">
                      <mat-label>Mobile Number</mat-label>
                      <input matInput placeholder="Enter mobile Number" formControlName="uservalue">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <input type="hidden" formControlName="page" name="page" [(ngModel)]="page">
                    <button class="btn btn-navbar" mat-button type="submit">
                    <i class="fas fa-search"></i>
                    </button>
                </div>
              </div>
            </form>
          </div>

          <div class="card card-body" *ngIf="loader">
            <img class="center-block" src="assets/ajax-loading.gif">
        </div>

          <div class="card card-body">
            <div> 
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <div *ngIf='result.length !== 0'>
                            <strong>Total Records</strong> : <span>{{length}}</span> 
                        </div>
                    </div> 
                </div>
                <div class="clearfix">&nbsp;</div>
                <div  class="table-responsive"> 
                    <table *ngIf='result.length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead class="tblhead">
                            <tr align="center">
                                <th>Mobile</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kycDetail of result; let i = index" align="center">
                                <td>{{kycDetail.mobileNumber}}</td>
                                <td>
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" (change)='unlockData($event,kycDetail.mobileNumber)'>unlock</mat-checkbox>
                                  </section>
                                </td>
                            </tr>  
                        </tbody>
                    </table>
                    <div *ngIf='length === 0' align="center"><p>No Record Found!!!</p></div> 
                  </div>              
                </div>
          </div>
          <!-- <mat-paginator *ngIf='result.length !== 0' 
          [length]="length"
          [pageSize]="pageSize" 
          (page)="pageevent($event)">
          </mat-paginator> -->
        </div>
        <!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2014-2021</strong
      >
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>
  