.pdnglft{padding-left: 15px;}
.pdngbtm{padding-bottom: 1rem}
.card-no-border .card{    box-shadow:0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12)}
.card-primary{background: #C4132F;}
.card-success{background: #3E6DAA;}
.card-third{background: #237A2A;}
.card-danger{background: #680877;}
.card-title{margin-bottom: 0px;color: white;}
.divLoading {margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; }
.divLoading p {position: absolute; color: White; top: 50%; left: 45%;color:#000;} 
.card-link a {color: black !important;}
.card-link a:hover {color: white !important;}