<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <!-- <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a> -->
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <!-- <div class="media">
                <img
                  src="assets/user1-128x128.jpg"
                  alt="User Avatar"
                  class="img-size-50 mr-3 img-circle"
                />
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-right text-sm text-danger"
                      ><i class="fas fa-star"></i
                    ></span>
                  </h3>
                  <p class="text-sm">Call me whenever you can...</p>
                  <p class="text-sm text-muted">
                    <i class="far fa-clock mr-1"></i> 4 Hours Ago
                  </p>
                </div>
              </div> -->
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <!-- <div class="media">
                <img
                  src="assets/user8-128x128.jpg"
                  alt="User Avatar"
                  class="img-size-50 img-circle mr-3"
                />
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-right text-sm text-muted"
                      ><i class="fas fa-star"></i
                    ></span>
                  </h3>
                  <p class="text-sm">I got your message bro</p>
                  <p class="text-sm text-muted">
                    <i class="far fa-clock mr-1"></i> 4 Hours Ago
                  </p>
                </div>
              </div> -->
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <!-- <div class="media">
                <img
                  src="assets/user3-128x128.jpg"
                  alt="User Avatar"
                  class="img-size-50 img-circle mr-3"
                />
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-right text-sm text-warning"
                      ><i class="fas fa-star"></i
                    ></span>
                  </h3>
                  <p class="text-sm">The subject goes here</p>
                  <p class="text-sm text-muted">
                    <i class="far fa-clock mr-1"></i> 4 Hours Ago
                  </p>
                </div>
              </div> -->
              <!-- Message End -->
            </a>
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a href="#" class="dropdown-item dropdown-footer">See All Messages</a> -->
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer"
              >See All Notifications</a
            >
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            data-widget="control-sidebar"
            data-slide="true"
            href="#"
            ><i class="fas fa-th-large"></i
          ></a>
        </li> -->
      </ul>
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
  
      <!-- Sidebar -->
      <div class="sidebar">  
        <!-- Sidebar Menu -->
        <nav class="mt-1">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link active" >
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-remarks" class="nav-link " *ngIf="user.type && user.type == 3">
              <i class="nav-icon fa fa-book"></i>
              <p>Remarks</p>
            </a>
          </li>
          <li class="nav-item">
             <a routerLink="/admin-reports" class="nav-link " >
              <i class="fas fa-clipboard-list nav-icon"></i>
              <p>Reports</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/users" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-users nav-icon"></i>
              <p>Users</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link " >
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-settings" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-cog nav-icon"></i>
              <p>Settings</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-spinner nav-icon"></i>
              <p>Signzy Log</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/appLink" class="nav-link " *ngIf="user.type && user.type != 3">
            <i class="fa fa-mobile nav-icon"></i>
            <p>App Link</p>
          </a> 
        </li> 
          <li class="nav-item">
          <a routerLink="/deleteForms" class="nav-link ">
            <i class="fa fa-ban nav-icon"></i>
            <p>Delete Forms</p>
          </a>
          </li>

            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a  routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li> 
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">

      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Admin Dashboard</h1>
            </div>
           
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Admin Dashboard</li>
              </ol>
            </div>
           
          </div>
        </div>
      </div>
     
      <section class="content">
          <div class="container-fluid" *ngIf="loader">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="divLoading">
                        <p>
                            <img class="center-block" src="assets/ajax-loading.gif">
                            
                        </p>
                    </div>
                </div>
            </div>
          </div> 
        <div class="container-fluid" *ngIf="!loader">
            <!-- <div class="row">
                <div class="col-lg-3 col-md-12">
                   <div class="card card-inverse card-success">
                      <div class="card-body">
                         <div class="d-flex">                   
                            <div>
                               <h3 class="card-title">Today Approved Forms&nbsp;({{dashboardStats.total_approved_forms}})</h3> 
                               <div class="card-link"><a routerLink="/admin-reports" [queryParams]="{'status':'2'}">View Reports</a></div>                 
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="card card-inverse card-third">
                     <div class="card-body">
                        <div class="d-flex">                  
                           <div>
                              <h3 class="card-title">Today Pre-approved Forms&nbsp;({{dashboardStats.total_pre_approved_froms}})</h3>
                              <div class="card-link"><a routerLink="/admin-reports" [queryParams]="{'status':'1'}">View Reports</a></div>                    
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
                <div class="col-lg-3 col-md-12">
                   <div class="card card-inverse card-danger">
                      <div class="card-body">
                         <div class="d-flex">                  
                            <div>
                               <h3 class="card-title">Today Incomplete Forms&nbsp;({{dashboardStats.total_pending_forms}})</h3>
                               <div class="card-link"><a routerLink="/admin-reports" [queryParams]="{'status':'0'}">View Reports</a></div>                 
                            </div>
                         </div>
                         
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="card card-inverse card-primary">
                     <div class="card-body">
                        <div class="d-flex">                   
                           <div>
                              <h3 class="card-title">Today Rejected Forms&nbsp;({{dashboardStats.total_rejected_forms}})</h3>
                              <div class="card-link"><a routerLink="/admin-reports" [queryParams]="{'status':'3'}">View Reports</a></div>                 
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
             </div> -->
             <h3 class="m-0 text-dark"> Today Records</h3>
             <!-- <div class="row"> 
              <div class="col-lg-3 col-md-12">
                <div class="card card-inverse card-success">
                   <div class="card-body">
                      <div class="d-flex">                   
                         <div>
                            <h3 class="card-title">Today Pendings Forms&nbsp;({{dashboardStats.total_manual_forms}})</h3> 
                            <div class="card-link"><a routerLink="/admin-reports" [queryParams]="{'status':'5'}">View Reports</a></div>                 
                         </div>
                      </div>
                   </div>
                </div>
              </div>

             </div>
             <div class="row">
                <div class="col-md-3 col-lg-3">
                   <div class="card card-body">
                      <div class="row">
                         <a class="col-md-12">
                            <div class="widthdbox">
                               <h2 class="font-light m-b-0">total</h2>
                               <h6 class="text-muted">Total</h6>
                            </div>
                            <div class="text-right userstxt widthdbox1">
                               <i class="fa fa-building-o"></i>
                            </div>
                         </a>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-lg-3">
                   <div class="card card-body">
                      <div class="row">
                         <a class="col-md-12">
                            <div class="widthdbox">
                               <h2 class="font-light m-b-0">total</h2>
                               <h6  class="text-muted">Total</h6>
                            </div>
                            <div class="widthdbox1 userstxt text-right">
                               <div class="fa fa-users"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-lg-3">
                   <div class="card card-body">
                      <div class="row">
                         <a class="col-md-12" >
                            <div class="widthdbox">
                               <h2 class="font-light m-b-0">total</h2>
                              
                               <h6  class="text-muted">Total</h6>
                            </div>
                            <div class="widthdbox1 text-right userstxt">
                               <div class="fa fa-users"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-lg-3">
                   <div class="card card-body">
                      <div class="row">
                         <a class="col-md-12" >
                            <div class="widthdbox">
                               <h2 class="font-light m-b-0">total</h2>
                              
                               <h6  class="text-muted">Total</h6>
                            </div>
                            <div class="widthdbox1 text-right userstxt">
                               <div class="fa fa-user"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                </div>
             </div> -->
             <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>{{dashboardStats.total_approved_forms}}</h3>
    
                    <p>Today Approved Forms</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a   class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'2'}">View Reports <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box card-danger">
                  <div class="inner">
                    <h3 style="color: #ffffff;">{{dashboardStats.total_pre_approved_froms}}</h3>
    
                    <p style="color: #ffffff;">Today Pre-approved Forms</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a   class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'1'}">View Reports <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3 style="color: #ffffff;">{{dashboardStats.total_pending_forms}}</h3>
    
                    <p style="color: #ffffff;">Today Incomplete Forms</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  <a   class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'0'}"   >View Reports<i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>{{dashboardStats.total_rejected_forms}}</h3>
    
                    <p>Today Rejected Forms</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a  class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'3'}">View Reports <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
            </div>
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>{{dashboardStats.total_manual_forms}}</h3>
    
                    <p>Today Pendings Forms</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a routerLink="/admin-reports"  class="small-box-footer" [queryParams]="{'status':'5'}">View Reports  <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              </div>
              <br>
              <h3 class="m-0 text-dark"> Total Records</h3>
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3>{{dashboardStats.all_approved_forms}}</h3>
      
                      <p>Total Approved Forms</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <a   class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'2'}">View Reports <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box card-danger">
                    <div class="inner">
                      <h3 style="color: #ffffff;">{{dashboardStats.all_pre_approved_froms}}</h3>
      
                      <p style="color: #ffffff;">Total Pre-approved Forms</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a   class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'1'}">View Reports <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3 style="color: #ffffff;">{{dashboardStats.all_pending_forms}}</h3>
      
                      <p style="color: #ffffff;">Total Incomplete Forms</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a   class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'0'}"   >View Reports<i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>{{dashboardStats.all_rejected_forms}}</h3>
      
                      <p>Total Rejected Forms</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <a  class="small-box-footer" routerLink="/admin-reports" [queryParams]="{'status':'3'}">View Reports <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
              </div>
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3>{{dashboardStats.all_manual_forms}}</h3>
      
                      <p>Total Pendings Forms</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <a routerLink="/admin-reports"  class="small-box-footer" [queryParams]="{'status':'5'}">View Reports  <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                </div>
            </div>
     
        <!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2014-2021</strong
      >
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>

  <ngx-ui-loader></ngx-ui-loader>
  