<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
   

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
  
      <!-- Sidebar -->
      <div class="sidebar">  
        <!-- Sidebar Menu -->
        <nav class="mt-1">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
          <li class="nav-item">
            <a routerLink="/staff" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/staff-dashboard" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Retailer KYC</p>
                    </a>
          </li>
          <li class="nav-item">
              <a routerLink="/partner-kyc" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Partner KYC</p>
                    </a>
            </li>
            <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Agent Error</p>
                    </a>
            </li> 
            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a  routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li> 
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Staff Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid" *ngIf="loader">
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="divLoading">
                      <p>
                          <img class="center-block" src="assets/ajax-loading.gif">
                          
                      </p>
                  </div>
              </div>
          </div>
        </div> 
      <div class="container-fluid" *ngIf="!loader">
          <div class="row">
              <div class="col-lg-3 col-md-12" *ngFor="let statusval of userStatus">
                    <span [ngSwitch]="statusval">
                        <div *ngSwitchCase="2" class="card card-inverse card-success">
                            <div class="card-body">
                               <div class="d-flex">                   
                                  <div>
                                     <h3 class="card-title">Today Approved Forms&nbsp;({{dashboardStats.total_approved_forms}})</h3> 
                                     <div class="card-link"><a routerLink="/staff-dashboard" [queryParams]="{'status':'2'}">View Reports</a></div>                 
                                  </div>
                               </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="1" class="card card-inverse card-third">
                            <div class="card-body">
                               <div class="d-flex">                  
                                  <div>
                                     <h3 class="card-title">Today Pre-approved Forms&nbsp;({{dashboardStats.total_pre_approved_froms}})</h3>
                                     <div class="card-link"><a routerLink="/staff-dashboard" [queryParams]="{'status':'1'}">View Reports</a></div>                    
                                  </div>
                               </div>  
                            </div>
                         </div>
                         <div *ngSwitchCase="0" class="card card-inverse card-danger">
                            <div class="card-body">
                               <div class="d-flex">                  
                                  <div>
                                     <h3 class="card-title">Today Incomplete Forms&nbsp;({{dashboardStats.total_pending_forms}})</h3>
                                     <div class="card-link"><a routerLink="/staff-dashboard" [queryParams]="{'status':'0'}">View Reports</a></div>                 
                                  </div>
                               </div>
                               
                            </div>
                         </div>
                         <div *ngSwitchCase="3" class="card card-inverse card-primary">
                            <div class="card-body">
                               <div class="d-flex">                   
                                  <div>
                                     <h3 class="card-title">Today Rejected Forms&nbsp;({{dashboardStats.total_rejected_forms}})</h3>
                                     <div class="card-link"><a routerLink="/staff-dashboard" [queryParams]="{'status':'3'}">View Reports</a></div>                 
                                  </div>
                               </div>
                               
                            </div>
                         </div>
                         <div *ngSwitchCase="5" class="card card-inverse card-success">
                            <div class="card-body">
                               <div class="d-flex">                   
                                  <div>
                                     <h3 class="card-title">Today Pendings Forms&nbsp;({{dashboardStats.total_manual_forms}})</h3> 
                                     <div class="card-link"><a routerLink="/staff-dashboard" [queryParams]="{'status':'5'}">View Reports</a></div>                 
                                  </div>
                               </div>
                            </div>
                         </div>
                    </span>
              </div>
             
           </div>

           <div class="row">
            <!-- <div class="col-lg-3 col-md-12">
               <div class="card card-inverse card-success">
                  <div class="card-body">
                     <div class="d-flex">                   
                        <div>
                           <h3 class="card-title">Not attended from last two days and above&nbsp;({{dashboardStats.total_approved_forms}})</h3> 
                           <div class="card-link"><a routerLink="/admin-reports" [queryParams]="{'status':'emp-processed-pending'}">View Reports</a></div>                 
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->

            <!-- <div class="col-lg-3 col-md-12">
              <div class="card card-inverse card-success">
                 <div class="card-body">
                    <div class="d-flex">                   
                       <div>
                          <h3 class="card-title">Today Pendings Forms&nbsp;({{dashboardStats.total_manual_forms}})</h3> 
                          <div class="card-link"><a routerLink="/admin-reports" [queryParams]="{'status':'5'}">View Reports</a></div>                 
                       </div>
                    </div>
                 </div>
              </div>
            </div> -->

           </div>
           <!-- <div class="row">
              <div class="col-md-3 col-lg-3">
                 <div class="card card-body">
                    <div class="row">
                       <a class="col-md-12">
                          <div class="widthdbox">
                             <h2 class="font-light m-b-0">total</h2>
                             <h6 class="text-muted">Total</h6>
                          </div>
                          <div class="text-right userstxt widthdbox1">
                             <i class="fa fa-building-o"></i>
                          </div>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-lg-3">
                 <div class="card card-body">
                    <div class="row">
                       <a class="col-md-12">
                          <div class="widthdbox">
                             <h2 class="font-light m-b-0">total</h2>
                             <h6  class="text-muted">Total</h6>
                          </div>
                          <div class="widthdbox1 userstxt text-right">
                             <div class="fa fa-users"></div>
                          </div>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-lg-3">
                 <div class="card card-body">
                    <div class="row">
                       <a class="col-md-12" >
                          <div class="widthdbox">
                             <h2 class="font-light m-b-0">total</h2>
                            
                             <h6  class="text-muted">Total</h6>
                          </div>
                          <div class="widthdbox1 text-right userstxt">
                             <div class="fa fa-users"></div>
                          </div>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-lg-3">
                 <div class="card card-body">
                    <div class="row">
                       <a class="col-md-12" >
                          <div class="widthdbox">
                             <h2 class="font-light m-b-0">total</h2>
                            
                             <h6  class="text-muted">Total</h6>
                          </div>
                          <div class="widthdbox1 text-right userstxt">
                             <div class="fa fa-user"></div>
                          </div>
                       </a>
                    </div>
                 </div>
              </div>
           </div> -->
      </div>
      <!--/. container-fluid -->
    </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2014-2021 </strong
      >
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>
  
  <ngx-ui-loader></ngx-ui-loader>
