   <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
    </nav>
    <!-- /.navbar -->
  
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
  
      <!-- Sidebar -->
      <div class="sidebar">  
        <!-- Sidebar Menu -->
        <nav class="mt-1">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
          <li class="nav-item">
            <a routerLink="/staff" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item">
              <a routerLink="/staff-dashboard" class="nav-link active">
                        <i class="fa fa-file nav-icon"></i>
                        <p>Retailer KYC</p>
                      </a>
            </li>
            <li class="nav-item">
              <a routerLink="/partner-kyc" class="nav-link ">
                      <i class="fa fa-file nav-icon"></i>
                      <p>Partner KYC</p>
                    </a>
            </li>
            <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link " >
                      <i class="fa fa-exclamation-triangle nav-icon"></i>
                      <p>Agent Error</p>
                    </a>
            </li> 
            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a  routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li> 
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">E-kyc Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">E-kyc Dashboard</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="card card-body">
            <form (submit)="SearchKycData()" [formGroup]="SearchFormData" class="kyc-form">
              <div class="row"> 
                <div class="col-md-3">
                    <mat-form-field class="kyc-full-width">
                      <mat-label>Mobile Number/ Pan Number / Name/ R.Code/ S.code</mat-label>
                      <input matInput placeholder="Enter mobile Number/ Pan Number / Name" formControlName="uservalue">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="kyc-full-width">
                      <input matInput (click)="pickerfromdate.open()" [min]="minFromDate" [max]="maxFromDate" [matDatepicker]="pickerfromdate" placeholder="From Date" formControlName="fromdate" [(ngModel)]="fromdate" (dateChange)="addEvent('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerfromdate></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field class="kyc-full-width">
                      <input matInput (click)="pickertodate.open()" [min]="minToDate" [max]="maxToDate" [matDatepicker]="pickertodate" placeholder="To Date" formControlName="todate" [(ngModel)]="todate">
                      <mat-datepicker-toggle matSuffix [for]="pickertodate"></mat-datepicker-toggle>
                      <mat-datepicker #pickertodate></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field class="kyc-full-width">
                    <input matInput [min]="minToDate" (click)="pickermodifrom.open()" [max]="maxToDate" [matDatepicker]="pickermodifrom" placeholder="Modified From Date" formControlName="frommodifieddate">
                    <mat-datepicker-toggle matSuffix [for]="pickermodifrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickermodifrom ></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field class="kyc-full-width">
                    <input matInput [min]="minToDate" (click)="pickermodito.open()" [max]="maxToDate" [matDatepicker]="pickermodito" placeholder="Modified To Date" formControlName="modifiedtodate">
                    <mat-datepicker-toggle matSuffix [for]="pickermodito"></mat-datepicker-toggle>
                    <mat-datepicker #pickermodito ></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="kyc-full-width">
                  <mat-select placeholder="Kyc Mode" formControlName="kycMode" >
                      <mat-option *ngFor="let mode of kycModeList" value="{{mode.value}}">{{mode.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="kyc-status-width">
                    <mat-select placeholder="Select Status"  formControlName="status" [(ngModel)]="kycStatus"> 
                        <mat-option value="0">All</mat-option>
                        <mat-option *ngFor="let sts of status; let i = index" align="center" value="{{sts}}">
                          <span [ngSwitch]="sts">
                            <span *ngSwitchCase="1">Pre Approved</span>
                            <span *ngSwitchCase="5">Pending</span>
                            <span *ngSwitchCase="2">Approved</span>
                            <span *ngSwitchCase="3">Rejected</span>
                          </span>
                        </mat-option>
                        <!-- <mat-option value="0">All</mat-option>
                        <mat-option value="1">Pre Approved</mat-option>
                        <mat-option value='5'>Pending</mat-option>
                        <mat-option value="2">Approved</mat-option>
                        <mat-option value="3">Rejected</mat-option> -->
                        <!-- <mat-option value=5>Blocked</mat-option> -->
                    </mat-select>
                </mat-form-field>
                <input type="hidden" formControlName="page" name="page" [(ngModel)]="page"> 
              </div>
              <div class="col-md-3">
                <mat-form-field class="kyc-full-width">
                  <mat-select placeholder="sortby" formControlName="sortby">
                    <mat-option   value="">Select One</mat-option>
                    <mat-option   value="updated_at">MODIFIED ON</mat-option>
                    <mat-option   value="created_at">CREATED ON</mat-option> 
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="kyc-full-width">
                  <mat-select placeholder="Sorting" formControlName="sortdata">
                    <mat-option  value="">Select One</mat-option>
                    <mat-option  value="ASC">Ascending Order</mat-option>
                    <mat-option  value="DESC">Descending Order</mat-option>
                  </mat-select>
                </mat-form-field>
               
                <button class="btn btn-navbar" mat-button type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              </div>
            </form>
          </div>

          <div class="card card-body" *ngIf="loader">
            <img class="center-block" src="assets/ajax-loading.gif">
        </div>

          <div class="card card-body" *ngIf="showlist">
            <div *ngIf="showlist"> 
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <div *ngIf='kycList.length !== 0'>
                            <strong>Total Records</strong> : <span>{{length}}</span> 
                        </div>
                    </div> 
                </div>
                <div class="clearfix">&nbsp;</div>
                <div  class="table-responsive"> 
                    <table *ngIf='kycList.length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead class="tblhead">
                            <tr align="center">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Pan</th>
                                <th>Created By</th>
                                <th>Kyc Type</th>
                                <th>Created On</th>
                                <th>Modified On</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kycDetail of kycList; let i = index" align="center">
                                <td>{{kycDetail.refrenceId}}</td>
                                <td>{{kycDetail.applicantName}}</td>
                                <td>{{kycDetail.mobileNumber}}</td>
                                <td>{{kycDetail.panNumber}}</td>
                                <td>{{kycDetail.creater_username}}</td>
                                <td>{{kycDetail.kyc_mode}}</td>
                                <td>{{kycDetail.created_at}}</td>
                                <td>{{kycDetail.updated_at}}</td>
                                <td [ngSwitch]="kycDetail.verified">
                                  <p *ngSwitchCase="">Not filled</p>
                                  <p *ngSwitchCase="0">Not filled</p>
                                  <p *ngSwitchCase="1">Pre Approved</p>
                                  <p *ngSwitchCase="2">Approved</p>
                                  <p *ngSwitchCase="3">Rejected</p>
                                  <p *ngSwitchCase="5">Pending</p>
                              </td>
                                <td>
                                  <a *ngIf="permission" routerLink="/view-data" [queryParams]="{data: kycDetail.id}"  class="btn"><i class="nav-icon fas fa-edit"></i>View</a>
                                  <button *ngIf="!permission" class="btn" mat-button [disabled]='!status.includes(kycDetail.verified.toString())' (click)="openDialog(kycDetail.id)"> <i class="nav-icon fas fa-edit"></i>Edit</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div *ngIf='kycList.length === 0' align="center"><p>No Record Found!!!</p></div> 
                   
                  </div>
              </div>
            </div>

            <mat-paginator *ngIf='kycList.length !== 0' 
            [length]="length"
            [pageSize]="pageSize" 
            (page)="pageevent($event)">
            </mat-paginator>
        </div>
        <!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- Main Footer -->
    <footer class="main-footer"><strong>Copyright &copy; 2014-2021</strong>All rights reserved.</footer>
  </div>
<<<<<<< HEAD
  
=======
  
  <ngx-ui-loader></ngx-ui-loader>
>>>>>>> remotes/origin/gourav
