<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
     <!-- Left navbar links -->
     <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link" data-widget="pushmenu" href="#"
              ><i class="fas fa-bars"></i
              ></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
           <a href="index3.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
           <a href="#" class="nav-link">Contact</a>
        </li>
     </ul>
     <!-- Right navbar links -->
     <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
           <a class="nav-link" data-toggle="dropdown" href="#">
           <i class="far fa-comments"></i>
           <span class="badge badge-danger navbar-badge">3</span>
           </a>
           <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <a href="#" class="dropdown-item">
                 <!-- Message Start -->
                 <div class="media">
                    <img
                       src="assets/user1-128x128.jpg"
                       alt="User Avatar"
                       class="img-size-50 mr-3 img-circle"
                       />
                    <div class="media-body">
                       <h3 class="dropdown-item-title">
                          Brad Diesel
                          <span class="float-right text-sm text-danger"
                             ><i class="fas fa-star"></i
                             ></span>
                       </h3>
                       <p class="text-sm">Call me whenever you can...</p>
                       <p class="text-sm text-muted">
                          <i class="far fa-clock mr-1"></i> 4 Hours Ago
                       </p>
                    </div>
                 </div>
                 <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                 <!-- Message Start -->
                 <div class="media">
                    <img
                       src="assets/user8-128x128.jpg"
                       alt="User Avatar"
                       class="img-size-50 img-circle mr-3"
                       />
                    <div class="media-body">
                       <h3 class="dropdown-item-title">
                          John Pierce
                          <span class="float-right text-sm text-muted"
                             ><i class="fas fa-star"></i
                             ></span>
                       </h3>
                       <p class="text-sm">I got your message bro</p>
                       <p class="text-sm text-muted">
                          <i class="far fa-clock mr-1"></i> 4 Hours Ago
                       </p>
                    </div>
                 </div>
                 <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                 <!-- Message Start -->
                 <div class="media">
                    <img
                       src="assets/user3-128x128.jpg"
                       alt="User Avatar"
                       class="img-size-50 img-circle mr-3"
                       />
                    <div class="media-body">
                       <h3 class="dropdown-item-title">
                          Nora Silvester
                          <span class="float-right text-sm text-warning"
                             ><i class="fas fa-star"></i
                             ></span>
                       </h3>
                       <p class="text-sm">The subject goes here</p>
                       <p class="text-sm text-muted">
                          <i class="far fa-clock mr-1"></i> 4 Hours Ago
                       </p>
                    </div>
                 </div>
                 <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
           </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
           <a class="nav-link" data-toggle="dropdown" href="#">
           <i class="far fa-bell"></i>
           <span class="badge badge-warning navbar-badge">15</span>
           </a>
           <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-item dropdown-header">15 Notifications</span>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer"
                 >See All Notifications</a
                 >
           </div>
        </li>
        <li class="nav-item">
           <a
              class="nav-link"
              data-widget="control-sidebar"
              data-slide="true"
              href="#"
              ><i class="fas fa-th-large"></i
              ></a>
        </li>
     </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
     <!-- Brand Logo -->
     <a href="index3.html" class="brand-link">
     <img
        src="assets/logo.png"
        alt="ekyc"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8;"
        />
     <span class="brand-text font-weight-light">VSTS</span>
     </a>
     <!-- Sidebar -->
     <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
           <div class="image">
              <img
                 src="assets/user2-160x160.jpg"
                 class="img-circle elevation-2"
                 alt="User Image"
                 />
           </div>
           <div class="info">
              <a href="#" class="d-block">Manoj</a>
           </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
           <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
              >
              <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
              <li class="nav-item has-treeview menu-open">
                 <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Dashboard
                       <i class="right fas fa-angle-left"></i>
                    </p>
                 </a>
                 <ul class="nav nav-treeview">
                    <li class="nav-item">
                       <a routerLink="/dashboard" class="nav-link active">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Retailer Onboarding</p>
                       </a>
                       <!-- <ul class="nav">
                          <li class="nav-item">
                            <a (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                              &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                              <p>Logout</p>
                            </a>
                          </li>
                          </ul> -->
                    </li>
                 </ul>
              </li>
           </ul>
        </nav>
        <!-- /.sidebar-menu -->
     </div>
     <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <div class="content-header">
        <div class="container-fluid">
           <div class="row mb-2">
              <div class="col-sm-6">
                 <h1 class="m-0 text-dark">Retailer Onboarding</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                 <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Retailer Onboarding</li>
                 </ol>
              </div>
              <!-- /.col -->
           </div>
           <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
     </div>
     <!-- /.content-header -->
     <!-- Main content -->
     <section class="content" *ngIf="!steperBlock">
        <div class="container-fluid">
           <div class="card card-body">
              <mat-card class="dashboard-card">
                 <mat-card-header>
                    <mat-card-title>Mobile Verification</mat-card-title>
                 </mat-card-header>
                 <form class="dashboard-form" [formGroup]="MobileFormGroup" (ngSubmit)="agentMobileVerify()">
                 <mat-card-content>
                    <mat-form-field class="dashboard-full-width">
                       <mat-label>Enter Mobile Number</mat-label>
                       <input matInput formControlName="mobileNumber" [(ngModel)]="mobileNumber" placeholder="Enter Mobile Number" minlength="10" maxlength="10" required>
                    </mat-form-field>
                 </mat-card-content>
                 <mat-card-actions>
                    <div class="dashboard-action-buttons text-left">
                       <button type="submit" [disabled]="!MobileFormGroup.valid" class="btn btn-secondary" mat-raised-button> <i class="fa fa-check"></i> Submit</button>
                       &nbsp;<img *ngIf="loader" src="assets/ajax-loading.gif">
                    </div>
                 </mat-card-actions>
                 </form>
              </mat-card>
           </div>
        </div>
     </section>
     <section class="content" *ngIf="steperBlock">
        <div class="container-fluid">
           <div class="tab" id="tab4" *ngIf="tab4">
              <div class="card card-body">
                 <mat-card class="dashboard-card">
                    <mat-card-header>
                       <mat-card-title>Pan Upload</mat-card-title>
                    </mat-card-header>
                    <form [formGroup]="PanFormGroup" (ngSubmit)="uploadPanPhoto()">
                    <mat-card-content>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Pan Photo</mat-label>
                          <ngx-mat-file-input formControlName="pan_doc" placeholder="Required input" valuePlaceholder="No file selected" (change)="onFilePanSelected($event)"></ngx-mat-file-input>
                          <mat-icon matSuffix>folder</mat-icon>
                       </mat-form-field>
                       <div class="row">
                          <div class="text-center col-md-6" *ngIf="panFile != ''">
                             <label for="exampleInputEmail1">Pan Photo</label>
                             <p><img class="img-thumbnail" src="{{apiUrlVar}}/getPhoto/?filename={{panFile}}&type=pandoc"/></p>
                          </div>
                       </div>
                    </mat-card-content>
                    <mat-card-actions>
                       <div class="dashboard-action-buttons text-left">
                          <button mat-button [disabled]="!PanFormGroup.valid" class="btn btn-secondary">Next</button>
                          <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Pan Upload is being processed, please wait...</div>
                       </div>
                    </mat-card-actions>
                    </form>
                 </mat-card>
              </div>
              <div class="card card-body" *ngIf="kyCRemarksArray.stage_4 !=''">
                 <div class="p-3">
                    <label>Remarks</label>
                    <li *ngFor="let remarks of kyCRemarksArray.stage_4">
                       {{remarks.remarks}} by {{remarks.first_name}} 
                    </li>
                 </div>
              </div>
           </div>
           <div class="tab" id="tab5" *ngIf="tab5">
              <div class="card card-body">
                 <mat-card class="dashboard-card" *ngIf="aadharotpform">
                    <mat-card-header>
                       <mat-card-title>Aadhar OTP</mat-card-title>
                    </mat-card-header>
                    <form class="dashboard-form"  [formGroup]="AadharOtpFormGroup" action="{{initWebVIKYCURL}}" method="POST" (ngSubmit)="aadharOtpSubmit($event)">
                    <mat-card-content>
                       <input type="hidden" name="client_code" formControlName="client_code" [(ngModel)]="client_code">
                       <input type="hidden" name="api_key" formControlName="api_key" [(ngModel)]="api_key">
                       <input type="hidden" name="redirect_url" formControlName="redirect_url" [(ngModel)]="redirect_url">
                       <input type="hidden" name="request_id" formControlName="request_id" [(ngModel)]="request_id">
                       <input type="hidden" name="stan" formControlName="stan" [(ngModel)]="stan">
                       <input type="hidden" name="hash" formControlName="hash" [(ngModel)]="hash">
                       <input type="hidden" name="mobile" formControlName="mobile" [(ngModel)]="mobile">
                       <input type="hidden" name="otp_required" formControlName="otp_required" [(ngModel)]="otp_required">
                    </mat-card-content>
                    <mat-card-actions>
                       <div class="dashboard-action-buttons text-left">
                        <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                          <button mat-button class="btn btn-secondary" [disabled]="!AadharOtpFormGroup.valid">Proceed</button>
                          <div class="float-right" *ngIf="aadharotploader"><img src="assets/ajax-loading.gif">&nbsp;Address Proof is being processed, please wait...</div>
                       </div>
                    </mat-card-actions>
                    </form>
                 </mat-card>
                 <mat-card class="dashboard-card" *ngIf="addressproofform">
                    <mat-card-header>
                       <mat-card-title>Address Proof</mat-card-title>
                    </mat-card-header>
                    <form class="dashboard-form"  [formGroup]="ResidentialProofFormGroup" (ngSubmit)="addAddressProof()">
                    <mat-card-content>
                       <label id="example-radio-group-label">Pick your Address Proof</label>
                       <mat-radio-group
                       aria-labelledby="example-radio-group-label"
                       class="example-radio-group"
                       [(ngModel)]="proof_type" formControlName="proof_type">
                       <mat-radio-button class="example-radio-button" *ngFor="let proof of addressProofList" [value]="proof.value" (change)="changeAddreesProof($event.value)">
                       {{proof.viewValue}}
                       </mat-radio-button>
                       </mat-radio-group>
                       <mat-form-field *ngIf="voter" class="dashboard-full-width">
                          <mat-label>Enter your epic number</mat-label>
                          <input matInput [(ngModel)]="voter_epicNumber" formControlName="voter_epicNumber" placeholder="Enter your epic number"
                          >
                       </mat-form-field>
                       <mat-form-field *ngIf="voter" class="dashboard-full-width">
                          <mat-label>Enter your state name</mat-label>
                          <input matInput [(ngModel)]="voter_state" formControlName="voter_state" placeholder="Enter your state name"
                          >
                       </mat-form-field>
                       <mat-form-field *ngIf="driving" class="dashboard-full-width">
                          <mat-label>Enter your DL Number</mat-label>
                          <input matInput [(ngModel)]="dl_number" formControlName="dl_number" placeholder="Enter your DL Number"
                          >
                       </mat-form-field>
                       <mat-form-field *ngIf="driving" class="dashboard-full-width">
                          <mat-label>Enter Your DOB</mat-label>
                          <input matInput [(ngModel)]="dl_dob" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  formControlName="dl_dob" required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                       </mat-form-field>
                       <mat-form-field *ngIf="passport" class="dashboard-full-width">
                          <mat-label>Enter Your file number</mat-label>
                          <input matInput [(ngModel)]="passport_file_number" formControlName="passport_file_number" placeholder="Enter Your file number"
                          >
                       </mat-form-field>
                       <mat-form-field *ngIf="passport" class="dashboard-full-width">
                          <mat-label>Enter Your DOB</mat-label>
                          <input matInput [(ngModel)]="passport_dob" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  formControlName="passport_dob" required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                       </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                       <div class="dashboard-action-buttons text-left">
                          <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                          <button mat-button class="btn btn-secondary" [disabled]="!ResidentialProofFormGroup.valid">Next</button>
                          <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Address Proof is being processed, please wait...</div>
                       </div>
                    </mat-card-actions>
                  </form>
                 </mat-card>
                
              </div>
              <div class="card card-body" *ngIf="kyCRemarksArray.stage_5 !=''">
                 <div class="p-3">
                    <label>Remarks</label>
                    <li *ngFor="let remarks of kyCRemarksArray.stage_5">
                       {{remarks.remarks}} by {{remarks.first_name}} 
                    </li>
                 </div>
              </div>
           </div>
           <div class="tab" id="tab6" *ngIf="tab6">
              <div class="card card-body">
                 <mat-card class="dashboard-card">
                    <mat-card-header>
                       <mat-card-title>
                          Basic Details
                       </mat-card-title>
                    </mat-card-header>
                    <form class="dashboard-form" [formGroup]="BasicDetailsFormGroup" (ngSubmit)="addBasicDetails()">
                    <mat-card-content>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Date of Birth</mat-label>
                          <input matInput [(ngModel)]="dob" [disabled]=true [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  formControlName="dob" required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Name</mat-label>
                          <input matInput [(ngModel)]="name" formControlName="name" placeholder="Enter Name"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Email</mat-label>
                          <input matInput [(ngModel)]="email" type="email" formControlName="email" placeholder="Enter Email ID"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Father's Name</mat-label>
                          <input matInput [(ngModel)]="parentName" formControlName="parentName" placeholder="Enter Father's Name"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Gender</mat-label>
                          <mat-select [(ngModel)]="gender" formControlName="gender" required>
                          <mat-option *ngFor="let gender of genders" [value]="gender.value">
                          {{gender.viewValue}}
                          </mat-option>
                          </mat-select>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Qualification</mat-label>
                          <mat-select [(ngModel)]="qualification" formControlName="qualification" required>
                          <mat-option *ngFor="let qual of qualificationList" [value]="qual.qualification">
                          {{qual.qualification}}
                          </mat-option>
                          </mat-select>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="category" formControlName="category" required>
                        <mat-option *ngFor="let cat of categoryList" [value]="cat.value">
                        {{cat.viewValue}}
                        </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field class="dashboard-full-width">
                        <mat-label>Physically Handicapped</mat-label>
                        <mat-select [(ngModel)]="physicallyhandicapped" formControlName="physicallyhandicapped" required>
                        <mat-option *ngFor="let ph of physicallyhandicappedList" [value]="ph.value">
                        {{ph.viewValue}}
                        </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field class="dashboard-full-width">
                        <mat-label>Alternate Occupation Type</mat-label>
                        <mat-select [(ngModel)]="alternateoccupationtype" formControlName="alternateoccupationtype" required>
                        <mat-option *ngFor="let aot of alternateoccupationtypeList" [value]="aot.value">
                        {{aot.viewValue}}
                        </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field class="dashboard-full-width">
                        <mat-label>Provider</mat-label>
                        <mat-select [(ngModel)]="provider" formControlName="provider" required>
                        <mat-option *ngFor="let p of providerList" [value]="p.value">
                        {{p.viewValue}}
                        </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field class="dashboard-full-width">
                        <mat-label>Entity Type</mat-label>
                        <mat-select [(ngModel)]="entitytype" formControlName="entitytype" required>
                        <mat-option *ngFor="let p of entitytypeList" [value]="p.value">
                        {{p.viewValue}}
                        </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field class="dashboard-full-width">
                        <mat-label>Alternate Number</mat-label>
                        <input matInput [(ngModel)]="alternatenumber" minlength="10" maxlength="10" formControlName="alternatenumber" placeholder="Enter Alternate Number"
                        required>
                     </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                       <div class="dashboard-action-buttons text-left">
                        <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                          <button mat-button class="btn btn-secondary" [disabled]="!BasicDetailsFormGroup.valid">Next</button>
                          <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Basic Details is being processed, please wait...</div>
                       </div>
                    </mat-card-actions>
                    </form>
                 </mat-card>
              </div>
              <div class="card card-body">
                <div class="p-3" *ngIf="kyCRemarksArray.stage_6 !=''">
                   <label>Remarks</label>
                   <li *ngFor="let remarks of kyCRemarksArray.stage_6">
                      {{remarks.remarks}} by {{remarks.first_name}} 
                   </li>
                </div>
             </div>
           </div>
           <div class="tab" id="tab7" *ngIf="tab7">
              <div class="card card-body">
                 <mat-card class="dashboard-card">
                    <mat-card-header>
                       <mat-card-title>
                          Residential Information
                       </mat-card-title>
                    </mat-card-header>
                    <form class="dashboard-form" [formGroup]="ResidentialAddressFormGroup" (ngSubmit)="addResidentialDetails()">
                    <mat-card-content>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Full Address</mat-label>
                          <input matInput [(ngModel)]="address" formControlName="address" placeholder="Full Address"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Landmark</mat-label>
                          <input matInput [(ngModel)]="landmark" formControlName="landmark" placeholder="Enter Landmark"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Pin Code</mat-label>
                          <input matInput [(ngModel)]="pincode" formControlName="pincode" (blur)="resPin()" placeholder="Enter Pincode"
                          required minlength="6" maxlength="6">
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>District</mat-label>
                          <input matInput [(ngModel)]="district" formControlName="district"  placeholder="Enter District"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>City</mat-label>
                          <input matInput [(ngModel)]="city" formControlName="city" placeholder="Enter City"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>State</mat-label>
                          <input matInput [(ngModel)]="state" formControlName="state" placeholder="Enter State"
                          required>
                       </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                       <div class="dashboard-action-buttons text-left">
                        <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                          <button mat-button class="btn btn-secondary" [disabled]="!ResidentialAddressFormGroup.valid">Next</button>
                          <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Residential Information is being processed, please wait...</div>
                       </div>
                    </mat-card-actions>
                    </form>
                 </mat-card>
              </div>
              <div class="card card-body" *ngIf="kyCRemarksArray.stage_7 !=''">
                 <div class="p-3">
                    <label>Remarks</label>
                    <li *ngFor="let remarks of kyCRemarksArray.stage_7">
                       {{remarks.remarks}} by {{remarks.first_name}} 
                    </li>
                 </div>
              </div>
           </div>
           <div class="tab" id="tab8" *ngIf="tab8">
              <div class="card card-body">
                 <mat-card class="dashboard-card">
                    <mat-card-header>
                       <mat-card-title>Business information</mat-card-title>
                    </mat-card-header>
                    <form class="dashboard-form" [formGroup]="BusinessinformationFormGroup" (ngSubmit)="addBusinessDetails()">
                    <mat-card-content>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Firm Name</mat-label>
                          <input matInput [(ngModel)]="firmName" formControlName="firmName" placeholder="Enter Firm Name"
                          required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Work Experiance</mat-label>
                          <mat-select [(ngModel)]="workExp" formControlName="workExp" required>
                          <mat-option *ngFor="let work of works" [value]="work.experience">
                          {{work.experience}}
                          </mat-option>
                          </mat-select>
                       </mat-form-field>
                       <div class="row">
                          <div class="col-md-12">Firm Address</div>
                       </div>
                       <section class="confirm-section">
                          <mat-checkbox class="confirm-margin"  formControlName="resAddrconfirm" [(ngModel)]="isResAddr" (click)="onConfirm()">Same As Residential Address</mat-checkbox>
                       </section>
                       <div>
                          <mat-form-field class="dashboard-full-width">
                             <mat-label>Full Address</mat-label>
                             <input matInput [(ngModel)]="firm_address" formControlName="firm_address" placeholder="Full Address"
                             required>
                          </mat-form-field>
                          <mat-form-field class="dashboard-full-width">
                             <mat-label>Landmark</mat-label>
                             <input matInput [(ngModel)]="firm_landmark" formControlName="firm_landmark"  placeholder="Enter Landmark"
                             required>
                          </mat-form-field>
                          <mat-form-field class="dashboard-full-width">
                             <mat-label>Pin Code</mat-label>
                             <input matInput [(ngModel)]="firm_pincode" formControlName="firm_pincode" (blur)="firmPin()" placeholder="Enter Pincode"
                             required minlength="6" maxlength="6">
                          </mat-form-field>
                          <mat-form-field class="dashboard-full-width">
                             <mat-label>District</mat-label>
                             <input matInput [(ngModel)]="firm_district" formControlName="firm_district"  placeholder="Enter District"
                             required>
                          </mat-form-field>
                          <mat-form-field class="dashboard-full-width">
                             <mat-label>City</mat-label>
                             <input matInput [(ngModel)]="firm_city" formControlName="firm_city"  placeholder="Enter City"
                             required>
                          </mat-form-field>
                          <mat-form-field class="dashboard-full-width">
                             <mat-label>State</mat-label>
                             <input matInput [(ngModel)]="firm_state" formControlName="firm_state"  placeholder="Enter State"
                             required>
                          </mat-form-field>
                       </div>
                    </mat-card-content>
                    <mat-card-actions>
                       <div class="dashboard-action-buttons text-left">
                        <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                          <button mat-button class="btn btn-secondary" [disabled]="!BusinessinformationFormGroup.valid">Next</button>
                          <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Business Information is being processed, please wait...</div>
                       </div>
                    </mat-card-actions>
                    </form>
                 </mat-card>
                 <div class="card card-body" *ngIf="kyCRemarksArray.stage_8 !=''">
                    <div class="p-3">
                       <label>Remarks</label>
                       <li *ngFor="let remarks of kyCRemarksArray.stage_8">
                          {{remarks.remarks}} by {{remarks.first_name}} 
                       </li>
                    </div>
                 </div>
              </div>
           </div>
           <div class="tab" id="tab9" *ngIf="tab9">
              <div class="card card-body">
                 <mat-card class="dashboard-card">
                    <mat-card-header>
                       <mat-card-title>Bank Verification</mat-card-title>
                    </mat-card-header>
                    <form class="dashboard-form" [formGroup]="BankVerificationFormGroup" (ngSubmit)="addBankDetails()">
                    <mat-card-content>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Select Account Type</mat-label>
                          <mat-select [(ngModel)]="accountType" formControlName="accountType" required>
                          <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.accType">
                          {{accountType.accType}}
                          </mat-option>
                          </mat-select>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Select Bank Name</mat-label>
                          <mat-select [(ngModel)]="bankName" formControlName="bankName" (selectionChange)="onBankSelect($event)" required>
                          <mat-option *ngFor="let bank of bankList" [value]="bank.name">
                          {{bank.name}}
                          </mat-option>
                          </mat-select>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>IFSC</mat-label>
                          <input matInput [(ngModel)]="ifsc" formControlName="ifsc" placeholder="Enter IFSC Number" required minlength="11" maxlength="11" pattern="[A-Z|a-z]{4}[0][a-zA-Z0-9]{6}$">
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width"  *ngIf="!isBankVerification">
                          <ngx-mat-file-input formControlName="bank_doc" placeholder="Required input" valuePlaceholder="Upload Bank doc" (change)="onFileBankSelected($event)" required></ngx-mat-file-input>
                          <mat-icon matSuffix>folder</mat-icon>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Account Number</mat-label>
                          <input matInput [(ngModel)]="account" type="password" formControlName="account" placeholder="Enter Account Number" minlength="8" maxlength="20" advs-compare="caccount" parent='true' appNumber required>
                       </mat-form-field>
                       <mat-form-field class="dashboard-full-width">
                          <mat-label>Confirm Account Number</mat-label>
                          <input matInput formControlName="caccount" placeholder="Enter Confirm Account Number" minlength="8" maxlength="20" advs-compare="account" parent='false' appNumber required>
                       </mat-form-field>
                       <div class="row">
                          <div class="form-group col-md-12" *ngIf="bankFile != ''">
                             <label for="exampleInputEmail1">Bank Photo</label>
                             <p><img class="img-responsive img-thumbnail" src="{{apiUrlVar}}/getPhoto?filename={{bankFile}}&type=bankdoc"/></p>
                          </div>
                       </div>
                    </mat-card-content>
                    <mat-card-actions>
                       <div class="dashboard-action-buttons text-left">
                        <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                          <button mat-button class="btn btn-secondary" [disabled]="!BankVerificationFormGroup.valid">Next</button>
                          <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Distributor Mapping is being processed, please wait...</div>
                       </div>
                    </mat-card-actions>
                    </form>
                 </mat-card>
              </div>
              <div class="card card-body" *ngIf="kyCRemarksArray.stage_9 !=''">
                 <div class="p-3">
                    <label>Remarks</label>
                    <li *ngFor="let remarks of kyCRemarksArray.stage_9">
                       {{remarks.remarks}} by {{remarks.first_name}} 
                    </li>
                 </div>
              </div>
           </div>
           <div class="tab" id="tab10" *ngIf="tab10">
            <div class="card card-body" *ngIf="biometricform && biometricKyc">
               <mat-card class="dashboard-card">
                  <mat-card-header>
                     <mat-card-title>Biometric</mat-card-title>
                  </mat-card-header>
                  <form class="dashboard-form"  [formGroup]="BiometricFormGroup" (ngSubmit)="bioMetricSubmit()">
                     <mat-card-content>
                        <input type="hidden" name="mobile" formControlName="mobile" [(ngModel)]="mobile">
                     </mat-card-content>
                  <mat-card-actions>
                     <div class="dashboard-action-buttons text-left">
                     <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                        <button mat-button class="btn btn-secondary" [disabled]="!BiometricFormGroup.valid">Proceed</button>
                        <div class="float-right" *ngIf="biometricloader"><img src="assets/ajax-loading.gif">&nbsp;You are be being redirected to RBL Bank to share your Aadhar Number, please wait...</div>
                     </div>
                  </mat-card-actions>
                  </form>
               </mat-card>
            </div>
              <div class="card card-body" *ngIf="!biometricform && !biometricKyc">
                 <mat-card class="dashboard-card">
                    <mat-card-header>
                       <mat-card-title>Video Kyc</mat-card-title>
                    </mat-card-header>
                    <form class="dashboard-form">
                       <mat-card-content>
                          <div *ngIf="videoVerified">
                             Your Video is Verified
                          </div>
                          <div *ngIf="showVerificationProgres">
                           Video Verification is in Progress, use Get Response button to get the response
                        </div>
                       </mat-card-content>
                       <mat-card-actions>
                          <div class="dashboard-action-buttons text-left">
                           <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                             <button *ngIf="!videoVerified" mat-button class="btn btn-secondary btn-lg" (click)="getVideoUrl()">Proceed</button>
                             <button *ngIf="videoVerified" mat-button class="btn btn-secondary btn-lg customnext" (click)="nextStep()">Next</button>
                             <button *ngIf="showVerificationProgres" mat-button class="btn btn-secondary btn-lg" (click)="getVideoResponse()">Get Response</button>
                             <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Video Url is being processed, please wait...</div>
                          </div>
                       </mat-card-actions>
                    </form>
                 </mat-card>
              </div>
           </div>
           <div class="tab" id="tab11" *ngIf="tab11">
            <div class="card card-body">
               <mat-card class="dashboard-large-card">
                  <mat-card-header>
                     <mat-card-title>Review Form</mat-card-title>
                  </mat-card-header>
                  <form class="dashboard-large-form" [formGroup]="ConfirmFormGroup" (ngSubmit)="submitForm()">
                  <mat-card-content>
                     <div class="row border-bottom">
                        <div class="col-md-12">
                           <h2>Pan Details</h2>
                           <b>PAN:</b> {{pan}}
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h2>Basic Details</h2>
                           <div class="table-responsive">
                              <table class="table">
                                 <thead>
                                    <tr>
                                       <th scope="col">Name</th>
                                       <th scope="col">Email</th>
                                       <th scope="col">Father's Name</th>
                                       <th scope="col">Gender</th>
                                       <th scope="col">Date of Birth</th>
                                       <th scope="col">Qualification</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>{{name}}</td>
                                       <td>{{email}}</td>
                                       <td>{{parentName}}</td>
                                       <td>{{gender}}</td>
                                       <td>{{dob | date}}</td>
                                       <td>{{qualification}}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                        <div class="row">
                           <div class="col-md-12">
                              <label>Distributor</label>
                              <p></p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <h2>Residential Details</h2>
                              <div class="table-responsive">
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th scope="col">Full Address</th>
                                          <th scope="col">Landmark</th>
                                          <th scope="col">Pin Code</th>
                                          <th scope="col">District</th>
                                          <th scope="col">City</th>
                                          <th scope="col">State</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>{{address}}</td>
                                          <td>{{landmark}}</td>
                                          <td>{{pincode}}</td>
                                          <td>{{district}}</td>
                                          <td>{{city}}</td>
                                          <td>{{state}}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <h2>Firm Details</h2>
                              <div class="table-responsive">
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th scope="col">Firm Name</th>
                                          <th scope="col">Work Experiance</th>
                                          <th scope="col">Full Address</th>
                                          <th scope="col">Landmark</th>
                                          <th scope="col">Pincode</th>
                                          <th scope="col">District</th>
                                          <th scope="col">City</th>
                                          <th scope="col">State</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>{{firmName}}</td>
                                          <td>{{workExp}}</td>
                                          <td>{{firm_address}}</td>
                                          <td>{{firm_landmark}}</td>
                                          <td>{{firm_pincode}}</td>
                                          <td>{{firm_district}}</td>
                                          <td>{{firm_city}}</td>
                                          <td>{{firm_state}}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <h2>Bank Verification</h2>
                              <div class="table-responsive">
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th scope="col">Account Type</th>
                                          <th scope="col">Bank Name</th>
                                          <th scope="col">IFSC</th>
                                          <th scope="col">Account Number</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>{{accountType}}</td>
                                          <td>{{bankName}}</td>
                                          <td>{{ifsc}}</td>
                                          <td>{{account}}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>

                        <div class="row">
                           <div class="col-md-12">
                              <mat-form-field class="dashboard-full-width">
                                 <mat-label>Comment</mat-label>
                                 <textarea matInput formControlName="comment" [(ngModel)]="comment" placeholder="Enter comment if any..."></textarea>
                              </mat-form-field>
                              <mat-checkbox class="confirm-margin" formControlName="checkTerms" [(ngModel)]="checkTerms"  required>I Confirm all the details</mat-checkbox>
                           </div>
                        </div>
                  </mat-card-content>
                  <mat-card-actions>
                  <div class="dashboard-action-buttons text-left">
                  <a href="javascript:void(0)" (click)="prevStep()" class="btn btn-secondary">Back</a>
                  <button mat-button class="btn btn-secondary" [disabled]="!ConfirmFormGroup.valid" >Confirm</button>
                  <div class="float-right" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Saving form, please wait...</div>
                  </div>
                  </mat-card-actions>
                  </form>
               </mat-card>
               </div>
           </div>
           <div style="text-align:center;margin-top:40px;">
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
           </div>
        </div>
     </section>
     <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
     <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <!-- Main Footer -->
  <footer class="main-footer">
     <strong
        >Copyright &copy; 2014-2021</strong
        >
     All rights reserved.
     <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
  </footer>
</div>