.remarks-card {max-width: 600px;margin: auto;width: 60%;padding: 10px;}
.remarks-form {min-width: 150px;max-width: 500px;width: 100%;}
.remarks-full-width {width: 100%;}


mat-form-field {margin-top: 16px;}
.confirm-h2 {margin: 10px;}
.confirm-section {display: flex;align-content: center;align-items: center;height: 60px;}  
.confirm-margin {margin: 0 10px;}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.dashboard-card {max-width: 750px;margin: auto;width: 70%;padding: 10px;}
.dashboard-form {min-width: 150px;max-width: 600px;width: 100%;}
.dashboard-full-width {width: 100%;}
.dashboard-action-buttons{margin :0px 0px 0px 5px;}
.mat-card-actions{padding:0px!important;}
