<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
    </ul>
    <!-- Right navbar links -->
   
  </nav>
  <!-- /.navbar -->

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
    <div class="sidebar"> 
      <nav class="mt-1">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
        <li class="nav-item">
          <a routerLink="/admin-dashboard" class="nav-link " >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/admin-remarks" class="nav-link " *ngIf="user.type && user.type == 3">
            <i class="nav-icon fa fa-book"></i>
            <p>Remarks</p>
          </a>
        </li>
        <li class="nav-item">
           <a routerLink="/admin-reports" class="nav-link " >
            <i class="fas fa-clipboard-list nav-icon"></i>
            <p>Reports</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/users" class="nav-link " *ngIf="user.type && user.type != 3">
            <i class="fa fa-users nav-icon"></i>
            <p>Users</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/agent-error" class="nav-link " >
            <i class="fa fa-exclamation-triangle nav-icon"></i>
            <p>Agent Error</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/admin-settings" class="nav-link active" *ngIf="user.type && user.type != 3">
            <i class="fa fa-cog nav-icon"></i>
            <p>Settings</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
            <i class="fa fa-spinner nav-icon"></i>
            <p>Signzy Log</p>
        </a>
        </li>
        <li class="nav-item">
        <a routerLink="/appLink" class="nav-link " *ngIf="user.type && user.type != 3">
          <i class="fa fa-mobile nav-icon"></i>
          <p>App Link</p>
        </a> 
      </li> 
        <li class="nav-item">
        <a routerLink="/deleteForms" class="nav-link ">
          <i class="fa fa-ban nav-icon"></i>
          <p>Delete Forms</p>
        </a>
        </li>

          <li class="nav-item has-treeview">
            <ul class="nav">
              <li class="nav-item">
                <a  routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                  &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                  <p>Logout</p>
                </a>
              </li>
            </ul>
          </li> 
          
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Threshold Settings</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active">Threshold Settings</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-body">
          <mat-card class="remarks-card">
            <mat-card-header>
              <mat-card-title>Threshold Settings</mat-card-title>
            </mat-card-header>
              <form class="dashboard-form" [formGroup]="SettingsFormGroup" (ngSubmit)="addThresholdSettings()">
                  <mat-card-content>
                    <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Name Match Min Threshold</mat-label>
                      <input
                        formControlName="nameMatchMinThreshold"
                        [(ngModel)]="nameMatchMinValue"
                        step="0.01"
                        min="0"
                        max="1"
                        type="number"
                        matInput
                      />
                    </mat-form-field>
                  &nbsp;
                    <mat-form-field appearance="legacy">
                      <mat-label>Name Match Max Threshold</mat-label>
                      <input
                        formControlName="nameMatchMaxThreshold"
                        [(ngModel)]="nameMatchMaxValue"
                        step="0.01"
                        min="0"
                        max="1"
                        type="number"
                        matInput
                      />
                    </mat-form-field>
                    0 to 1
                  </p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Image Quality Threshold</mat-label>
                      <input
                        formControlName="imgQualityMinThreshold"
                        [(ngModel)]="imgQualityMinValue"
                        step="0.01"
                        min="0"
                        max="1"
                        type="number"
                        matInput
                      />
                    </mat-form-field>
                    0 to 1
                    <p>
                      <mat-form-field appearance="legacy">
                        <mat-label>Video Kyc Threshold</mat-label>
                        <input
                          formControlName="videoKycThreshold"
                          [(ngModel)]="videoMatchValue"
                          min="0"
                          max="100"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                      0 to 100
                    </p>
                    <p>
                      <mat-form-field appearance="legacy">
                        <mat-label>Address Match Threshold</mat-label>
                        <input
                          formControlName="addressMatchThreshold"
                          [(ngModel)]="addressMatchValue"
                          min="0"
                          max="100"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                      0 to 100
                    </p>
                    <p>
                      <b>Video Verification</b><br><br>
                      <mat-radio-group aria-label="Video Verification" formControlName="videoVerification" [(ngModel)]="videoVerificationMode">
                        <mat-radio-button [value]=0>Signzy Verification</mat-radio-button><br>
                        <mat-radio-button [value]=1>Signzy Api Mode Verification</mat-radio-button>
                      </mat-radio-group>
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <div class="example-action-buttons">
                        &nbsp;<button
                        class="btnwidth btn btn-secondary"
                        [disabled]="!SettingsFormGroup.valid"
                        mat-button
                      >Save
                      </button>
                      <div class="" *ngIf="loader"><img src="assets/ajax-loading.gif">&nbsp;Processing, please wait...</div>
                      </div>
                  </mat-card-actions>
              </form>
          </mat-card>
      </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong
      >Copyright &copy; 2014-2021</strong
    >
    All rights reserved.
    <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
  </footer>
</div>

<ngx-ui-loader></ngx-ui-loader>
