<div class="video-kyc">
  <div class="container-fluid" *ngIf="videoLoader">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="divLoading">
          <h1>Video Kyc</h1>
          <p>
            <img src="assets/ajax-loading.gif" />
            You are being redirected, please wait...
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="loader">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="divLoading">
          <p>
            <img src="assets/ajax-loading.gif" />
            Getting Response, please wait...
          </p>
          <h1>Verification Result</h1>
        </div>
      </div>
    </div>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap"
      rel="stylesheet"
    />
  </div>
  <div *ngIf="webViewMessage !=''">
    <h1>Verification Result</h1>
    <p>{{ webViewMessage }}</p>
    <br />
  </div>
</div>
