<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
          <li class="nav-item">
             <a class="nav-link" data-widget="pushmenu" routerLink="/dashboard"
                ><i class="fas fa-bars"></i
                ></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
             <a routerLink="/dashboard" class="nav-link">Home</a>
          </li> 
       </ul> 
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
       <!-- Brand Logo -->
       <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
       <!-- Sidebar -->
       <div class="sidebar"> 
          <!-- Sidebar Menu -->
          <nav class="mt-2">
             <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                   <li class="nav-item">
                     <a routerLink="/dashboard" class="nav-link active">
                        <i class="fa fa-user-circle nav-icon"></i>
                        <p>Onboard New Retailer</p>
                     </a>
                     <a routerLink="/kyc-forms" class="nav-link ">
                        <i class="fa fa-hourglass-start nav-icon"></i>
                        <p>View Form Status</p>
                     </a>
                     <ul class="nav">
                        <li class="nav-item">
                           <a (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                              &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                              <p>Logout</p>
                           </a>
                        </li>
                     </ul>
                  </li>
             </ul>
          </nav>
          <!-- /.sidebar-menu -->
       </div>
       <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
       <!-- Content Header (Page header) -->
       <div class="content-header">
          <div class="container-fluid">
             <div class="row mb-2">
                <div class="col-sm-6">
                   <h1 class="m-0 text-dark">View Form Status</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                   <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                      <li class="breadcrumb-item active">View Form Status</li>
                   </ol>
                </div>
                <!-- /.col -->
             </div>
             <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
       </div>
       <!-- /.content-header -->
       <!-- Main content -->
       <section class="content">
          <div class="container-fluid">
             <div class="card card-body">
                <form class="dashboard-form" (submit)="allkycforms()" [formGroup]="SearchFormData" class="kyc-form">
                    <div class="row"> 
                      <div class="col-md-3">
                          <mat-form-field class="dashboard-full-width">
                            <mat-label>Mobile Number/ Pan Number</mat-label>
                            <input matInput placeholder="Enter mobile Number/ Pan Number" formControlName="uservalue">
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="reports-full-width">
                            <input matInput (click)="pickerfromdate.open()" [min]="minFromDate" [max]="maxFromDate" [matDatepicker]="pickerfromdate" placeholder="Created Date" formControlName="fromdate" [(ngModel)]="fromdate" (dateChange)="addEvent('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerfromdate></mat-datepicker>
                        </mat-form-field>
                    </div> 
                 <div class="col-md-3">
                  <mat-form-field class="reports-full-width">
                    <mat-select placeholder="Kyc Mode" formControlName="kycMode" >
                        <mat-option *ngFor="let mode of kycModeList" value="{{mode.value}}">{{mode.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                      <div class="col-md-3">
                        <mat-form-field class="search-full-width">
                           <mat-select placeholder="Status" formControlName="kycStatus" [(ngModel)]="kycStatus">
                               <mat-option *ngFor="let statusval of statusList" value="{{statusval.key}}">{{statusval.value}}</mat-option>
                           </mat-select>
                       </mat-form-field>
                        <input type="hidden" formControlName="page" name="page" [(ngModel)]="page">
                        <button class="btn btn-navbar" mat-button type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                </form>
             </div>

             <div class="card card-body" *ngIf="loader">
                <img class="center-block" src="assets/ajax-loading.gif">
            </div>
    
            <div class="card card-body" *ngIf="showlist">
                <div *ngIf="showlist"> 
                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <div *ngIf='kycFormsList.length !== 0'>
                                <strong>Total Records</strong> : <span>{{length}}</span> 
                            </div>
                        </div> 
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div  class="table-responsive"> 
                        <table *ngIf='kycFormsList.length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead class="tblhead">
                                <tr align="center">
                                    <th>MB N0.</th>
                                    <th>PAN</th>
                                    <th>KYC MODE</th>
                                    <th>PAN STATUS</th>
                                    <th>ADDRESS PROOF</th>
                                    <th>BASIC DETAILS</th>
                                    <th>RESIDENTIAL DETAILS</th>
                                    <th>BUSINESS DETAILS</th>
                                    <th>BANK DETAILS</th>
                                    <th *ngIf="createrType == 'super' || createrType == 'partner'">DISTRIBUTOR</th>
                                    <th>AGENT COMMENT</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let kyc of kycFormsList; let i = index" align="center">
                                    <td>{{kyc.mobileNumber}}</td>
                                    <td >{{kyc.panNumber}}</td>
                                    <td>{{kyc.kyc_mode}}</td>
                                    <td [ngSwitch]="kyc.pan_verified">
                                        <p *ngSwitchCase="">Pending</p>
                                        <p *ngSwitchCase="0">Pending</p>
                                        <p *ngSwitchCase="1">Pending</p>
                                        <p *ngSwitchCase="2">Pre Approved</p>
                                        <p *ngSwitchCase="3">Approved</p>
                                        <p *ngSwitchCase="4">Rejected</p>
                                    </td>
                                    <td [ngSwitch]="kyc.address_verified">
                                        <p *ngSwitchCase="">Pending</p>
                                        <p *ngSwitchCase="0">Pending</p>
                                        <p *ngSwitchCase="1">Pre Approved</p>
                                        <p *ngSwitchCase="2">Approved</p>
                                        <p *ngSwitchCase="3">Rejected</p>
                                        <p *ngSwitchCase="5">Pending</p>
                                    </td>
                                    <td [ngSwitch]="kyc.basic_details_verified">
                                        <p *ngSwitchCase="">Pending</p>
                                        <p *ngSwitchCase="0">Pending</p>
                                        <p *ngSwitchCase="1">Pre Approved</p>
                                        <p *ngSwitchCase="2">Approved</p>
                                        <p *ngSwitchCase="3">Rejected</p>
                                    </td>
                                    <td [ngSwitch]="kyc.residential_details_verified">
                                        <p *ngSwitchCase="">Pending</p>
                                        <p *ngSwitchCase="0">Pending</p>
                                        <p *ngSwitchCase="1">Pre Approved</p>
                                        <p *ngSwitchCase="2">Approved</p>
                                        <p *ngSwitchCase="3">Rejected</p>
                                    </td>
                                    <td [ngSwitch]="kyc.business_details_verified">
                                        <p *ngSwitchCase="">Pending</p>
                                        <p *ngSwitchCase="0">Pending</p>
                                        <p *ngSwitchCase="1">Pre Approved</p>
                                        <p *ngSwitchCase="2">Approved</p>
                                        <p *ngSwitchCase="3">Rejected</p>
                                    </td>
                                    <td [ngSwitch]="kyc.bank_details_verified">
                                        <p *ngSwitchCase="">Pending</p>
                                        <p *ngSwitchCase="0">Pending</p>
                                        <p *ngSwitchCase="1">Pre Approved</p>
                                        <p *ngSwitchCase="2">Approved</p>
                                        <p *ngSwitchCase="3">Rejected</p>
                                        <p *ngSwitchCase="5">Pending</p>
                                    </td>
                                    <td *ngIf="createrType == 'super' || createrType == 'partner'"><p>{{kyc.dist_username}}</p></td>
                                    <td><p>{{kyc.comment}}</p></td>
                                    <td [ngSwitch]="kyc.verified">
                                        <p *ngSwitchCase="">Pending</p>
                                        <p *ngSwitchCase="0">Pending</p>
                                        <p *ngSwitchCase="1">Pre Approved</p>
                                        <p *ngSwitchCase="2">Approved</p>
                                        <p *ngSwitchCase="3">Rejected</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf='kycFormsList.length === 0' align="center"><p>No Record Found!!!</p></div> 
                      </div>
                  </div>
            </div>

            <mat-paginator *ngIf='kycFormsList.length !== 0' 
            [length]="length"
            [pageSize]="pageSize" 
            (page)="pageevent($event)">
            </mat-paginator>
          </div>
       </section>


      
       <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
       <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- Main Footer -->
    <footer class="main-footer">
       <strong
          >Copyright &copy; 2014-2021</strong> 
       All rights reserved.
       <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div>
    </footer>
  </div>