.onboarding-card {max-width: 750px;margin: auto;width: 70%;padding: 10px;}
.onboarding-form {min-width: 150px;max-width: 600px;width: 100%;}
.onboarding-full-width {width: 100%;}
.onboarding-action-buttons{margin :0px 0px 0px 5px;}
.mat-card-actions{padding:0px!important;}