<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
          <li class="nav-item">
             <a class="nav-link" data-widget="pushmenu" href="#"
                ><i class="fas fa-bars"></i
                ></a>
          </li>
          <!-- <li class="nav-item d-none d-sm-inline-block">
             <a href="index3.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
             <a href="#" class="nav-link">Contact</a>
          </li> -->
       </ul>
        
    </nav>
    <!-- /.navbar -->
 
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
       <!-- Content Header (Page header) -->
       <div class="content-header">
          <div class="container-fluid">
             <div class="row mb-2">
                <div class="col-sm-6">
                   <h1 class="m-0 text-dark">Retailer Onboarding</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                   <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                      <li class="breadcrumb-item active">Retailer Onboarding</li>
                   </ol>
                </div>
                <!-- /.col -->
             </div>
             <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
       </div>
       <!-- /.content-header -->
       <!-- Main content -->
       <section class="content">
          <div class="container-fluid">
             <div class="card card-body">
                <mat-card class="onboarding-card">
                    <mat-card-header>
                        <mat-card-title>CSP Onboarding</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- <div class="list-group">
                            <button class="list-group-item list-group-item-action disabled">
                                STEP 1: Onboard Yourself On Bank
                            </button>
                            <button class="list-group-item list-group-item-action disabled">
                                STEP 2: Complete e-KYC through Biometric
                            </button>
                            <button class="list-group-item list-group-item-action active" (click)="onboarding()">
                                STEP 3: Review and submit your details    
                            </button>
                        </div> -->
                        <button class="list-group-item list-group-item-action active" (click)="onboarding()">
                           Onboard Yourself    
                       </button>
                    </mat-card-content>
                </mat-card>
            </div>
          </div>
       </section>
       <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
       <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- Main Footer -->
    <footer class="main-footer">
       <strong
          >Copyright &copy; 2014-2021</strong
          >
       All rights reserved.
       <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>