<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
    
    </nav>
  
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
      <div class="sidebar"> 
        <!-- <nav class="mt-1">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link " >
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-remarks" class="nav-link ">
              <i class="nav-icon fa fa-book"></i>
              <p>Remarks</p>
            </a>
          </li>
          <li class="nav-item">
             <a routerLink="/admin-reports" class="nav-link " >
              <i class="fas fa-clipboard-list nav-icon"></i>
              <p>Reports</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/users" class="nav-link ">
              <i class="fa fa-users nav-icon"></i>
              <p>Users</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link " >
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-settings" class="nav-link ">
              <i class="fa fa-cog nav-icon"></i>
              <p>Settings</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/signzyLog" class="nav-link ">
              <i class="fa fa-spinner nav-icon"></i>
              <p>Signzy Log</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/appLink" class="nav-link active">
            <i class="fa fa-mobile nav-icon"></i>
            <p>App Link</p>
          </a> 
        </li> 
          <li class="nav-item">
          <a routerLink="/deleteForms" class="nav-link ">
            <i class="fa fa-ban nav-icon"></i>
            <p>Delete Forms</p>
          </a>
          </li>

            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a  routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li> 
            
          </ul>
        </nav> -->
        <nav class="mt-1" *ngIf="user.type==2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a routerLink="/staff" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/staff-dashboard" class="nav-link ">
                <i class="fa fa-file nav-icon"></i>
                <p>Retailer KYC</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/partner-kyc" class="nav-link ">
                <i class="fa fa-file nav-icon"></i>
                <p>Partner KYC</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/agent-error" class="nav-link active">
                <i class="fa fa-exclamation-triangle nav-icon"></i>
                <p>Agent Error</p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li>
    
          </ul>
        </nav>
        <nav class="mt-1" *ngIf="user.type==1">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a routerLink="/admin-dashboard" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin-remarks" class="nav-link " *ngIf="user.type && user.type == 3">
                <i class="nav-icon fa fa-book"></i>
                <p>Remarks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin-reports" class="nav-link ">
                <i class="fas fa-clipboard-list nav-icon"></i>
                <p>Reports</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/users" class="nav-link " *ngIf="user.type && user.type != 3">
                <i class="fa fa-users nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/agent-error" class="nav-link active">
                <i class="fa fa-exclamation-triangle nav-icon"></i>
                <p>Agent Error</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin-settings" class="nav-link " *ngIf="user.type && user.type != 3">
                <i class="fa fa-cog nav-icon"></i>
                <p>Settings</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
                <i class="fa fa-spinner nav-icon"></i>
                <p>Signzy Log</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/appLink" class="nav-link " *ngIf="user.type && user.type != 3" >
                <i class="fa fa-mobile nav-icon"></i>
                <p>App Link</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/deleteForms" class="nav-link ">
                <i class="fa fa-ban nav-icon"></i>
                <p>Delete Forms</p>
              </a>
            </li>
    
            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li>
    
          </ul>
        </nav>
        <nav class="mt-1" *ngIf="user.type==3">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a routerLink="/admin-dashboard" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin-remarks" class="nav-link " *ngIf="user.type && user.type != 3">
                <i class="nav-icon fa fa-book"></i>
                <p>Remarks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin-reports" class="nav-link ">
                <i class="fas fa-clipboard-list nav-icon"></i>
                <p>Reports</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/users" class="nav-link " *ngIf="user.type && user.type != 3">
                <i class="fa fa-users nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/agent-error" class="nav-link">
                <i class="fa fa-exclamation-triangle nav-icon"></i>
                <p>Agent Error</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin-settings" class="nav-link " *ngIf="user.type && user.type != 3">
                <i class="fa fa-cog nav-icon"></i>
                <p>Settings</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
                <i class="fa fa-spinner nav-icon"></i>
                <p>Signzy Log</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/appLink" class="nav-link active" >
                <i class="fa fa-mobile nav-icon"></i>
                <p>App Link</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/deleteForms" class="nav-link ">
                <i class="fa fa-ban nav-icon"></i>
                <p>Delete Forms</p>
              </a>
            </li>
    
            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li>
    
          </ul>
        </nav>
      </div>
    </aside>  
  
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">App Links</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Remarks</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid" >
          
            <mat-card class="remarks-card">
                <mat-card-header>
                    <mat-card-title>Add App Link</mat-card-title>
                </mat-card-header>
                <form class="remarks-form" [formGroup]="AddFormData" (ngSubmit)="addAppLink()">
                    <mat-card-content>
                        <mat-form-field class="remarks-full-width">
                        <mat-label>App type</mat-label>
                        <input
                            formControlName="appType"
                            type="text"
                            matInput
                        />
                        </mat-form-field>
                        <mat-form-field class="remarks-full-width">
                        <mat-label>App Name</mat-label>
                        <input
                            formControlName="appName"
                            type="text"
                            matInput
                        />
                        </mat-form-field>
                        <mat-form-field class="remarks-full-width">
                        <mat-label>App Link</mat-label>
                        <input
                            formControlName="appLink"
                            type="text"
                            matInput
                        />
                        </mat-form-field>
                        <!-- <mat-form-field class="remarks-full-width">
                            <mat-label>Leave a Remarks</mat-label>
                            <textarea matInput formControlName="remark" [(ngModel)]="remark" placeholder="Add Remarks..."></textarea>
                        </mat-form-field> -->
                        <mat-slide-toggle formControlName="default">Set Default</mat-slide-toggle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="example-action-buttons  text-right">
                            <button type="submit" class="btnwidth pull-right" mat-raised-button [disabled]="!AddFormData.valid"><i class="fa fa-check"></i>Save</button> &nbsp;
                        </div>
                    </mat-card-actions>
                </form>
            </mat-card>

          
        </div>
        <br>
        <br>
        <div class="card card-body">
            
            <img *ngIf="loader" class="center-block" src="assets/ajax-loading.gif">

            <div class="row">
                <div class="col-md-6 pull-left">
                    <div *ngIf='length !== 0'>
                        <strong>Total Records</strong> : <span>{{length}}</span> 
                    </div>
                </div> 
            </div>
            <div class="clearfix">&nbsp;</div>
            <div  class="table-responsive"> 
                <table *ngIf='length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead class="tblhead">
                        <tr align="center">
                            <th>App type</th>
                            <th>App Name</th>
                            <th>Link</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appLink of appLinks; let i = index" align="center">
                            <td>{{appLink.apptype}}</td>
                            <td>{{appLink.appname}}</td>
                            <td>{{appLink.link}}</td>
                            <td>
                                <button class="btn" mat-button (click)="openDialog(appLink.id)"> <i class="nav-icon fas fa-edit"></i>Edit</button>&nbsp;|&nbsp;<span *ngIf="appLink.isdefault">default</span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <div *ngIf='length === 0' align="center"><p>No Record Found!!!</p></div> 
                <mat-paginator *ngIf='length !== 0' 
                [length]="length"
                [pageSize]="pageSize" 
                (page)="pageevent($event)">
                </mat-paginator>
            </div>
            
        </div>

        
      </section>
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2014-2021</strong
      >
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>
  
  <ngx-ui-loader></ngx-ui-loader>
