<!-- <h2 mat-dialog-title>Update App Link</h2> -->
<mat-dialog-content class="mat-typography">
   <mat-card class="example-card">
    <mat-card-header>
       <mat-card-title>
        Update App Link
       </mat-card-title>
    </mat-card-header>
    <form class="remarks-form" [formGroup]="updateAddFormData" (ngSubmit)="updateAppLink()">
        <mat-card-content>
            <mat-form-field class="remarks-full-width">
            <mat-label>App type</mat-label>
            <input
                formControlName="appType"
                type="text"
                matInput
            />
            </mat-form-field>
            <mat-form-field class="remarks-full-width">
            <mat-label>App Name</mat-label>
            <input
                formControlName="appName"
                type="text"
                matInput
            />
            </mat-form-field>
            <mat-form-field class="remarks-full-width">
            <mat-label>App Link</mat-label>
            <input
                formControlName="appLink"
                type="text"
                matInput
            />
            </mat-form-field>
            <mat-slide-toggle formControlName="default">Set Default</mat-slide-toggle>
        </mat-card-content>
        <mat-card-actions>
            <div class="example-action-buttons  text-right">
                <button type="submit" class="btnwidth pull-right" mat-raised-button [disabled]="!updateAddFormData.valid"><i class="fa fa-check"></i>Save</button> &nbsp;
                <button mat-button [mat-dialog-close]="true" class="btn btn-outline-secondary" cdkFocusInitial>Close</button>
            </div>
        </mat-card-actions>
    </form>
 </mat-card>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    
  </mat-dialog-actions>
