<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
      <div class="sidebar">
        
        <nav class="mt-1">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
           
                <li class="nav-item" *ngIf="user.type && (user.type == 2)">
                  <a routerLink="/staff" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard</p>
                  </a>
                    <a routerLink="/staff-dashboard" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Retailer KYC</p>
                    </a>
                    <a routerLink="/partner-kyc" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Partner KYC</p>
                    </a>
                    <a routerLink="/agent-error" class="nav-link active" >
                      <i class="far fa-circle nav-icon"></i>
                      <p>Agent Error</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="user.type && (user.type == 3 || user.type == 1)">
                    <a routerLink="/admin-dashboard" class="nav-link" >
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                    <a routerLink="/admin-remarks" class="nav-link" *ngIf="user.type && user.type == 3">
                      <i class="nav-icon fa fa-book"></i>
                        <p>Remarks</p>
                    </a>
                    <a routerLink="/admin-reports" class="nav-link" >
                      <i class="fas fa-clipboard-list nav-icon"></i>
                        <p>Reports</p>
                    </a>
                    <a routerLink="/users" class="nav-link" *ngIf="user.type && user.type != 3">
                      <i class="fa fa-users nav-icon"></i>
                        <p>Users</p>
                    </a>
                    <a routerLink="/agent-error" class="nav-link" >
                      <i class="fa fa-exclamation-triangle nav-icon"></i>
                        <p>Agent Error</p>
                    </a>
                    <a routerLink="/admin-settings" class="nav-link" *ngIf="user.type && user.type != 3">
                      <i class="fa fa-cog nav-icon"></i>
                        <p>Settings</p>
                    </a>
                    <a routerLink="/signzyLog" class="nav-link active" *ngIf="user.type && user.type != 3" >
                      <i class="fa fa-spinner nav-icon"></i>
                        <p>Signzy Log</p>
                    </a>
                    <a routerLink="/appLink" class="nav-link" *ngIf="user.type && user.type != 3">
                      <i class="fa fa-mobile nav-icon"></i>
                      <p>App Link</p>
                    </a>
                    <a routerLink="/deleteForms" class="nav-link">
                      <i class="fa fa-ban nav-icon"></i>
                      <p>Delete Forms</p>
                    </a>
                  </li> 
            <li class="nav-item">
              <a routerLink="/login" class="nav-link" (click)= "logMeOut()">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                   Logout
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Signzy Log</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Signzy Log</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="card card-body">
            <form (submit)="getLogs()" [formGroup]="SignzyLogFormData" class="kyc-form">
              <div class="row"> 
                <div class="col-md-3">
                    <mat-form-field class="kyc-full-width">
                        <mat-select placeholder="APIs name" formControlName="uservalue" >
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let api of api_names" value="{{api.api_name}}">{{api.api_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="kyc-full-width">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Enter mobile Number" formControlName="mobile">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="kyc-full-width">
                      <input matInput (click)="pickerfromdate.open()" [min]="minFromDate" [max]="maxFromDate" [matDatepicker]="pickerfromdate" placeholder="From Date" formControlName="fromdate" [(ngModel)]="fromdate" (dateChange)="addEvent('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerfromdate></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-2">
                  <mat-form-field class="kyc-full-width">
                      <input matInput (click)="pickertodate.open()" [min]="minToDate" [max]="maxToDate" [matDatepicker]="pickertodate" placeholder="To Date" formControlName="todate" [(ngModel)]="todate">
                      <mat-datepicker-toggle matSuffix [for]="pickertodate"></mat-datepicker-toggle>
                      <mat-datepicker #pickertodate></mat-datepicker>
                  </mat-form-field>
              </div>
                <div class="col-md-2">
                    <input type="hidden" formControlName="page" name="page" [(ngModel)]="page">
                    <button class="btn btn-navbar" mat-button type="submit">
                    <i class="fas fa-search"></i>
                    </button>
                </div>
              </div>
            </form>
          </div>

          <div class="card card-body" *ngIf="loader">
            <img class="center-block" src="assets/ajax-loading.gif">
        </div>

          <div class="card card-body">
            <div> 
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <div *ngIf='result.length !== 0'>
                            <strong>Total Records</strong> : <span>{{length}}</span> 
                        </div>
                    </div> 
                </div>
                <div class="clearfix">&nbsp;</div>
                <div  class="table-responsive"> 
                    <table *ngIf='result.length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead class="tblhead">
                            <tr align="center">
                                <th>API</th>
                                <th>Mobile</th>
                                <th>Request</th>
                                <th>Response</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of result; let i = index" align="center">
                                <td>{{log.api_name}}</td>
                                <td>{{log.mobileNumber}}</td>
                                <td>{{log.request}}</td>
                                <td>{{log.response}}</td>
                                <td>{{log.created_at}}</td>
                            </tr>  
                        </tbody>
                    </table>
                    <div *ngIf='length === 0' align="center"><p>No Record Found!!!</p></div> 
                  </div>              
            </div>
          </div>
          <mat-paginator *ngIf='result.length !== 0' 
          [length]="length"
          [pageSize]="pageSize" 
          (page)="pageevent($event)">
          </mat-paginator>
        </div>
        <!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2014-2021</strong
      >
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>
  
  <ngx-ui-loader></ngx-ui-loader>
