<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
    
    </nav>
  
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>
      <div class="sidebar"> 
        <nav class="mt-1">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link " >
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-remarks" class="nav-link active" *ngIf="user.type && user.type == 3">
              <i class="nav-icon fa fa-book"></i>
              <p>Remarks</p>
            </a>
          </li>
          <li class="nav-item">
             <a routerLink="/admin-reports" class="nav-link " >
              <i class="fas fa-clipboard-list nav-icon"></i>
              <p>Reports</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/users" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-users nav-icon"></i>
              <p>Users</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link "  *ngIf="user.type && user.type == 3">
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/admin-settings" class="nav-link "  *ngIf="user.type && user.type != 3">
              <i class="fa fa-cog nav-icon"></i>
              <p>Settings</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-spinner nav-icon"></i>
              <p>Signzy Log</p>
          </a>
          </li>
          <li class="nav-item">
          <a routerLink="/appLink" class="nav-link " *ngIf="user.type && user.type != 3">
            <i class="fa fa-mobile nav-icon"></i>
            <p>App Link</p>
          </a> 
        </li> 
          <li class="nav-item">
          <a routerLink="/deleteForms" class="nav-link ">
            <i class="fa fa-ban nav-icon"></i>
            <p>Delete Forms</p>
          </a>
          </li>

            <li class="nav-item has-treeview">
              <ul class="nav">
                <li class="nav-item">
                  <a  routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                    &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>
              </ul>
            </li> 
            
          </ul>
        </nav>
      </div>
    </aside>
  
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Remarks</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Remarks</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Main content -->
      <section class="content">
        <div class="py-1" style="padding-left: 9px;">       
          <button class="btnwidth" (click)="showAddRemarks()">Add Remarks</button>
        </div>
        <div class="container-fluid" >
          <div class="card card-body" *ngIf="showaddremakrs">
              <mat-card class="remarks-card">
                <mat-card-header>
                  <mat-card-title>Remarks</mat-card-title>
                </mat-card-header>
                  <form class="remarks-form" [formGroup]="RemarksFormGroup" (ngSubmit)="addRemarks()">
                      <mat-card-content>
                          <mat-form-field class="remarks-full-width">
                              <mat-select placeholder="Select Remarks Type" formControlName="remark_type" [(ngModel)]="remark_type">
                                  <mat-option value="Aadhaar Rejection">Aadhaar Rejection</mat-option>
                                  <mat-option value="Bank Rejection">Bank Rejection</mat-option>
                                  <mat-option value="Pan Rejection">Pan Rejection</mat-option>
                                  <mat-option value="Address Rejection">Address Rejection</mat-option>
                                  <mat-option value="Video Kyc Rejection">Video Kyc Rejection</mat-option>
                                  <mat-option value="Bussiness Rejection">Bussiness Rejection</mat-option>
                                  <mat-option value="Secondary Address Rejection">Secondary Address Rejection</mat-option>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field class="remarks-full-width">
                              <mat-label>Leave a Remarks</mat-label>
                              <textarea matInput formControlName="remark" [(ngModel)]="remark" placeholder="Add Remarks..."></textarea>
                          </mat-form-field>
                          <mat-slide-toggle formControlName="status" [(ngModel)]="isChecked">Enabled</mat-slide-toggle>
                      </mat-card-content>
                      <mat-card-actions>
                          <div class="example-action-buttons  text-right">
                              <button type="submit" class="btnwidth pull-right" mat-raised-button [disabled]="!RemarksFormGroup.valid"><i class="fa fa-check"></i>Save</button> &nbsp;
                          </div>
                      </mat-card-actions>
                  </form>
              </mat-card>
          </div>

          <div class="card card-body">
            <form (submit)="allremarks()" [formGroup]="GetRemarksFormGroup" class="kyc-form">
              <div class="row"> 
                <div class="col-md-4">
                  <mat-form-field class="remarks-full-width">
                    <mat-select placeholder="Select Remarks Type" formControlName="remark_type">
                        <mat-option value="">All</mat-option>
                        <mat-option value="Aadhaar Rejection">Aadhaar Rejection</mat-option>
                        <mat-option value="Bank Rejection">Bank Rejection</mat-option>
                        <mat-option value="Pan Rejection">Pan Rejection</mat-option>
                        <mat-option value="Address Rejection">Address Rejection</mat-option>
                        <mat-option value="Video Kyc Rejection">Video Kyc Rejection</mat-option>
                        <mat-option value="Bussiness Rejection">Bussiness Rejection</mat-option>
                        <mat-option value="Secondary Address Rejection">Secondary Address Rejection</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                    <input type="hidden" formControlName="page" name="page" [(ngModel)]="page">
                    <button class="btn btn-navbar" mat-button type="submit">
                    <i class="fas fa-search"></i>
                    </button>
                </div>
              </div>
            </form>
          </div>

          <div class="card card-body" *ngIf="loader">
            <img class="center-block" src="assets/ajax-loading.gif">
        </div>

        <div class="card card-body" *ngIf="showlist">
            <div *ngIf="showlist"> 
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <div *ngIf='remarksList.length !== 0'>
                            <strong>Total Records</strong> : <span>{{length}}</span> 
                        </div>
                    </div> 
                </div>
                <div class="clearfix">&nbsp;</div>
                <div  class="table-responsive"> 
                    <table *ngIf='remarksList.length !== 0' class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead class="tblhead">
                            <tr align="center">
                                <th>Remarks</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let remark of remarksList; let i = index" align="center">
                                <td>{{remark.comments}}</td>
                                <td>{{remark.type}}</td>
                                <td *ngIf="remark.status==1">Enabled</td>
                                <td *ngIf="remark.status==0">Disabled</td>
                                <td *ngIf="remark.status==1">
                                  <button class="btn" mat-button (click)="openDialog(remark.id)"> <i class="nav-icon fas fa-edit"></i>Edit</button>&nbsp;|&nbsp;<mat-slide-toggle [checked]="true" (change)="changeStatus($event,remark.id)">Enabled</mat-slide-toggle>
                                </td>
                                <td *ngIf="remark.status==0">
                                  <button class="btn" mat-button (click)="openDialog(remark.id)"> <i class="nav-icon fas fa-edit"></i>Edit</button>&nbsp;|&nbsp;<mat-slide-toggle [checked]="false" (change)="changeStatus($event,remark.id)">Enabled</mat-slide-toggle>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div *ngIf='remarksList.length === 0' align="center"><p>No Record Found!!!</p></div> 
                    <mat-paginator *ngIf='remarksList.length !== 0' 
                    [length]="length"
                    [pageSize]="pageSize" 
                    (page)="pageevent($event)">
                    </mat-paginator>
                  </div>
              </div>
            </div>
        </div>

        
      </section>
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2014-2021</strong
      >
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>
  