<h2 mat-dialog-title>Update Remark</h2>
<mat-dialog-content class="mat-typography">
   <mat-card class="example-card">
    <mat-card-header>
       <mat-card-title>
          Remark
       </mat-card-title>
    </mat-card-header>
    <form class="remarks-form" [formGroup]="UpdateRemarkFormGroup" (ngSubmit)="updateRemark()">
      <mat-card-content>
          <mat-form-field class="remarks-full-width">
              <mat-select placeholder="Select Remarks Type" formControlName="remark_type" [(ngModel)]="remark_type">
                  <mat-option value="Rejection">Rejection</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="remarks-full-width">
              <mat-label>Leave a Remarks</mat-label>
              <textarea matInput formControlName="remark" [(ngModel)]="remark" placeholder="Add Remarks..."></textarea>
          </mat-form-field>
          <mat-slide-toggle formControlName="status" [(ngModel)]="isChecked">Enabled</mat-slide-toggle>
      </mat-card-content>
      <mat-card-actions>
          <div class="example-action-buttons  text-right">
              <button type="submit" class="btnwidth pull-right" mat-raised-button [disabled]="!UpdateRemarkFormGroup.valid"><i class="fa fa-check"></i>Save</button> &nbsp;
          </div>
      </mat-card-actions>
  </form>
 </mat-card>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" class="btn btn-outline-secondary" cdkFocusInitial>Close</button>
  </mat-dialog-actions>
