<div class="wrapper">
   <!-- Navbar -->
   <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
         </li>
      </ul>
      <!-- Right navbar links -->
   </nav>
   <!-- /.navbar -->

   <!-- Main Sidebar Container -->
   <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="logo" style="text-align: center;"><img style="width:206px"   src="assets/logo.png"></div>

      <!-- Sidebar -->
      <div class="sidebar">
         <!-- Sidebar Menu -->
         <nav class="mt-1 " *ngIf="user.type==2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
               <li class="nav-item">
                  <a routerLink="/admin-dashboard" class="nav-link">
                     <i class="nav-icon fas fa-tachometer-alt"></i>
                     <p>Dashboard</p>
                  </a>
               </li>

               <li class="nav-item">
                  <a routerLink="/staff-dashboard" class="nav-link ">
                            <i class="fa fa-file nav-icon"></i>
                            <p>Retailer KYC</p>
                          </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/partner-kyc" class="nav-link active">
                          <i class="fa fa-file nav-icon"></i>
                          <p>Partner KYC</p>
                        </a>
                </li>
                <li class="nav-item">
                <a routerLink="/agent-error" class="nav-link " >
                          <i class="fa fa-exclamation-triangle nav-icon"></i>
                          <p>Agent Error</p>
                        </a>
                </li> 

               <li class="nav-item has-treeview">
                  <ul class="nav">
                     <li class="nav-item">
                        <a (click)="logMeOut()"  href="javascript:void(0)" class="nav-link">
                           &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                           <p>Logout</p>
                        </a>
                     </li>
                  </ul>
               </li>

            </ul>
         </nav>
          <nav class="mt-1 {{user.type}}" *ngIf="user.type==1">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
            <li class="nav-item">
              <a routerLink="/admin-dashboard" class="nav-link " >
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
              </a>
              </li>
              <li class="nav-item">
              <a routerLink="/admin-remarks" class="nav-link " >
                <i class="nav-icon fa fa-book"></i>
                <p>Remarks</p>
              </a>
            </li>
            <li class="nav-item">
               <a routerLink="/admin-reports" class="nav-link active" >
                <i class="fas fa-clipboard-list nav-icon"></i>
                <p>Reports</p>
              </a>
              </li>
              <li class="nav-item">
              <a routerLink="/users" class="nav-link " >
                <i class="fa fa-users nav-icon"></i>
                <p>Users</p>
              </a>
              </li>
              <li class="nav-item">
              <a routerLink="/agent-error" class="nav-link " >
                <i class="fa fa-exclamation-triangle nav-icon"></i>
                <p>Agent Error</p>
              </a>
              </li>
              <li class="nav-item">
              <a routerLink="/admin-settings" class="nav-link" >
                <i class="fa fa-cog nav-icon"></i>
                <p>Settings</p>
              </a>
              </li>
              <li class="nav-item">
              <a routerLink="/signzyLog" class="nav-link ">
                <i class="fa fa-spinner nav-icon"></i>
                <p>Signzy Log</p>
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/appLink" class="nav-link " >
              <i class="fa fa-mobile nav-icon"></i>
              <p>App Link</p>
            </a> 
          </li> 
            <li class="nav-item">
            <a routerLink="/deleteForms" class="nav-link ">
              <i class="fa fa-ban nav-icon"></i>
              <p>Delete Forms</p>
            </a>
            </li>
  
              <li class="nav-item has-treeview">
                <ul class="nav">
                  <li class="nav-item">
                    <a  (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                      &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                      <p>Logout</p>
                    </a>
                  </li>
                </ul>
              </li> 
              
            </ul>
          </nav>
          <nav class="mt-1" *ngIf="user.type==3">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item">
                <a routerLink="/admin-dashboard" class="nav-link ">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin-remarks" class="nav-link ">
                  <i class="nav-icon fa fa-book"></i>
                  <p>Remarks</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin-reports" class="nav-link ">
                  <i class="fas fa-clipboard-list nav-icon"></i>
                  <p>Reports</p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a routerLink="/users" class="nav-link " >
                  <i class="fa fa-users nav-icon"></i>
                  <p>Users</p>
                </a>
              </li> -->
              <li class="nav-item">
                <a routerLink="/agent-error" class="nav-link">
                  <i class="fa fa-exclamation-triangle nav-icon"></i>
                  <p>Agent Error</p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a routerLink="/admin-settings" class="nav-link " >
                  <i class="fa fa-cog nav-icon"></i>
                  <p>Settings</p>
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a routerLink="/signzyLog" class="nav-link " >
                  <i class="fa fa-spinner nav-icon"></i>
                  <p>Signzy Log</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/appLink" class="nav-link " >
                  <i class="fa fa-mobile nav-icon"></i>
                  <p>App Link</p>
                </a>
              </li> -->
              <li class="nav-item">
                <a routerLink="/deleteForms" class="nav-link">
                  <i class="fa fa-ban nav-icon"></i>
                  <p>Delete Forms</p>
                </a>
              </li>
      
              <li class="nav-item has-treeview">
                <ul class="nav">
                  <li class="nav-item">
                    <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                      &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                      <p>Logout</p>
                    </a>
                  </li>
                </ul>
              </li>
      
            </ul>
          </nav>
         <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
   </aside>

   <div class="content-wrapper">
      <section class="content mt-82">
         <div class="container-fluid">
            <div class="container-fluid" *ngIf="loader">
               <div class="row">
                   <div class="col-lg-12 col-md-12">
                       <div class="divLoading">
                           <p>
                               <img class="center-block" src="assets/ajax-loading.gif">
                               
                           </p>
                       </div>
                   </div>
               </div>
             </div> 
            <div class="row">
               <div class="col-md-2">

                  <!-- Profile Image -->
                  <div class="card card-primary card-outline">
                     <div class="card-body box-profile">
                        <!-- <div class="text-center">
                           <img class="profile-user-img img-fluid img-circle"
                              src="data:image/jpeg;base64,{{addressProofResponseData['photo']}}"
                              alt="User profile picture">
                        </div> -->

                        <h3 class="profile-username text-center">{{addressProofResponseData['name']}}</h3>

                        <ul class="list-group list-group-unbordered mb-3">
                           <li class="list-group-item">
                              <b>Father's Name </b> <a class="float-right">{{parentName}}</a>
                           </li>
                           <li class="list-group-item">
                              <b>Email </b> <a class="float-right">{{email}}</a>
                           </li>
                           <li class="list-group-item">
                              <b>Mobile </b> <a class="float-right">{{mobileNumber}}</a>
                           </li>
                        </ul>
 
                     </div>
                     <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                 
               </div>
               <!-- /.col -->
               <div class="col-md-10">
                  <div class="card">
                     <div class="card-header p-2">
                        <ul class="nav nav-pills">
                           <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Basic
                                 Details</a></li>
                           <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Residential
                                 Details</a></li>
                           <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Business
                                 information</a></li>
                           <li class="nav-item"><a class="nav-link" href="#Pandetails" data-toggle="tab">Pan Details</a>
                           </li>
                           <li class="nav-item"><a class="nav-link" href="#addressproff" data-toggle="tab">Address
                                 Proof</a></li>
                           <li class="nav-item"><a class="nav-link" href="#bankdetails" data-toggle="tab">Bank
                                 Details</a></li>
                           <li class="nav-item"><a class="nav-link" href="#kycmode" data-toggle="tab">KYC Mode</a></li>
                           <li class="nav-item"><a class="nav-link" href="#videoverification" data-toggle="tab">Video
                                 Verification</a></li>
                           <li class="nav-item"><a class="nav-link" href="#forgeryresponse" data-toggle="tab">Forgery
                                 Response</a></li>
                           <li class="nav-item"><a class="nav-link" href="#namematchresponse" data-toggle="tab">Name
                                 Match Response</a></li>
                        </ul>
                     </div><!-- /.card-header -->
                     <div class="card-body">
                        <div class="tab-content">
                           <div class="tab-pane active" id="activity">
                              <!-- Post -->
                              <div class="post">
                                  
                                 <div class="card card-primary"> 
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                       <div class="row">
                                          <div class="col-md-4">
                                             <strong>Name : {{name}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong>Email : {{email}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong> Mobile : {{mobileNumber}}</strong>
                                          </div>
                                       </div> <hr> 
                                       <div class="row">
                                          <div class="col-md-4">
                                             <strong>Father's Name : {{parentName}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong>Gender : {{gender}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong> Date of Birth : {{dob}}</strong>
                                          </div>
                                       </div> 
                                       <hr> 
                                       <div class="row">
                                          <div class="col-md-4">
                                             <strong>Qualification : {{qualification}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong>Category : {{category}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong>Physically Handicapped : {{physicallyHandicapped}}</strong>
                                          </div>
                                       </div> 
                                       <hr> 
                                       <div class="row">
                                          <div class="col-md-4">
                                             <strong>Alternate Occupation Type : {{alternateOccupationType}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong>Provider : {{provider}}</strong>
                                          </div>
                                          <div class="col-md-4">
                                             <strong>Entity Type: {{entityType}}</strong>
                                          </div>
                                          
                                       </div> 
                                       <hr> 
                                       <div class="row">
                                          <div class="col-md-4">
                                             <strong>Alternate Number: {{alternateNumber}}</strong>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- /.card-body -->
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="timeline">
                              <div class="post">
                                 <!-- <div class="card-body table-responsive align p-0">
                                    <table class="table table-hover text-nowrap">
                                       <thead>
                                          <tr>
                                             <th scope="col">Full Address</th>
                                             <th scope="col">Landmark</th>
                                             <th scope="col">Pin Code</th>
                                             <th scope="col">District</th>
                                             <th scope="col">City</th>
                                             <th scope="col">State</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <td>{{address}}</td>
                                          <td>{{landmark}}</td>
                                          <td>{{pincode}}</td>
                                          <td>{{district}}</td>
                                          <td>{{city}}</td>
                                          <td>{{state}}</td>
                                       </tbody>
                                    </table>
                                 </div> -->
                                 <div class="card-body">
                                    <div class="row">
                                       <div class="col-md-6">
                                          <strong>Full Address : {{address}}</strong>
                                       </div>
                                       <div class="col-md-4">
                                          <strong>Landmark : {{landmark}}</strong>
                                       </div>
                                       <div class="col-md-2">
                                          <strong> Pin Code : {{pincode}}</strong>
                                       </div>
                                    </div> <hr> 
                                    <div class="row">
                                       <div class="col-md-6">
                                          <strong>District : {{district}}</strong>
                                       </div>
                                       <div class="col-md-4">
                                          <strong>City : {{city}}</strong>
                                       </div>
                                       <div class="col-md-2">
                                          <strong>State : {{state}}</strong>
                                       </div>
                                    </div> 
                                 </div>
                              </div>

                           </div>
                           <div class="tab-pane" id="settings"> 
                              <div class="card-body">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <strong>Firm Name : {{firmName}}</strong>
                                    </div>
                                    <div class="col-md-4">
                                       <strong>Work Experiance : {{workExp}}</strong>
                                    </div>
                                    <div class="col-md-4">
                                       <strong>Full Address: {{firm_address}}</strong>
                                    </div>
                                 </div> <hr> 
                                 <div class="row">
                                    <div class="col-md-4">
                                       <strong>Landmark : {{firm_landmark}}</strong>
                                    </div>
                                    <div class="col-md-4">
                                       <strong>Pincode : {{firm_pincode}}</strong>
                                    </div>
                                    <div class="col-md-4">
                                       <strong>District : {{firm_district}}</strong>
                                    </div>
                                 </div> 
                                 <hr> 
                                 <div class="row">
                                    <div class="col-md-4">
                                       <strong>City : {{firm_city}}</strong>
                                    </div>
                                    <div class="col-md-4">
                                       <strong>State : {{firm_state}}</strong>
                                    </div> 
                                 </div> 
                                 <div class="row mt-3">
                                    <div class="col-md-12">
                                       <div class="overflow-auto">
                                          <h3 mat-subheader>Remarks</h3>
                                          <ul class="list-group">
                                             <li class="list-group-item" *ngFor="let remarkval of BusinesssRemarkArray">
                                                <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                                                <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                                             </li>
                                          </ul>
                                        </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="Pandetails">
                              <div class="row">
                                 <div class="col-md-4">
                                    <!-- Widget: user widget style 2 -->
                                    <div class="card-body box-profile">
                                       <div class="text-center">
                                          <img   class="profile-user-img img-fluid"
                                             src="{{apiUrlVar}}/getPhoto?filename={{panFile}}&type=pandoc&token={{token}} "  alt="User profile picture">

                                             </div>

                                       <h3 class="profile-username text-center"><label>Pan Number</label>:{{pan}}</h3>
                                       <a href="{{apiUrlVar}}/getPhoto?filename={{panFile}}&type=pandoc&token={{token}}"
                                          target="_blank">
                                          <p class="text-center">Open in new tab</p>
                                       </a>

                                    </div>
                                    <!-- /.widget-user -->
                                 </div>
                                 <div class="col-md-8">
                                    <h3>Pan Fetch Response</h3>
                                    <table class="table">
                                       <thead>
                                          <tr>
                                             <th scope="col">PAN</th>
                                             <th scope="col">NAME</th>
                                             <th scope="col">FATHER NAME</th>
                                             <th scope="col">DOB</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>{{panFetchResponseData['number']}}</td>
                                             <td>{{panFetchResponseData['name']}}</td>
                                             <td>{{panFetchResponseData['fatherName']}}</td>
                                             <td>{{panFetchResponseData['dob']}}</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div class="row">
                                 <h3 mat-subheader>Pan OCR Response</h3>
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th scope="col">PAN</th>
                                          <th scope="col">NAME</th>
                                          <th scope="col">FATHER NAME</th>
                                          <th scope="col">DOB</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>{{panExtractionResponseData['number']}}</td>
                                          <td>{{panExtractionResponseData['name']}}</td>
                                          <td>{{panExtractionResponseData['fatherName']}}</td>
                                          <td>{{panExtractionResponseData['dob']}}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="overflow-auto">
                                       <h3 mat-subheader>Remarks</h3>
                                       <ul class="list-group">
                                          <li class="list-group-item" *ngFor="let remarkval of panRemarksArray">
                                             <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}} </p>
                                             <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                                          </li>
                                       </ul>
                                     </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="addressproff">
                              <div class="post">
                                 <div class="row mb-3">
                                    <div class="col-sm-6">
                                       <img class="img-fluid img-thumbnail"
                                          src="{{apiUrlVar}}/getPhoto?filename={{proofPhotoFile}}&type=addressproofdocThumb&token={{token}}"
                                          alt="Photo">
                                       <a href="{{apiUrlVar}}/getPhoto?filename={{proofPhotoFile}}&type=addressproofdoc&token={{token}}"
                                          target="_blank">View</a>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-6">
                                       <img class="img-fluid img-thumbnail"
                                          src="{{apiUrlVar}}/getPhoto?filename={{proofPhotoBackFile}}&type=addressproofdocThumb&token={{token}}"
                                          alt="Photo">
                                       <a href="{{apiUrlVar}}/getPhoto?filename={{proofPhotoBackFile}}&type=addressproofdocThumb&token={{token}}"
                                          target="_blank">View</a>

                                       <!-- /.row -->
                                    </div>
                                    <!-- /.col -->
                                 </div>
                                 <div class="row"
                                    *ngIf="proof_type=='Driving Licence' || proof_type=='Driving Licence Voter ID'  ||  proof_type=='Driving Licence Passport'">
                                    <h3>Driving Licence Response</h3>
                                    <div class="table-responsive align">
                                       <table class="table">
                                          <thead>
                                             <tr>
                                                <th scope="col">DL</th>
                                                <th scope="col">NAME</th>
                                                <th scope="col">FATHER NAME</th>
                                                <th scope="col">DOB</th>
                                                <th scope="col">ADDRESS</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <td>{{addressProofResponseData['dlNumber']}}</td>
                                                <td>{{addressProofResponseData['name']}}</td>
                                                <td>{{addressProofResponseData['fatherOrHusbandName']}}</td>
                                                <td>{{addressProofResponseData['dob']}}</td>
                                                <td>{{addressProofResponseData['address']}}</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                    <div class="float-left mt-3">
                                       {{aadhar_otp_response | json}}
                                    </div>
                                 </div>
                                 <div class="row"
                                    *ngIf="proof_type=='Voter ID' || proof_type=='Voter ID Driving Licence '  ||  proof_type=='Voter ID Passport'">
                                    <h3>Voter ID Response</h3>
                                    <div class="table-responsive align">
                                       <table class="table">
                                          <thead>
                                             <tr>
                                                <th scope="col">EPIC</th>
                                                <th scope="col">NAME</th>
                                                <th scope="col">FATHER NAME</th>
                                                <th scope="col">DOB</th>
                                                <th scope="col">DISTRICT</th>
                                                <th scope="col">STATE</th>
                                                <th scope="col">GENDER</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <td>{{addressProofResponseData['epicNumber']}}</td>
                                                <td>{{addressProofResponseData['name']}}</td>
                                                <td>{{addressProofResponseData['fatherName']}}</td>
                                                <td>{{addressProofResponseData['dob']}}</td>
                                                <td>{{addressProofResponseData['district']}}</td>
                                                <td>{{addressProofResponseData['state']}}</td>
                                                <td>{{addressProofResponseData['gender']}}</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>

                                 <div class="row"
                                    *ngIf="proof_type=='Passport' || proof_type=='Passport Driving Licence '  ||  proof_type=='Passport Voter ID'">
                                    <h3>Passport Response</h3>
                                    <div class="table-responsive align">
                                       <table class="table">
                                          <thead>
                                             <tr>
                                                <th scope="col">FILE NUMBER</th>
                                                <th scope="col">NAME</th>
                                                <th scope="col">DOB</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <td>{{addressProofResponseData['fileNumber']}}</td>
                                                <td>{{addressProofResponseData['name']}}</td>
                                                <td>{{addressProofResponseData['dob']}}</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>

                                 <div class="row"
                                    *ngIf="(proof_type=='Aadhar OTP' || proof_type=='Aadhar' || proof_type=='Aadhar OTP Passport' || proof_type=='Aadhar OTP Driving Licence'  ||  proof_type=='Aadhar OTP Voter ID') && addressProofResponseData !== undefined && addressProofResponseData !=null && addressProofResponseData['photo'] && addressProofResponseData['photo'] != ''">
                                    <div class="col-md-3">
                                       <h3>Aadhar OTP Response</h3>
                                       <div class="float-left">
                                          <img class="img-thumbnail"
                                             src="data:image/jpeg;base64,{{addressProofResponseData['photo']}}" />
                                       </div>
                                    </div>
                                    <div class="col-md-9 border-left">
                                       <!-- <div class="table-responsive align">
                                          <table class="table">
                                             <thead>
                                                <tr>
                                                   <th scope="col">NAME</th>
                                                   <th scope="col">MOBILE</th>
                                                   <th scope="col">GENDER</th>
                                                   <th scope="col">DISTRICT</th>
                                                   <th scope="col">STATE</th>
                                                   <th scope="col">COUNTRY</th>
                                                   <th scope="col">ADDRESS</th>
                                                   <th scope="col">VTC</th>
                                                   <th scope="col">DOC</th>
                                                   <th scope="col">REFRENCE ID</th>
                                                   <th scope="col">DOB</th>
                                                   <th scope="col">PINCODE</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr>
                                                   <td>{{addressProofResponseData['name']}}</td>
                                                   <td>{{addressProofResponseData['mobile']}}</td>
                                                   <td>{{addressProofResponseData['gender']}}</td>
                                                   <td>{{addressProofResponseData['dist']}}</td>
                                                   <td>{{addressProofResponseData['state']}}</td>
                                                   <td>{{addressProofResponseData['country']}}</td>
                                                   <td>{{addressProofResponseData['address']}}</td>
                                                   <td>{{addressProofResponseData['vtc']}}</td>
                                                   <td>{{addressProofResponseData['document_id']}}</td>
                                                   <td>{{addressProofResponseData['verified_by']}}</td>
                                                   <td>{{addressProofResponseData['dob']}}</td>
                                                   <td>{{addressProofResponseData['pc']}}</td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div> -->
                                       <div class="card-body">
                                          <div class="row">
                                             <div class="col-md-4">
                                                <strong>NAME : {{addressProofResponseData['name']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>MOBILE : {{addressProofResponseData['mobile']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>GENDER: {{addressProofResponseData['gender']}}</strong>
                                             </div>
                                          </div> <hr> 
                                          <div class="row">
                                             <div class="col-md-4">
                                                <strong>DISTRICT : {{addressProofResponseData['dist']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>STATE :{{addressProofResponseData['state']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>COUNTRY : {{addressProofResponseData['country']}}</strong>
                                             </div>
                                          </div> 
                                          <hr> 
                                          <div class="row">
                                             <div class="col-md-4">
                                                <strong>ADDRESS : {{addressProofResponseData['address']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>VTC : {{addressProofResponseData['vtc']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>DOC : {{addressProofResponseData['document_id']}}</strong>
                                             </div> 
                                          </div> 
                                          <hr> 
                                          <div class="row">
                                             <div class="col-md-4">
                                                <strong>REFRENCE ID : {{addressProofResponseData['verified_by']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>DOB : {{addressProofResponseData['dob']}}</strong>
                                             </div>
                                             <div class="col-md-4">
                                                <strong>PINCODE : {{addressProofResponseData['pc']}}</strong>
                                             </div> 
                                          </div> 
                                       </div>
                                       <div class="float-left">
                                          {{aadhar_otp_response | json}}
                                       </div>
                                    </div>
                                 </div>

                                 <div
                                    *ngIf="secondaryProff !== undefined && secondaryProff != '' && secondaryProff != null">

                                    <h3>
                                       Secondary Proof -- {{secondaryProff.kyc_type}}
                                    </h3>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <p *ngIf="secondaryProff.proofThumbPhoto !=''">
                                             <img class="img-thumbnail"
                                                src="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofThumbPhoto}}&type=addressproofdocThumb&token={{token}}" />
                                          </p>
                                          <p *ngIf="secondaryProff.proofPhoto !=''">
                                             <a href="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofPhoto}}&type=addressproofdoc&token={{token}}"
                                                target="_blank">Open in new tab</a>
                                          </p>
                                       </div>
                                       <div class="col-md-6">
                                          <p *ngIf="secondaryProff.proofThumbPhotoBack !=''">
                                             <img class="img-thumbnail"
                                                src="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofThumbPhotoBack}}&type=addressproofdocThumb&token={{token}}" />
                                          </p>
                                          <p *ngIf="secondaryProff.proofPhotoBack!=''">
                                             <a href="{{apiUrlVar}}/getPhoto?filename={{secondaryProff.proofPhotoBack}}&type=addressproofdoc&token={{token}}"
                                                target="_blank">Open in new tab</a>
                                          </p>
                                       </div>
                                    </div>
                                    <!-- <div class="row">
                                       <div class="col-md-12">
                                          <div class="overflow-auto">
                                             <h3 mat-subheader>Remarks</h3>
                                             <ul class="list-group">
                                                <li class="list-group-item"
                                                   *ngFor="let remarkval of secAddressProofRemarkArray">
                                                   <p>{{remarkval.remark}} by {{remarkval.name}} at
                                                      {{remarkval.created_at}}</p>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                       <br>
                                       <br>
                                    </div> -->

                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="overflow-auto">
                                          <h3 mat-subheader>Remarks</h3>
                                          <ul class="list-group">
                                             <li class="list-group-item" *ngFor="let remarkval of AddressProofRemarkArray">
                                                <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                                                <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                                             </li>
                                          </ul>
                                          </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="bankdetails">
                              <div class="card-body table-responsive align p-0">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="table-responsive align">
                                          <table class="table">
                                             <thead>
                                                <tr>
                                                   <th scope="col">Account Type</th>
                                                   <th scope="col">Bank Name</th>
                                                   <th scope="col">IFSC</th>
                                                   <th scope="col">Account Number</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr>
                                                   <td>{{accountType}}</td>
                                                   <td>{{bankName}}</td>
                                                   <td>{{ifsc}}</td>
                                                   <td>{{account}}</td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>

                                    </div>
                                    <div class="col-md-6 border-left">
                                       <div class="table-responsive align">
                                          <table class="table">
                                             <thead>
                                                <tr>
                                                   <th scope="col">UTR</th>
                                                   <th scope="col">Bene Name</th>
                                                   <th scope="col">Message</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr>
                                                   <td>{{BankVerificationResponseData['utr']}}</td>
                                                   <td>{{BankVerificationResponseData['benename']}}</td>
                                                   <td>{{BankVerificationResponseData['message']}}</td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                       <div *ngIf="bankFile != ''">
                                          <label for="exampleInputEmail1">Passbook Photo</label>
                                          <p><img class="img-thumbnail"
                                                src="{{apiUrlVar}}/getPhoto?filename={{bankFile}}&type=bankdoc&token={{token}}" />
                                          </p>
                                       </div>
                                    </div>
                                 </div>  
                              </div>
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="overflow-auto">
                                       <h3 mat-subheader>Remarks</h3>
                                       <ul class="list-group">
                                          <li class="list-group-item" *ngFor="let remarkval of BankRemarkArray">
                                             <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                                             <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                                          </li>
                                       </ul>
                                     </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="kycmode">
                              <div class="card-body table-responsive align p-0">
                                 <h1>Kyc Mode</h1>
                                 <p>{{kyc_mode}}</p>
                              </div>
                           </div>
                           <div class="tab-pane" id="videoverification">
                              <div class="card-body table-responsive align p-0">
                                 <div class="row pt-4">
                                    <div class="col-md-6">
                                       <h4><b>Images For Matching</b></h4>
                                    </div>
                                    <div class="col-md-6">
                                       <h4><b>Video Images</b></h4>
                                    </div>
                                 </div>
                                 <div class="row mb-3">
                                    <div class="col-sm-3">
                                       <img class="img-fluid img-thumbnail"
                                          src="{{VideoVerificationResponseData['finalMatchImage1']}}" alt="Photo">
                                       <p><b>Match Percentage
                                             1:&nbsp;</b>{{VideoVerificationResponseData['matchPercentage1']}}</p>
                                    </div>
                                    <div class="col-sm-3">
                                       <img class="img-fluid img-thumbnail"
                                          src="{{VideoVerificationResponseData['finalMatchImage2']}}" alt="Photo">
                                       <p><b>Match Percentage
                                             2:&nbsp;</b>{{VideoVerificationResponseData['matchPercentage2']}}</p>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-6">
                                       <div class="row"
                                          *ngIf="VideoVerificationResponseData !== undefined  && VideoVerificationResponseData !== null  && VideoVerificationResponseData['finalMatchImage2'] !=''">
                                          <div class="col-md-6">
                                             <div
                                                *ngIf="VideoVerificationResponseData['videoImage1'] !='' && VideoVerificationResponseData['videoImage2'] !='' && VideoVerificationResponseData['videoImage3'] !=''">
                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage1']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage1']}}"
                                                   target="_blank">Open in new tab</a>

                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage2']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage2']}}"
                                                   target="_blank">Open in new tab</a>

                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage3']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage3']}}"
                                                   target="_blank">Open in new tab</a>
                                             </div>
                                          </div>
                                          <div class="col-md-6">
                                             <div
                                                *ngIf="VideoVerificationResponseData['videoImage5'] !='' && VideoVerificationResponseData['videoImage4'] !='' && VideoVerificationResponseData['videoImage6'] !=''">
                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage4']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage4']}}"
                                                   target="_blank">Open in new tab</a>

                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage5']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage5']}}"
                                                   target="_blank">Open in new tab</a>

                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage6']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage6']}}"
                                                   target="_blank">Open in new tab</a>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- /.row -->
                                       <div class="row"
                                          *ngIf="VideoVerificationResponseData !== undefined &&  VideoVerificationResponseData !== null && VideoVerificationResponseData['matchPercentage1'] !='' && VideoVerificationResponseData['finalMatchImage2'] ==''">
                                          <div class="col-md-6">
                                             <img class="img-thumbnail"
                                                src="{{VideoVerificationResponseData['finalMatchImage1']}}" /><br />
                                             <p><b>Match
                                                   Percentage:&nbsp;</b>{{VideoVerificationResponseData['matchPercentage1']}}
                                             </p>
                                          </div>
                                          <div class="col-md-3">
                                             <div
                                                *ngIf="VideoVerificationResponseData['videoImage1'] !='' && VideoVerificationResponseData['videoImage2'] !=''">
                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage1']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage1']}}"
                                                   target="_blank">Open in new tab</a>

                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage2']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage2']}}"
                                                   target="_blank">Open in new tab</a>
                                             </div>
                                          </div>

                                          <div class="col-md-3">
                                             <div *ngIf="VideoVerificationResponseData['videoImage3'] !=''">
                                                <img class="img-thumbnail"
                                                   src="{{VideoVerificationResponseData['videoImage3']}}" /><br />
                                                <a href="{{VideoVerificationResponseData['videoImage3']}}"
                                                   target="_blank">Open in new tab</a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- /.col -->
                                 </div>
                                 <div class="row" *ngIf="VideoRemarkArray.length > 0">
                                    <div class="col-md-12">
                                       <div class="overflow-auto">
                                          <h3 mat-subheader>Remarks</h3>
                                          <ul class="list-group">
                                             <li class="list-group-item" *ngFor="let remarkval of VideoRemarkArray">
                                                <p>{{remarkval.remark}} by {{remarkval.name}} at {{remarkval.created_at}}</p>
                                                <p *ngIf="remarkval.custom_remark">Custom Remark : {{remarkval.custom_remark}}</p>
                                             </li>
                                          </ul>
                                        </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- /.tab-pane -->
                           <div class="tab-pane" id="forgeryresponse">
                              <div class="card-body table-responsive align p-0">
                                 <div class="row"
                                    *ngIf="ForgeryResponseData !== undefined && ForgeryResponseData !=null && ForgeryResponseData!=''">
                                    <div class="col-md-6"
                                       *ngIf="ForgeryResponseData.panForgeryStatus !== undefined && ForgeryResponseData.panForgeryStatus !=''">
                                       <div>
                                          <div>
                                             <img class="img-thumbnail img-show" src={{ForgeryResponseData.panImg}} />
                                          </div>
                                          <p>
                                             <b>Type</b>:Pan
                                             <b>Forged:</b>{{ForgeryResponseData.panForgeryStatus}}
                                          </p>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div
                                          *ngIf="ForgeryResponseData.aadhaarForgeryStatus !== undefined && ForgeryResponseData.aadhaarForgeryStatus !=''">
                                          <div>
                                             <img class="img-thumbnail img-show"
                                                src={{ForgeryResponseData.aadhaarImg}} />
                                             <img class="img-thumbnail img-show"
                                                src={{ForgeryResponseData.aadhaarImgBack}} />
                                          </div>
                                          <p>
                                             <b>Type</b>:Aadhaar
                                             <b>Forged:</b>{{ForgeryResponseData.aadhaarForgeryStatus}}
                                          </p>
                                       </div>
                                       <div
                                          *ngIf="ForgeryResponseData.dlForgeryStatus !== undefined && ForgeryResponseData.dlForgeryStatus !=''">
                                          <div>
                                             <img class="img-thumbnail img-show" src={{ForgeryResponseData.dlImg}} />
                                          </div>
                                          <p>
                                             <b>Type</b>:Driving Licence
                                             <b>Forged:</b>{{ForgeryResponseData.dlForgeryStatus}}
                                          </p>
                                       </div>
                                       <div
                                          *ngIf="ForgeryResponseData.passportForgeryStatus !== undefined && ForgeryResponseData.passportForgeryStatus !=''">
                                          <div>
                                             <img class="img-thumbnail" src={{ForgeryResponseData.passportImg}} />
                                             <img class="img-thumbnail" src={{ForgeryResponseData.passportImgBack}} />
                                          </div>
                                          <p>
                                             <b>Type</b>:Passport
                                             <b>Forged:</b>{{ForgeryResponseData.passportForgeryStatus}}
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="namematchresponse">
                              <div class="card-body table-responsive align p-0">
                                 <div class="row"
                                    *ngIf="NameMatchResponseData !== undefined && NameMatchResponseData !=null && NameMatchResponseData!=''">
                                    <div class="col-md-12"> 
                                       <div class="table-responsive align">
                                          <table class="table">
                                             <thead>
                                                <tr>
                                                   <th scope="col">Name1</th>
                                                   <th scope="col">Name2</th>
                                                   <th scope="col">Match Between</th>
                                                   <th scope="col">Match Reason</th>
                                                   <th scope="col">Match Result</th>
                                                   <th scope="col">Match Score</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr *ngFor="let nameMatch of NameMatchResponseData">
                                                   <td>{{nameMatch.name1}}</td>
                                                   <td>{{nameMatch.name2}}</td>
                                                   <td>{{nameMatch.match_between}}</td>
                                                   <td>{{nameMatch.name1_vs_name2_matchReason}}</td>
                                                   <td>{{nameMatch.name1_vs_name2_matchResult}}</td>
                                                   <td>{{nameMatch.name1_vs_name2_matchScore}}</td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /.tab-content -->
                     </div><!-- /.card-body -->
                  </div>
                  <!-- /.card -->
               </div>
               <!-- /.col -->
            </div>
            <!-- /.row -->
         </div><!-- /.container-fluid -->
      </section>
   </div>
   <!-- /.content-wrapper -->

   <!-- Control Sidebar -->
   <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
   </aside>
   <!-- /.control-sidebar -->

   <!-- Main Footer -->
   <footer class="main-footer">
      <strong>Copyright &copy; 2014-2021</strong>
      All rights reserved.
      <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
   </footer>
</div>
<ngx-ui-loader></ngx-ui-loader>
