<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <!-- Left navbar links -->
       <ul class="navbar-nav">
          <li class="nav-item">
             <a class="nav-link" data-widget="pushmenu" href="#"
                ><i class="fas fa-bars"></i
                ></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
             <a href="index3.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
             <a href="#" class="nav-link">Contact</a>
          </li>
       </ul>
       <!-- Right navbar links -->
       <ul class="navbar-nav ml-auto">
          <!-- Messages Dropdown Menu -->
          <li class="nav-item dropdown">
             <a class="nav-link" data-toggle="dropdown" href="#">
             <i class="far fa-comments"></i>
             <span class="badge badge-danger navbar-badge">3</span>
             </a>
             <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item">
                   <!-- Message Start -->
                   <div class="media">
                      <img
                         src="assets/user1-128x128.jpg"
                         alt="User Avatar"
                         class="img-size-50 mr-3 img-circle"
                         />
                      <div class="media-body">
                         <h3 class="dropdown-item-title">
                            Brad Diesel
                            <span class="float-right text-sm text-danger"
                               ><i class="fas fa-star"></i
                               ></span>
                         </h3>
                         <p class="text-sm">Call me whenever you can...</p>
                         <p class="text-sm text-muted">
                            <i class="far fa-clock mr-1"></i> 4 Hours Ago
                         </p>
                      </div>
                   </div>
                   <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                   <!-- Message Start -->
                   <div class="media">
                      <img
                         src="assets/user8-128x128.jpg"
                         alt="User Avatar"
                         class="img-size-50 img-circle mr-3"
                         />
                      <div class="media-body">
                         <h3 class="dropdown-item-title">
                            John Pierce
                            <span class="float-right text-sm text-muted"
                               ><i class="fas fa-star"></i
                               ></span>
                         </h3>
                         <p class="text-sm">I got your message bro</p>
                         <p class="text-sm text-muted">
                            <i class="far fa-clock mr-1"></i> 4 Hours Ago
                         </p>
                      </div>
                   </div>
                   <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                   <!-- Message Start -->
                   <div class="media">
                      <img
                         src="assets/user3-128x128.jpg"
                         alt="User Avatar"
                         class="img-size-50 img-circle mr-3"
                         />
                      <div class="media-body">
                         <h3 class="dropdown-item-title">
                            Nora Silvester
                            <span class="float-right text-sm text-warning"
                               ><i class="fas fa-star"></i
                               ></span>
                         </h3>
                         <p class="text-sm">The subject goes here</p>
                         <p class="text-sm text-muted">
                            <i class="far fa-clock mr-1"></i> 4 Hours Ago
                         </p>
                      </div>
                   </div>
                   <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
             </div>
          </li>
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
             <a class="nav-link" data-toggle="dropdown" href="#">
             <i class="far fa-bell"></i>
             <span class="badge badge-warning navbar-badge">15</span>
             </a>
             <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer"
                   >See All Notifications</a
                   >
             </div>
          </li>
          <li class="nav-item">
             <a
                class="nav-link"
                data-widget="control-sidebar"
                data-slide="true"
                href="#"
                ><i class="fas fa-th-large"></i
                ></a>
          </li>
       </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
       <!-- Brand Logo -->
       <a href="index3.html" class="brand-link">
       <img
          src="assets/logo.png"
          alt="ekyc"
          class="brand-image img-circle elevation-3"
          style="opacity: 0.8;"
          />
       <span class="brand-text font-weight-light">VSTS</span>
       </a>
       <!-- Sidebar -->
       <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
             <div class="image">
                <img
                   src="assets/user2-160x160.jpg"
                   class="img-circle elevation-2"
                   alt="User Image"
                   />
             </div>
             <div class="info">
                <a href="#" class="d-block">Manoj</a>
             </div>
          </div>
          <!-- Sidebar Menu -->
          <nav class="mt-2">
             <ul
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
                >
                <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                   <a href="#" class="nav-link active">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                         Dashboard
                         <i class="right fas fa-angle-left"></i>
                      </p>
                   </a>
                   <ul class="nav nav-treeview">
                      <li class="nav-item">
                         <a routerLink="/dashboard" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Retailer Onboarding</p>
                         </a>
                         <!-- <ul class="nav">
                            <li class="nav-item">
                              <a (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                                &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                                <p>Logout</p>
                              </a>
                            </li>
                            </ul> -->
                      </li>
                   </ul>
                </li>
             </ul>
          </nav>
          <!-- /.sidebar-menu -->
       </div>
       <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
       <!-- Content Header (Page header) -->
       <div class="content-header">
          <div class="container-fluid">
             <div class="row mb-2">
                <div class="col-sm-6">
                   <h1 class="m-0 text-dark">Retailer Biometric</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                   <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                      <li class="breadcrumb-item active">Retailer Biometric</li>
                   </ol>
                </div>
                <!-- /.col -->
             </div>
             <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
       </div>
       <!-- /.content-header -->
       <!-- Main content -->
       <section class="content">
          <div class="container-fluid">
             <div class="card card-body">
               <a javascript="void(0)" (click)="getRdsService()">CHECK DEVICE</a>
               <a javascript="void(0)" (click)="getDeviceInformation()">DEVICE Info</a>
               <br>
               <br>
               <label>Complete e-KYC through Biometric</label>
                <form [formGroup]="BiometricCatureForm">
                  <label id="example-radio-group-label">Choose your Device</label>
                  <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="device_name" formControlName="device_name">
                     <mat-radio-button class="example-radio-button" *ngFor="let name of device_name_list" [value]="name">
                     {{name}}
                     </mat-radio-button>
                  </mat-radio-group>
                    <button mat-button mat-raised-button class="btn btnwidth btn-info btncls" id="cwbutton" [disabled]="port=='' && device_name ==''" (click)="capture()">Capture</button>
                </form>
            </div>
          </div>
       </section>
       <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
       <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- Main Footer -->
    <footer class="main-footer">
       <strong
          >Copyright &copy; 2014-2021</strong
          >
       All rights reserved.
       <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
    </footer>
  </div>