<div class="aadhar-otp">
    <form *ngIf="aadharotpform" id="aadharotmfrm" #namedElement [formGroup]="AadharOtpFormGroup" action="{{initWebVIKYCURL}}" method="POST" (ngSubmit)="aadharOtpSubmit($event)">
      <!-- <mat-card> -->
        <!-- <mat-card-header> -->
          <!-- <mat-card-title>Aadhar OTP</mat-card-title> -->
          <h1>Aadhar OTP</h1>
        <!-- </mat-card-header> -->
        <!-- <mat-card-content> -->
            <input type="hidden" name="client_code" formControlName="client_code" [(ngModel)]="client_code">
            <input type="hidden" name="api_key" formControlName="api_key" [(ngModel)]="api_key">
            <input type="hidden" name="redirect_url" formControlName="redirect_url" [(ngModel)]="redirect_url">
            <input type="hidden" name="request_id" formControlName="request_id" [(ngModel)]="request_id">
            <input type="hidden" name="stan" formControlName="stan" [(ngModel)]="stan">
            <input type="hidden" name="hash" formControlName="hash" [(ngModel)]="hash">
            <input type="hidden" name="mobile" formControlName="mobile" [(ngModel)]="mobile">
            <input type="hidden" name="otp_required" formControlName="otp_required" [(ngModel)]="otp_required">
        <!-- </mat-card-content> -->
        <!-- <mat-card-actions> -->
          <button mat-button id="click" class="btn btn-secondary hide" >Proceed</button>
          
        <!-- </mat-card-actions> -->
      <!-- </mat-card> -->
    </form>
  
    <div class="container-fluid" *ngIf="aadharotploader">
      <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="divLoading">
                <p>
                  <img src="assets/ajax-loading.gif">
                    You are being redirected, please wait...
                </p>
            </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" *ngIf="loader">
        <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="divLoading">
                  <p>
                    <img src="assets/ajax-loading.gif">
                      Your Verification is in progess, please wait...
                  </p>
              </div>
          </div>
        </div>
    </div>
    <div *ngIf="msg !=''">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap" rel="stylesheet">
        <h1>Verification Result</h1>
        <p>{{(msg != '')? msg : ''}}</p><br>
    </div>
  </div>
  
  
  
   
  