<mat-dialog-content class="mat-typography">
   <mat-card class="example-card">
    <mat-card-header>
       <mat-card-title>Update User</mat-card-title>
    </mat-card-header>
    <form class="remarks-form" [formGroup]="UpdateUserFormGroup" (ngSubmit)="updateUser()">
        <mat-card-content>
            <mat-form-field class="kyc-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter First Name" [(ngModel)]="first_name" formControlName="first_name">
            </mat-form-field>
            <mat-form-field class="kyc-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Last Name" [(ngModel)]="last_name"  formControlName="last_name">
            </mat-form-field>
            <mat-form-field class="kyc-full-width">
                <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter Email" [(ngModel)]="email" formControlName="email">
            </mat-form-field>
            
            <mat-form-field class="kyc-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Password"  formControlName="password">
            </mat-form-field>
        
            <mat-form-field class="kyc-full-width">
                <mat-label>Role</mat-label>
                <mat-select  [(ngModel)]="userRole" formControlName="userRole" (selectionChange)="selectRole($event.value)">
                    <mat-option *ngFor="let role of userRoleList" [value]="role.id">
                      {{role.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>

            <mat-form-field class="kyc-full-width" *ngIf="showStatus">
              <mat-label>Assign Status</mat-label>
                <mat-select  [(ngModel)]="assignStatus" formControlName="assignStatus" multiple>
                  <mat-option *ngFor="let status of assignStatusList" [value]="status.value">
                    {{status.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
              <mat-radio-group formControlName="options" [(ngModel)]="option" >
                <mat-radio-button [value]="0">Edit</mat-radio-button>&nbsp;
                <mat-radio-button [value]="1">View</mat-radio-button>
              </mat-radio-group> 
            </div>

          <mat-slide-toggle formControlName="status" [(ngModel)]="isChecked">Enabled</mat-slide-toggle>
        </mat-card-content>
        <mat-card-actions>
            <div class="example-action-buttons">
                <button type="submit" class="btn btn-outline-secondary" mat-raised-button [disabled]="!UpdateUserFormGroup.valid"><i class="fa fa-check"></i>Update</button>
            </div>
        </mat-card-actions>
    </form>
 </mat-card>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" class="btn btn-outline-secondary" cdkFocusInitial>Close</button>
  </mat-dialog-actions>
