.remarks-card {max-width: 600px;margin: auto;width: 60%;padding: 10px;}
.remarks-form {min-width: 150px;max-width: 500px;width: 100%;}
.remarks-full-width {width: 100%;}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }