<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <!-- Right navbar links -->
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="logo" style="text-align: center;"><img style="width:206px" src="assets/logo.png"></div>
    <div class="sidebar">
      <nav class="mt-1">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-remarks" class="nav-link " *ngIf="user.type && user.type == 3">
              <i class="nav-icon fa fa-book"></i>
              <p>Remarks</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-reports" class="nav-link ">
              <i class="fas fa-clipboard-list nav-icon"></i>
              <p>Reports</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" class="nav-link active" *ngIf="user.type && user.type != 3">
              <i class="fa fa-users nav-icon"></i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/agent-error" class="nav-link ">
              <i class="fa fa-exclamation-triangle nav-icon"></i>
              <p>Agent Error</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-settings" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-cog nav-icon"></i>
              <p>Settings</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/signzyLog" class="nav-link " *ngIf="user.type && user.type != 3">
              <i class="fa fa-spinner nav-icon"></i>
              <p>Signzy Log</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/appLink" class="nav-link ">
              <i class="fa fa-mobile nav-icon"></i>
              <p>App Link</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/deleteForms" class="nav-link ">
              <i class="fa fa-ban nav-icon"></i>
              <p>Delete Forms</p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <ul class="nav">
              <li class="nav-item">
                <a routerLink="/login" (click)="logMeOut()" href="javascript:void(0)" class="nav-link">
                  &nbsp;<i class="fa fa-sign-out-alt nav-icon"></i>
                  <p>Logout</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">User List</h1>
          </div>

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active">User List</li>
            </ol>
          </div>

        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="card card-body">
          <div class="">
            <div class="row">
              <div class="col-md-9">
                <form (submit)="SearchUserData()" [formGroup]="SearchUserFormData" class="kyc-form">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="kyc-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter email" formControlName="email">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-select placeholder="Select Status" formControlName="status">
                          <mat-option value="no">Active</mat-option>
                          <mat-option value="yes">De-Active</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <input type="hidden" formControlName="page" name="page" [(ngModel)]="page">
                      <button class="btn btn-navbar" mat-button type="submit">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-3 pull-right border-left">
                <button class="btn btn-navbar" mat-button type="submit" (click)="openAddUserDialog()">
                  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add User
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-body" *ngIf="loader">
          <img class="center-block" src="assets/ajax-loading.gif">
        </div>
        <div class="card card-body" *ngIf="showlist">
          <div *ngIf="showlist">
            <div class="row">
              <div class="col-md-6 pull-left">
                <div *ngIf='userListData.length !== 0'>
                  <strong>Total Records</strong> : <span>{{length}}</span>
                </div>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="table-responsive">
              <table *ngIf='userListData.length !== 0' class="table table-hover table-striped table-bordered"
                cellspacing="0" width="100%">
                <thead class="tblhead">
                  <tr align="center">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status Assigned ( For Staff )</th>
                    <th>Created On</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let userData of userListData; let i = index" align="center">
                    <td>{{userData.id}}</td>
                    <td>{{userData.first_name}}</td>
                    <td>{{userData.last_name}}</td>
                    <td>{{userData.email}}</td>
                    <td>{{userData.name}}</td>
                    <td>
                      <span *ngFor="let status of (userData.assign_status).split(',')">
                        <span [ngSwitch]="status">
                          <p *ngSwitchCase="1">Pre Approved</p>
                          <p *ngSwitchCase="2">Approved</p>
                          <p *ngSwitchCase="3">Rejected</p>
                          <p *ngSwitchCase="5">Pending</p>
                        </span>
                      </span>
                    </td>
                    <td>{{userData.created_at | date: 'MMM d, yyyy hh:mm a'}}</td>
                    <td *ngIf="userData.isBlocked=='no'">
                      <button class="btn" mat-button (click)="openDialog(userData.id)"> <i
                          class="nav-icon fas fa-edit"></i>Edit</button>&nbsp;|&nbsp;<mat-slide-toggle [checked]="true"
                        (change)="changeStatus($event,userData.id)">Enabled</mat-slide-toggle>
                    </td>
                    <td *ngIf="userData.isBlocked=='yes'">
                      <button class="btn" mat-button (click)="openDialog(userData.id)"> <i
                          class="nav-icon fas fa-edit"></i>Edit</button>&nbsp;|&nbsp;<mat-slide-toggle [checked]="false"
                        (change)="changeStatus($event,userData.id)">Enabled</mat-slide-toggle>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div *ngIf='userListData.length === 0' align="center">
                <p>No Record Found!!!</p>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator *ngIf='userListData.length !== 0' [length]="length" [pageSize]="pageSize"
          (page)="pageevent($event)">
        </mat-paginator>
      </div>
    </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 </strong>
    All rights reserved.
    <!-- <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.0.0</div> -->
  </footer>
</div>

<ngx-ui-loader></ngx-ui-loader>
